---
subject: "Regalá beneficios con una adicional"
header: "Regalá beneficios con una adicional"
preheader: "Regalá beneficios con una adicional"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "REGALÁ UNA ADICIONAL"
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/adicional?utm_source=eloqua&utm_medium=email&utm_campaign=cr-tjc-credito-adicional-dic-2018&utm_content=correo-nuevas-dic-2018-web"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/correo-tarjeta-adicional-dic-2018-main-img.jpg" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/correo-tarjeta-adicional-icono-1.png" alt="En línea">
            </a>
        </center>
    </columns small="8" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Solicitud en línea y entrega a domicilio.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/correo-tarjeta-adicional-icono-2.png" alt="Sin costo">
            </a>
        </center>
    </columns small="8" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">No tiene costo adicional.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/correo-tarjeta-adicional-icono-3.png" alt="Acumulación">
            </a>
        </center>
    </columns small="8" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Acumula igual que la tarjeta titular.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img  src="/images/correo-tarjeta-adicional-icono-4.png" alt="Control de limite">
            </a>
        </center>
    </columns small="8" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Vos controlás el monto del limite.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/correo-tarjeta-adicional-icono-5.png" alt="Mismos beneficios">
            </a>
        </center>
    </columns small="8" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Mismos beneficios y promociones.</p>
    </columns>
</row>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Te la llevamos a tu casa o lugar de trabajo</h2>
            <spacer size="30"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>