---
subject: "Regalá beneficios con una adicional"
header: "Regalá beneficios con una adicional"
preheader: "Regalá beneficios con una adicional"
version_web: "https://archivos.baccredomatic.com/email/es-cr/adicionales/cr-tarjetas-adicionales-febrero-web-2019.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "REGALÁ UNA ADICIONAL"
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/adicional?utm_source=email&utm_medium=eloqua&utm_campaign=cr-tjc-credito-adicional-febrero-2019&utm_content=correo-adcionales-feb-2019"
disclaimer: "* Aplican restricciones. Ver beneficios y condiciones de las tarjetas en baccredomatic.com"
disclaimer2: "** La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-adicionales-febrero-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="50"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-1.png" alt="En línea">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Solicitud en línea y entrega a domicilio.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-2.png" alt="Sin costo">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">No tiene costo adicional.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-3.png" alt="Acumulación">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Acumula igual que la tarjeta titular.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img  src="/images/cr-adicionales-febrero-2019-icono-4.png" alt="Control de limite">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Vos controlás el monto del límite.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-5.png" alt="Mismos beneficios">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Mismos beneficios y promociones.</p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
  <columns>
    <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Solicitala 24/7 por el medio</h2>
    <p style="font-size: 1.4em;text-align: center;">que mejor se ajuste a tus necesidades</p>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-adicionales-febrero-2019-icono-6.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="color: #E4002B;text-align: center;">
            WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-adicionales-febrero-2019-icono-7.png" alt="Llamada">
            </a>
            <spacer size="15"></spacer>
            <h2 style="color: #E4002B;text-align: center;">
                Llamada
            </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-adicionales-febrero-2019-icono-8.png" alt="Formulario">
            </a>
            <spacer size="15"></spacer>
            <h2 style="color: #E4002B;text-align: center;">
                Formulario
            </h2>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="20"></spacer>
            <p style="font-size: 1.2em;text-align: center;">Vos elegís el lugar para la entrega</p>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>