---
subject: Bienvenido al Programa de Lealtad CashBack BLUE
header: Bienvenido al Programa de Lealtad CashBack BLUE
preheader: Bienvenido a tu Programa de Lealtad CashBack BLUE
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Elegí tus industrias
cta_link: "https://www.baccredomatic.com/es-cr/form/4621#utm_source=email&utm_medium=kentico&utm_campaign=tarjetablue_cambio_industria_agosto_20_2017&utm_content=04DAtarjetablue_cambioindustria_agosto_22_2017"
cta_title: "Click para descubrir como"
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-2017-08-22-blue-industrias-web.html"
disclaimer: Aplican restricciones. Ver reglamento del plan de lealtad en baccredomatic.com/viviblue. American Express es una marca de American Express. Las tarjetas son emitidas por BAC Credomatic bajo licencia de American Express
layout: ventas
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Con tu Nueva Tarjeta Blue American Express de BAC Credomatic® acumulás hasta 5% en colones CashBack Blue, en 2 industrias que vos elijás.</p>
  </columns>
  <columns small="12" large="6">
    <row>
      <img src="/images/correo-blue-foto.jpg"/>
    </row>
  </columns>
</row>

<row>
  <columns small="12" large="12" class="">
    <h2> Tu tarjeta BLUE está diseñada para que acumulés CashBack BLUE en las siguientes industrias:</h2>
    <ul>
      <li>Restaurantes y Comidas rápidas</li>
      <li>Entretenimiento</li>
    </ul>
  </columns>
</row>

<row>
  <columns small="12" large="12" class="ulcolumns-first">
      <h2>Podés cambiar de industrias una vez al mes de acuerdo a tu consumo. Tenés estas 10 industrias para elegir:</h2>
  </columns>
</row>

<row>
  <columns small="10" large="4" class="ulcolumns-first">
    <ul>
      <li>Restaurantes y Comidas rápidas</li>
      <li>Farmacias</li>
      <li>Salud</li>
      <li>Entretenimiento</li>
      <li>Ropa y Zapatería</li>
    </ul>
  </columns>

  <columns small="10" large="4" class="ulcolumns-last">
    <ul>
      <li>Supermercados</li>
      <li>Tiendas por departamento</li>
      <li>Educación</li>
      <li>Gasolineras</li>
      <li>Turismo</li>
    </ul>
  </columns>
</row>


<row>
  <columns>
      <p>Sólo tenés que dar click en el siguiente botón y realizar el cambio cuando querás:</p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
