---
subject: Tenés un préstamo pre-aprobado
header:  Tenés un préstamo pre-aprobado
preheader: Obtené tu préstamo personal en-línea y sin costos de formalización.
description:
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-2017-08-11-prestamos-web.html"
cta_text: Solicitalo aquí
cta_link: "https://www.baccredomatic.com/es-cr/form/3491?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_personales_email_eloqua_08_2017"
cta_title: "Click para descubrir como"
disclaimer: Aplican restricciones, ver reglamento en baccredomatic.com. Si ya formalizaste tu Préstamo Personal, omití este mensaje. Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra "remover" en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días.
layout: prestamos
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <spacer size="20"></spacer>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>

  </columns>
  <columns small="12" large="6">
    <row>
      <img src="/images/prestamos.jpg"/>
    </row>
  </columns>
</row>

<row>
  <columns small="12" large="12" class="">
    <p>Solicitá tu préstamo pre-aprobado desde la comodidad de tu casa o negocio y sin costos de formalización. Solicitalo hoy mismo y empezá a cumplir tus metas.</p>
      <ul>
        <li>Convenientes tasas de interés</li>
        <li>Trámites ágiles y sin fiador</li>
        <li>Sin comisiones por desembolso</li>
        <li>Solicitud en Línea</li>
        <li>Plazos de 36, 48 o 60 meses</li>
        <li>Red de Pagos y agencias BAC Credomatic</li>
      </ul>
  </columns>
</row>
  {{> contact}}
<row>
  <columns>
    <p style="text-align: center;">
    </p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
