---
subject: Sabemos que no te gustan las filas
header: Sabemos que no te gustan las filas
preheader: Sabemos que no te gustan las filas
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "SOLICITALA AQUÍ"
cta_link: "https://www.baccredomatic.com/es-cr/solicitud-transferencia-programada?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_transferencias_filas_email_siebel_10_9_2017&utm_content=iconos"
disclaimer:
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <p>Utilizá el servicio <strong>Transferencia Programada</strong> de BAC Credomatic para traer fondos de otras entidades financieras de manera inmediata y gratuita a tu cuenta bancaria. </p>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    </columns>
    <columns small="12" large="6">
      <row>
        <img src="/images/cr-cuentas-transferencias-filas-10-9-2017-main.jpg"/>
      </row>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns small="12" large="12" class="">
      <p>Hacelo sin filas, sin presas y sin la necesidad de cargar dinero en efectivo.</p>
      <h2>Podrás disfrutar de los siguientes beneficios:</h2>
    </columns>
  </row>
  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/solicitud-transferencia-programada?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_transferencias_filas_email_siebel_10_9_2017&utm_content=iconos">
              <img class="emailImage" src="/images/cr-cuentas-transferencias-filas-10-9-2017-icono-1.jpg" alt="Paso 1"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <p>Tener un ahorro automático y programado.</p>
        </columns>
      </center>
  </row>

  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/solicitud-transferencia-programada?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_transferencias_filas_email_siebel_10_9_2017&utm_content=iconos">
              <img class="emailImage" src="/images/cr-cuentas-transferencias-filas-10-9-2017-icono-2.jpg" alt="Paso 2"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <p>Administrar tu cuenta y este servicio por medio de Banca en Línea.</p>
        </columns>
      </center>
  </row>

  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/solicitud-transferencia-programada?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_transferencias_filas_email_siebel_10_9_2017&utm_content=iconos">
              <img class="emailImage" src="/images/cr-cuentas-transferencias-filas-10-9-2017-icono-3.jpg" alt="Paso 3"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <p>Realizar el pago de la tarjeta de crédito, préstamos o hacer transferencias a tu cuenta.</p>
        </columns>
      </center>
  </row>

  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/solicitud-transferencia-programada?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_transferencias_filas_email_siebel_10_9_2017&utm_content=iconos">
              <img class="emailImage" src="/images/cr-cuentas-transferencias-filas-10-9-2017-icono-4.jpg" alt="Paso 4"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <p>Fácil de usar y gratuito.</p>
        </columns>
      </center>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns small="12" large="12" class="">
      <h2>Requisitos:</h2>
      <ul>
        <li>Tener una cuenta bancaria activa en BAC Credomatic y en otro banco a nombre personal.</li>
        <li>Tener la información de la cuenta cliente (17 dígitos) o IBAN (22 dígitos).</li>
        <li>Las cuentas bancarias deben estar a tu nombre.</li>
      </ul>
      <param>Para mas información visite cualquiera de nuestras Sucursales BAC Credomatic y solicítalo.</p>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
