---
subject: Cuenta de Ahorros BAC Credomatic
header: Cuenta de Ahorros BAC Credomatic
preheader: Cuenta de Ahorros BAC Credomatic
description:
charset: ISO-8859-1
replyto: cuentas@baccredomatic.com
cta_text: "SOLICITALA AQUÍ"
cta_link: "https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=main-cta"
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-cuentas-ahorros-enero-2018-web.html"
disclaimer:
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <p>Ahorrá de manera diaria con la cuenta Ahorros BAC Credomatic, ganá interés por tus ahorros, realizá tramites en línea y transferencias entre bancos, sin costo.</p>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    </columns>
    <columns small="12" large="6">
      <row>
        <img src="/images/cr-correo-cuenta-ahorros-main.jpg"/>
      </row>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns small="12" large="12" class="">
      <h2>Disfrutá de los siguientes beneficios:</h2>
    </columns>
  </row>
  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=iconos">
              <img class="emailImage" src="/images/cr-correo-cuenta-ahorros-icono-1.jpg" alt="Tarjeta Débito"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <h2>Tarjeta internacional</h2>
            <p>Tarjeta de débito internacional para retiros en ATM y compras, en Costa Rica y el extranjero.</p>
        </columns>
      </center>
  </row>

  <row>
    <center>
      <columns small="3" large="2" class="columnscards">
          <a href="https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-correo-cuenta-ahorros-icono-2.jpg" alt="Financiemiento"></a>
      </columns>
      <columns small="9" large="10" style="padding-top: 5px;" class="">
        <h2>Financiamiento inmediato en línea</h2>
        <p>Crédito 24/7 te permite obtener préstamos mediante el saldo de tu tarjeta de crédito, desde nuestro sitio web.</p>
      </columns>
    </center>
</row>

  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=iconos">
              <img class="emailImage" src="/images/cr-correo-cuenta-ahorros-icono-3.jpg" alt="Tramites en línea"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <h2>Olvidate de hacer filas</h2>
            <p>Realizá tus trámites desde una computadora o celular a través de Banca en línea. (Pago de Tarjeta, Consulta de Saldo y Puntos).</p>
        </columns>
      </center>
  </row>

  <row>
      <center>
        <columns small="3" large="2" class="columnscards">
            <a href="https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=iconos">
              <img class="emailImage" src="/images/cr-correo-cuenta-ahorros-icono-4.jpg" alt="Ahorro"></a>
        </columns>
        <columns small="9" large="10" style="padding-top: 5px;" class="">
            <h2>Interés mensual y ahorro automático</h2>
            <p>Objetivos BAC Credomatic te permite mantener un ahorro programado y ganar rentabilidad.</p>
        </columns>
      </center>
  </row>


  <row>
    <center>
      <columns small="3" large="2" class="columnscards">
          <a href="https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros?utm_source=email&utm_medium=siebel&utm_campaign=cr_cuentas_ahorros_email_siebel_enero_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-correo-cuenta-ahorros-icono-5.jpg" alt="Transferencias"></a>
      </columns>
      <columns small="9" large="10" style="padding-top: 5px;" class="">
          <h2>Transferencias de dinero sin costo</h2>
          <p>Trasladá gratis dinero de una cuenta de otra entidad financiera a tu cuenta BAC Credomatic, con nuestro servicio Transferencia Programada.</p>
      </columns>
    </center>
</row>

  <spacer size="30"></spacer>
  <row>
    <columns>
      <center>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
