---
subject: Estamos listos para depositarte tu préstamo
header:  Estamos listos para depositarte tu préstamo personal
preheader: Estamos listos para depositarte tu préstamo
description:
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: Completá tus datos aquí
cta_link: "https://www.baccredomatic.com/es-cr/form/3491?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_personales_email_siebel_01_11_2017"
cta_title: "Click para descubrir como"
disclaimer: Aplican restricciones, ver reglamento en baccredomatic.com. Si ya formalizaste tu Préstamo Personal, omití este mensaje. Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra "remover" en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días.
layout: prestamos-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <spacer size="20"></spacer>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>

  </columns>
  <columns small="12" large="6">
    <row>
      <img src="/images/cr-prestamos-sec.jpg"/>
    </row>
  </columns>
</row>

<row>
  <columns small="12" large="12" class="">
    <p>Estimado cliente necesitamos la siguiente información para completar la solicitud de préstamo personal:</p>
      <ul>
        <li>Datos Personales</li>
        <li>Datos Laboales</li>
        <li>Dirección de Entrega</li>
      </ul>
  </columns>
</row>

<row>
  <columns>
    <p style="text-align: center;"></p>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      <spacer size="10"></spacer>
      {{> contact-tel}}
    </center>
  </columns>
</row>
