---
subject: Tenés un préstamo pre-aprobado
header:  Disponé hoy de efectivo inmediato, sin trámites, con Crédito 24/7
preheader: Disponé hoy de efectivo inmediato, sin trámites, con Crédito 24/7
description:
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: SOLICITALO AQUÍ
cta_link: "https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017"
cta_title: "Click para descubrir como"
disclaimer: "*Otorgado mediante el plan especial de financiamiento de tu tarjeta. Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: prestamos-web
---

  <row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p>Crédito 24/7 te permite obtener dinero inmediato con solo acceder a tu cuenta en baccredomatic.com</p>
    </columns>
      <columns small="12" large="12" class="">
          <a href="https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017&utm_content=img_main">
            <img class="emailImage" src="/images/cr-prestamos-credito247-main3.jpg" alt="Crédito 24/7">
          </a>
      </columns>
    </row>
<row>
    <columns small="12" large="12" class="">
          <p><strong>Solicitalo en solo 4 pasos:</strong></p>
    </columns>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>

          <a href="https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-1.jpg" alt="Paso 1"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 1</strong></p>
          <p>Indicá la tarjeta de crédito a utilizar.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-2.jpg" alt="Paso 2"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 2</strong></p>
          <p>Elegí entre Adelanto de Efectivo y Efectivo a Plazo.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-3.jpg" alt="Paso 3"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 3</strong></p>
          <p>Escogé la moneda (colones o dólares), el monto y las condiciones.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.sucursalelectronica.com/redir/showLogin.go?utm_source=email&utm_medium=siebel&utm_campaign=cr_prestamos_credito247_email_siebel_09_2017&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-4.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 4</strong></p>
          <p>Seleccioná la cuenta para depositar el dinero.</p>
        </center>
      </columns>
  </center>
</row>

<row>
  <columns>
    <p style="text-align: center;">
    </p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
          <spacer size="10"></spacer>
        {{> contact}}
    </center>
  </columns>
</row>
