---
subject: Sabemos lo que cuesta ganarse el dinero
header: Sabemos lo que cuesta ganarse el dinero
preheader: Sabemos lo que cuesta ganarse el dinero
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "PROTEGÉ TU TARJETA"
cta_link: "https://www.baccredomatic.com/es-cr/form/3891?utm_source=email&utm_medium=siebel&utm_campaign=cr_seguro_prf_credito_email_siebel_09_01_2018&utm_content=cta_main"
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-seguros-tarjetas-prf-01-2018-web.html"
disclaimer: "Este seguro es de aceptación voluntaria; suscrito con Aseguradora Assa, Seguro de tarjeta crédito/débito (dólares), registro ante SUGESE G07-46-A05-191, más información en www.baccredomaticseguros.com"
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@baccredomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p><strong>Protegé tus tarjetas de crédito con el seguro protección de tarjeta PRF.</strong></p>
    </columns>
    <columns small="12" large="6">
      <row>
        <img src="/images/cr-seguros-prf-tarjetas-credito.png"/>
      </row>
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns small="12" large="12" class="">
      <p>Protegete en caso de pérdida, robo o fraude con tu seguro PRF que te ofrece dos coberturas para respaldarte en caso de robo de tu tarjeta o asalto en cajero, o bien te puede brindar asistencias especiales en caso de un funeral o de un viaje:</p>
    </columns>
  </row>
  
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/form/3891?utm_source=email&utm_medium=siebel&utm_campaign=cr_seguro_prf_credito_email_siebel_09_01_2018&utm_content=robo">
                <img class="emailImage" src="/images/cr-seguros-prf-tarjetas-credito-robo.jpg" alt="Robo ó extravío"></a>
                  <spacer size="20"></spacer>
                  <h3 style="color: #4D4D4F;"><strong>Robo ó extravío</strong></h3>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/form/3891?utm_source=email&utm_medium=siebel&utm_campaign=cr_seguro_prf_credito_email_siebel_09_01_2018&utm_content=asalto">
                <img class="emailImage" src="/images/cr-seguros-prf-tarjetas-credito-atm.jpg" alt="Asalto en cajero"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Asalto en cajero</strong></h3>
          </center>
        </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/form/3891?utm_source=email&utm_medium=siebel&utm_campaign=cr_seguro_prf_credito_email_siebel_09_01_2018&utm_content=asistencia_funeraria">
                <img class="emailImage" src="/images/cr-seguros-prf-tarjetas-credito-funeraria.jpg" alt="Asistencia funeraria"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Asistencia funeraria</strong></h3>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/form/3891?utm_source=email&utm_medium=siebel&utm_campaign=cr_seguro_prf_credito_email_siebel_09_01_2018&utm_content=asistencia_viajes">
                <img class="emailImage" src="/images/cr-seguros-prf-tarjetas-credito-viajes.jpg" alt="Asistencia en viajes"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Asistencia en viajes</strong></h3>
          </center>
        </columns>
  </row>
  
  
  <row>
    <columns>
      <center>
        <p style="color: #E4002B;text-align:center"></p>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
  