---
subject: Tenés una tarjeta pre aprobada, solicitala en línea
header: Tenés una tarjeta pre aprobada, solicitala en línea
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Elegí la tuya aquí"
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_clasicas_mayo_2018&utm_content=cta_main"
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-tarjetas-preaprobadas-clasicas-mayo-18-2018-web.html"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p>Elegí la tarjeta que mejor se adapte a tus necesidades y aprovechá todos los beneficios BAC Credomatic.</p>
    </columns>
    <columns small="12" large="6">
      <row>
        <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-preaprobadas-clasicas-main-cafe-copy-2.gif"/>
        </a>
      </row>
    </columns>
  </row>
  <spacer size="10"></spacer>

  {{> beneficiosclasicos }}

  <spacer size="10"></spacer>
  
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback/tarjeta-blue?utm_source=email&utm_medium=eloqua&cr_tarjetas_credito_preaprobadas_clasicas_productos_email_eloqua_mayo_2018&utm_content=img_tarjeta_blue">
                <spacer size="20"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>TARJETA BLUE</strong><br> <span style="color: #7D7D7D;">American Express</span></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-blue.png" alt="Tarjetas CashBack"></a>
                  
                  <h4>
                  <ul style="color: #4D4D4F">
                  <li>Devolución en efectivo</li>
                  <li>Hasta 5% CashBack*</li>
                  <li>Vos elegís las industrias</li>
                  </ul>
                  </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback/tarjetas-cashback?utm_source=email&utm_medium=eloqua&cr_tarjetas_credito_preaprobadas_clasicas_productos_email_eloqua_mayo_2018&utm_content=img_tarjeta_cashback">
                <spacer size="20"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>TARJETA CASHBACK</strong><br> <span style="color: #7D7D7D;">de BAC Credomatic</span></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-cashback.png" alt="Tarjeta para Viajes"></a>
              <h4>
              <ul style="color: #4D4D4F;">
                <li>Retorno en efectivo por sus compras</li>
                <li>No tiene costo redimir el CashBack</li>
                <li>MasterCard, Visa y American Express® </li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>

  <spacer size="30"></spacer>
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/supermercados-clubes-y-tiendas/walmart?utm_source=email&utm_medium=eloqua&cr_tarjetas_credito_preaprobadas_clasicas_productos_email_eloqua_mayo_2018&utm_content=img_tarjeta_walmart">
                <spacer size="10"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>TARJETA WALMART</strong><br> <span style="color: #7D7D7D;">de BAC Credomatic</span></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-walmart.png" alt="Tarjeta Walmart"></a>
              <h4>
              <ul style="color: ##4D4D4F;">
                <li>Acumulá un 5% de Walmart Cash con tus compras</li>
                <li>Financiamiento de compras a plazo</li>
              </ul>
              </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/supermercados-clubes-y-tiendas/automercado?utm_source=email&utm_medium=eloqua&cr_tarjetas_credito_preaprobadas_clasicas_productos_email_eloqua_mayo_2018&utm_content=img_tarjeta_automercado">
                <spacer size="10"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>TARJETA AUTO MERCADO</strong><br> <span style="color: #7D7D7D;">de BAC Credomatic</span></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-automercado.png" alt="Tarjetas para Supermercados"></a>
              <h4>
              <ul style="color: #4D4D4F;margin-right:20px">
                <li>Acumula 10 veces más Puntos*</li>
                <li>No tiene costo de administración</li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>
  
  <row>
    <columns>
      <center>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
  