---
subject: Tenés una tarjeta pre aprobada, solicitala en línea
header: Tenés una tarjeta pre aprobada, solicitala en línea
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Elegí la tuya aquí"
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_doradas_email_mayo_2018&utm_content=cta_main"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Elegí la tarjeta que mejor se adapte a tus necesidades y aprovechá todos los beneficios BAC Credomatic.</p>
  </columns>
  <columns small="12" large="6">
    <row>
      <img src="/images/cr-tarjetas-preaprobadas-main-10-2017.gif" />
    </row>
  </columns>
</row>
<spacer size="10"></spacer>
{{> beneficiosclasicos }}
<spacer size="10"></spacer>
<row>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_eloqua_mayo_2018&utm_content=gif_tarjetas_cashback">
        <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-cashback-10-2017.gif" alt="Tarjetas CashBack">
      </a>
      <spacer size="20"></spacer>
      <h3 style="color: #4D4D4F;">
        <strong>CashBack</strong>
      </h3>
      <h4>
        <ul style="color: #4D4D4F">
          <li>Devolución en efectivo</li>
          <li>Hasta 5% CashBack*</li>
        </ul>
      </h4>
    </center>
  </columns>

  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/beneficios-para-viajes?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_eloqua_mayo_2018&utm_content=gif_tarjetas_viajes">
        <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-viajes-10-2017.gif" alt="Tarjeta para Viajes">
      </a>
      <spacer size="20"></spacer>
      <h3 style="color: #4D4D4F;">
        <strong>Viajes</strong>
      </h3>
      <h4>
        <ul style="color: #4D4D4F;">
          <li>Millas por Boletos</li>
          <li>Acumulación acelerada de millas</li>
        </ul>
      </h4>
    </center>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/supermercados-clubes-y-tiendas?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_eloqua_mayo_2018&utm_content=gif_tarjetas_supermercados">
        <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-supermercados-10-2017.gif" alt="Tarjeta para Supermercados">
      </a>
      <spacer size="20"></spacer>
      <h3 style="color: #4D4D4F;">
        <strong>Supermercados</strong>
      </h3>
      <h4>
        <ul style="color: ##4D4D4F;">
          <li>Acumulá Puntos por tus compras</li>
          <li>Financiamiento de compras a plazo</li>
        </ul>
      </h4>
    </center>
  </columns>

  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/acumula-puntos?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_eloqua_mayo_2018&utm_content=gif_tarjetas_puntos">
        <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-puntos-10-2017-copy.gif" alt="Tarjetas para Supermercados">
      </a>
      <spacer size="20"></spacer>
      <h3 style="color: #4D4D4F;">
        <strong>Puntos</strong>
      </h3>
      <h4>
        <ul style="color: #4D4D4F;margin-right:20px">
          <li>Rendención de Puntos y Millas</li>
          <li>Promociones exclusivas</li>
        </ul>
      </h4>
    </center>
  </columns>
</row>


<row>
  <columns>
    <center>
      <spacer size="10"></spacer>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>