---
subject: La tarjeta de crédito que siempre esperaste
header: La tarjeta de crédito que siempre esperaste
preheader: Tarjeta BLUE American Express® de BAC Credomatic
description:
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/blue-web-sep-26.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitala aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/blue?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_blue_email_siebel_09_26_2017&utm_content=cta_nuevas_blue"
cta_title: "Click para descubrir como"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com. ¿Alguna duda o consulta? Escribinos a tarjetas@baccredomatic.com. Si no deseás recibir más información o promociones en el futuro a través de esta vía, envianos un email para darte de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo tu nombre completo y tu número de cédula y serás excluido en los próximos 15 días."
layout: prestamos
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <spacer size="20"></spacer>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Recibí hasta 5% de CashBack por las compras en tus categorías favoritas, con la Tarjeta BLUE American Express®</p>
  </columns>
  <columns small="12" large="6">
    <row>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/blue?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_blue_email_siebel_09_26_2017&utm_content=hero_nuevas_blue">
        <img class="emailImage" src="/images/correo-blue-sep-img-main.jpg" alt="Tarjeta BLUE American Express® de Credomatic">
      </a>
    </row>
  </columns>
</row>
<row>
  <columns small="12" large="6">
    <p><strong>La Tarjeta BLUE American Express® te da beneficios hechos a tu medida:</strong></p>
  </columns>
</row>
<row>
<center>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
        <img class="emailImage" src="/images/correo-blue-sep-icono-obtene.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
    </center>
  </columns>
  <columns small="12" large="10" class="columnscards">
    <center>
      <p><strong>Obtené efectivo por tus compras</strong></p>
      <p>Por una compra de ¢100.000 recibí ¢5.000 CashBack BLUE. </p>
    </center>
  </columns>
</center>
</row>

<row>
<center>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
        <img class="emailImage" src="/images/correo-blue-sep-icono-decidi.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
    </center>
  </columns>
  <columns small="12" large="10" class="columnscards">
    <center>
      <p><strong>Decidí en que industrias acumular </strong></p>
      <p>Elegí entre 10 industrias y podés cambiarlas cada mes.</p>
    </center>
  </columns>
</center>
</row>

<row>
<center>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
        <img class="emailImage" src="/images/correo-blue-sep-icono-canjea.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
    </center>
  </columns>
  <columns small="12" large="10" class="columnscards">
    <center>
      <p><strong>Canjeá tu CashBack BLUE sin costo desde baccredomatic.com</strong></p>
      <ul style="text-align:left;">
        <li>Por efectivo</li>
        <li>Aplicalo al pago de tu tarjeta</li>
        <li>En viajesbaccredomatic.com</li>
      </ul>
    </center>
  </columns>
</center>
</row>

<row>
<center>
  <columns small="12" large="2" class="columnscards">
    <center>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
        <img class="emailImage" src="/images/correo-blue-sep-icono-promos.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
    </center>
  </columns>
  <columns small="12" large="10" class="columnscards">
    <center>
      <p><strong>Promociones y descuentos exclusivos</strong></p>
      <p>Descuentos en hoteles y alquiler de vehiculos*</p>
    </center>
  </columns>
</center>
</row>


  <row>
    <columns>
      <p style="text-align: center;">
      </p>
      <spacer size="10"></spacer>
      <center>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
