---
subject: Trasladá cualquier compra, en cuotas, sin intereses.
header: Trasladá cualquier compra, en cuotas, sin intereses.
preheader: Trasladá cualquier compra, en cuotas, sin intereses.
description:
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-tarjetas-traslado-compras-web-abril-2018.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Trasladá tus compras
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitudes/traslado-de-compras-cero-interes?utm_source=email&utm_campaign=cr_traslado&utm_content=abr_2018"
cta_title: "Click para descubrir como"
disclaimer: "* Aplica comisión por el traslado y requerimientos para mantener el beneficio, así mismo aplican otras condiciones y restricciones, ver reglamento en www.baccredomatic.com.  Solo aplica para tarjetas físicas."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
    <columns small="12" large="6">
        <h1>{{ header }}</h1>
        <spacer size="20"></spacer>
        <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
        <p>Aprovechalo trasladando tus compras realizadas del 1ero de julio al 31 de agosto de 2018.</p>
    </columns>
    <columns small="12" large="6">
        <row>
            <a href="{{cta_link}}s">
                <img class="emailImage" src="http://images.info.baccredomatic.com/EloquaImages/clients/BACINTERNATIONALBANKINC/%7B4ff08518-d0ea-42b0-ad2e-46ea717d2f7b%7D_cr-tarjetas-traslado-compras.gif"
                    alt="0% Intereses">
            </a>
        </row>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Ahora podés hacer tus compras en cualquier comercio y solicitar el traslado del pago a cuotas, 0% intereses*
                a 3, 6 o 10 meses plazo.</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/correo-blue-sep-icono-obtene.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top:15px;">
                    <strong>Compras igual o mayor a 100 mil colones o $ 200.</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/correo-blue-sep-icono-decidi.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top:15px;">
                    <strong>Compras cargadas en tu último estado de cuenta.</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjetas-traslado-compras-icono-tiempo.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top:15px;">
                    <strong>30 días naturales máximo después de realizada la compra, para  realizar el traslado.</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/correo-blue-sep-icono-canjea.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top:15px;">
                    <strong>Debés estar al día con el pago de tu tarjeta. (Pago mínimo)</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/correo-blue-sep-icono-promos.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top: 12px;">
                    <strong>No aplica para Minicuotas, Tasa Cero o Adelanto de Efectivo.</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="2" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjetas-traslado-compras-icono-moneda.jpg" alt="">
                </a>
            </center>
        </columns>
        <columns small="12" large="10" class="columnscards">
            <center>
                <p style="padding-top: 12px;">
                    <strong>Comisiones por traslado: a 3 meses una comisión de 1,5%, a 6 meses una comisión del 3% y a 10 meses una
                        comisión del 5%, sobre el monto a trasladar.</strong>
                </p>
            </center>
        </columns>
    </center>
</row>

<row>
    <columns>
        <p style="text-align: center;">
        </p>
        <spacer size="10"></spacer>
        <center>
            <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>