---
subject: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito 
header: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito 
preheader: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito 
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "ENVIANOS TU DIRECCIÓN"
cta_link: "https://tarjetas.baccredomatic.com/es-cr/landing/solicitud/limite-global/?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_limiteglobal_doradas_web&utm_term=connectmiles_febrero_2018&utm_content=cta_web&id=~~eloqua..type--emailfield..syntax--Campo11..innerText--Campo11..encodeFor--url~~&elqTrackId=43ecb238d38d4de38b9a689e2fbae99d"

disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Complementá tu tarjeta actual con un plástico diferente y aprovecha mucho más beneficios.</p> <p><strong>Solamente necesitamos tu dirección</strong> para la entrega.</p>  
  </columns>
  <columns small="12" large="6">
    <row>
      <a href="{{cta_link}}"><img src="/images/cr-tarjetas-preaprobadas-doradas-main-connect.png"/></a>
    </row>
  </columns>
</row>

<row>
  <columns small="12" large="2" class="columnscards">
    <center>
        <a href="{{cta_link}}">
          <spacer size="20"></spacer>
          <h2 style="color: #4D4D4F; text-align:left; font-size: 1.3em;"><strong>TARJETA ConnectMiles</strong><br> <span style="color: #7D7D7D;">de BAC Credomatic</span></h2>
          <h4>
              <ul style="color: #4D4D4F;">
                <li>Hasta 15.000 millas de bienvenida</li>
                <spacer size="7"></spacer>
                <li>1.500 millas más al solicitar en línea</li>
                <spacer size="7"></spacer>
                <li>Segundo boleto a solo $99* una vez al año</li>
              </ul>
          </h4>
    </center>
  </columns>
  <columns small="12" large="3" class="columnscards">
    <a href="{{cta_link}}">
    <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-doradas-connect-300px.png" alt="Tarjeta ConnectMiles"></a>    
  </columns>
</row>

<spacer size="10"></spacer>

{{> beneficiosconnect }}

<spacer size="10"></spacer>

<row>
  <columns>
    <center>
      <p style="color: #E4002B;text-align:center">Hace click y confirmá tu dirección</p>
      <spacer size="10"></spacer>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
