---
subject: Trasladá cualquier compra, en cuotas, sin intereses.
header: Trasladá cualquier compra, en cuotas, sin intereses.
preheader: Trasladá cualquier compra, en cuotas, sin intereses.
description:
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-tarjetas-traslado-compras-octubre-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Trasladá tus compras
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitudes/traslado-de-compras-cero-interes?utm_source=email&utm_campaign=cr_traslado_octubre_2018&utm_content=oct_2018"
cta_title: "Click para descubrir como"
disclaimer: "* Aplica comisión por el traslado y requerimientos para mantener el beneficio, así mismo aplican otras condiciones y restricciones, ver reglamento en www.baccredomatic.com.  Solo aplica para tarjetas físicas."
disclaimer2: "* Máximo 5 traslados de compras por cliente por mes."
layout: regional-plantilla-tres
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-traslado-octubre-main.gif" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;">{{header}}</h1>
    </columns>
</row>
<row >
    <columns>
        <center>
            <spacer size="50"></spacer>
            <button class="secondary button sec-background" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
<row>
  <columns small="12" large="6">
    <h2 style="font-size: 22px; color: #E4002B;">
      <strong>Ahora podés hacer tus compras en cualquier comercio y solicitar el traslado del pago a cuotas, 0% intereses* a 3, 6
        o 10 meses plazo.</strong>
      </h2>
    <p>Aprovechalo trasladando tus compras realizadas del 01 de noviembre de 2018 al 31 de diciembre 2018.</p>
  </columns>
</row>
<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="{{cta_link}}">
          <img class="emailImage" src="/images/correo-blue-sep-icono-obtene.jpg" alt="">
        </a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p style="padding-top:15px;">
          <strong>Compras igual o mayor a 100 mil colones o $ 200.</strong>
        </p>
      </center>
    </columns>
  </center>
</row>

<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="{{cta_link}}">
          <img class="emailImage" src="/images/cr-tarjetas-traslado-compras-icono-tiempo.jpg" alt="">
        </a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p style="padding-top:15px;">
          <strong>Debés solicitar el traslado de tu compra 7 días naturales antes del próximo corte de tu tarjeta.</strong>
        </p>
      </center>
    </columns>
  </center>
</row>

<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="{{cta_link}}">
          <img class="emailImage" src="/images/correo-blue-sep-icono-canjea.jpg" alt="">
        </a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p style="padding-top:15px;">
          <strong>Debés estar al día con el pago de tu tarjeta. (Pago mínimo)</strong>
        </p>
      </center>
    </columns>
  </center>
</row>

<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="{{cta_link}}">
          <img class="emailImage" src="/images/correo-blue-sep-icono-promos.jpg" alt="">
        </a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p style="padding-top: 12px;">
          <strong>No aplica para Minicuotas, Tasa Cero o Adelanto de Efectivo.</strong>
        </p>
      </center>
    </columns>
  </center>
</row>

<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="{{cta_link}}">
          <img class="emailImage" src="/images/cr-tarjetas-traslado-compras-icono-moneda.jpg" alt="">
        </a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p style="padding-top: 12px;">
          <strong>Comisiones por traslado: a 3 meses una comisión de 1,5%, a 6 meses una comisión del 3% y a 10 meses una comisión del 5%, sobre el monto a trasladar.</strong>
        </p>
      </center>
    </columns>
  </center>
</row>
<row style="background-color: #f5f6f8;">
    <columns>
        <center>
            <spacer size="50"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
