---
subject: Tenés una tarjeta pre aprobada, solicitala en línea
header: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Elegí la tuya aquí"
cta_link: "https://tarjetas.baccredomatic.com/es-cr/landing/?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_doradas_productos_email_siebel_febrero_2018_web&utm_content=cta_web"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Elegí la tarjeta que mejor se adapte a tus necesidades y aprovechá todos los beneficios BAC Credomatic.</p>
  </columns>
  <columns small="12" large="6">
    <row>
        <a href="{{cta_link}}">
          <img src="/images/cr-tarjetas-preaprobadas-clasicas-main-cafe-copy-2.gif"/>
        </a>
    </row>
  </columns>
</row>
<spacer size="10"></spacer>
{{> beneficiosdorados }}
<spacer size="10"></spacer>
<row>
  <columns small="12" large="12" class="">
    <h2> Tenemos tarjetas para cada necesidad</h2>
  </columns>
</row>
<row>
      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/cashback?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_email_siebel_febrero_09_2018_web&utm_content=gif_tarjetas_cashback">
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-cashback-10-2017.gif" alt="Tarjetas CashBack"></a>
                <spacer size="20"></spacer>
                <h3 style="color: #4D4D4F;"><strong>CashBack</strong></h3>
                <h4>
                <ul style="color: #4D4D4F">
                <li>Devolución en efectivo</li>
                <li>Hasta 5% CashBack*</li>
                </ul>
                </h4>
        </center>
      </columns>

      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/viajes?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_email_siebel_febrero_09_2018_web&utm_content=gif_tarjetas_viajess">
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-viajes-10-2017.gif" alt="Tarjeta para Viajes"></a>
            <spacer size="20"></spacer>
            <h3 style="color: #4D4D4F;"><strong>Viajes</strong></h3>
            <h4>
            <ul style="color: #4D4D4F;">
              <li>Redimí tus millas por boletos aéreos</li>
              <li>Acumulación acelerada de millas</li>
            </ul>
            </h4>
        </center>
      </columns>
</row>
<spacer size="30"></spacer>
<row>
      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/tiendas-y-supermercados?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_email_siebel_febrero_09_2018_web&utm_content=gif_tarjetas_supermercados">
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-supermercados-10-2017.gif" alt="Tarjeta para Supermercados"></a>
            <spacer size="20"></spacer>
            <h3 style="color: #4D4D4F;"><strong>Supermercados</strong></h3>
            <h4>
            <ul style="color: ##4D4D4F;">
              <li>Acumulá Puntos por tus compras</li>
              <li>Financiamiento de compras a plazo</li>
            </ul>
            </h4>
        </center>
      </columns>

      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/puntos-y-premios?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_email_siebel_febrero_09_2018_web&utm_content=gif_tarjetas_puntos">
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-puntos-10-2017-copy.gif" alt="Tarjetas para Supermercados"></a>
            <spacer size="20"></spacer>
            <h3 style="color: #4D4D4F;"><strong>Puntos</strong></h3>
            <h4>
            <ul style="color: #4D4D4F;margin-right:20px">
              <li>Rendención de Puntos y Millas</li>
              <li>Promociones exclusivas</li>
            </ul>
            </h4>
        </center>
      </columns>
</row>

<row>
  <columns>
    <center>
      <p style="color: #E4002B;text-align:center">Aprovechá los mejores beneficios</p>
      <spacer size="10"></spacer>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
