---
subject: La tarjeta de crédito que siempre esperaste
header: La tarjeta de crédito que siempre esperaste
preheader: Tarjeta BLUE American Express® de BAC Credomatic
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitala aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/blue?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_blue_email_siebel_enero_23_2018&utm_content=cta_nuevas_blue"
cta_title: "Click para descubrir como"
disclaimer: ¿Alguna duda o consulta? Escribinos a tarjetas@baccredomatic.com. Si no deseás recibir más información o promociones en el futuro a través de esta vía, envianos un email para darte de baja en el servicio a la dirección remover@credomatic.com con la palabra "remover" en el asunto incluyendo tu nombre completo y tu número de cédula y serás excluido en los próximos 15 días.
layout: prestamos-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <spacer size="20"></spacer>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Tarjeta BLUE American Express® de BAC Credomatic</p>
  </columns>
  <columns small="12" large="6">
    <row>
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/blue?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_blue_email_siebel_enero_23_2018&utm_content=hero_nuevas_blue">
        <img class="emailImage" src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/correo-blue-foto-2.jpg" alt="Tarjeta BLUE American Express® de Credomatic"></a>
    </row>
  </columns>
</row>

<row>
<columns small="12" large="12" class="">
      <center>
        <spacer size="20"></spacer>
        <p class="text-center big-p-1">Obtené <strong>más beneficios</strong> con tu mismo límite de crédito.</p>
        <p class="text-center big-p-1">Acumulá hasta <strong>5% de CashBack BLUE.</strong></p>
        <p class="text-center big-p-1">Podés elegir 2 de 10 industrias una vez al mes para acumular tu CashBack BLUE.</p>

        <spacer size="20"></spacer>

        <p class="text-center"><small>Las tarjetas son emitidas por Credomatic bajo licencia de American Express.</small></p>
        <spacer size="20"></spacer>
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <p style="text-align: center;">
      </p>
      <spacer size="10"></spacer>
      <center>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
