---
subject: Tenés una tarjeta pre aprobada, solicitala en línea
header: Prepará tus maletas tenes una tarjeta pre-aprobada
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Elegí la tuya aquí"
cta_link: "https://tarjetas.baccredomatic.com/es-cr/landing/viajes?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_preaprobadas_doradas_viajes_email_siebel_febrero_2018_web&utm_content=cta_web"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p>Nuestras tarjetas te ofrecen beneficios exclusivos para viajes. Solicita la tuya desde uno de nuestros formularios.</p>
    </columns>
    <columns small="12" large="6">
      <row>
        <a href="{{cta_link}}">
            <img src="/images/cr-tarjetas-preaprobadas-doradas-main-1.gif"/>
        </a>
        
      </row>
    </columns>
  </row>
  <spacer size="10"></spacer>
  {{> beneficiosdorados }}
  <spacer size="10"></spacer>
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <spacer size="20"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>ConnectMiles</strong></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-doradas-plasticos-connect.png" alt="Tarjetas CashBack"></a>
                  
                  <h4>
                  <ul style="color: #4D4D4F">
                  <li>Hasta 15.000 millas de bienvenida</li>
                  <li>1.500 millas más al solicitar en línea</li>
                  <li>Segundo boleto a solo $99* una vez al año</li>
                  </ul>
                  </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <spacer size="20"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>LifeMiles</strong></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-doradas-plasticos-lifemiles.png" alt="Tarjeta para Viajes"></a>
              <h4>
              <ul style="color: #4D4D4F;">
                <li>Membresía Priority Pass de cortesía</li>
                <li>Acumulación acelerada de millas</li>
                <li>Membresía Hertz #1, sin costo.</li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>

  <spacer size="30"></spacer>
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <spacer size="10"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>AAdvantage&reg;</strong></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-doradas-plasticos-aadvantage.png" alt="Tarjeta para Supermercados"></a>
              <h4>
              <ul style="color: ##4D4D4F;">
                <li>1.500 millas más al solicitar en línea</li>
                <li>Disponible en las marcas VISA,MasterCard y American Express®</li>
              </ul>
              </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <spacer size="10"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>MillasPlus</strong></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-doradas-plasticos-millasplus.png" alt="Tarjetas para Supermercados"></a>
              <h4>
              <ul style="color: #4D4D4F;margin-right:20px">
                <li>Viajá con cualquier Aerolínea</li>
                <li>No requiere viajero frecuente</li>
                <li>Hasta 5.000 millas de Bienvenida</li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>
  
  <row>
    <columns>
      <center>
        <p style="color: #E4002B;text-align:center">Aprovechá los mejores beneficios</p>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
  