---
subject: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito
header: Solicitá una segunda tarjeta, manteniendo el mismo límite de crédito
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Elegí la tuya aquí"
cta_link: "https://tarjetas.baccredomatic.com/es-cr/landing/?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_limiteglobal_clasicas_productos_email_siebel_febrero_2018_web&utm_content=cta_web"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com."
unsubscribe: "Si no desea recibir más información o promociones en el futuro a través de esta vía, envíenos un email para darse de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover' en el asunto incluyendo su nombre completo y su número de cédula y será excluido en los próximos 15 días."
layout: ventas-web
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>Elegí una segunda tarjeta que complemente la ya tenés y aprovechá todos los beneficios BAC Credomatic.</p>
  </columns>
  <columns small="12" large="6">
    <row>
      <a href="{{cta_link}}"><img src="/images/cr-tarjetas-preaprobadas-clasicas-main-categorias.gif"/></a>
    </row>
  </columns>
</row>

<spacer size="10"></spacer>
{{> beneficiosclasicos }}
<spacer size="10"></spacer>

<row>
      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/cashback?utm_source=email&utm_campaign=cr_tarjetas_credito_preaprobadas_clasicas_categorias_email_siebel_febrero_2018&utm_content=gif_tarjetas_cashback">
              <spacer size="20"></spacer>
              <h2 style="color: #4D4D4F; text-align:center;"><strong>CASHBACK</strong></h2>
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-cashback-1.gif" alt="CashBack"></a>
              <spacer size="20"></spacer>
              <p style="color: #4D4D4F; max-width: 250px;">
                  ¡Ahorrar nunca ha sido tan fácil!<br>Reciba un retorno en efectivo por sus compras y utilícelo como quiera.
              </p>
        </center>
      </columns>
      <columns small="12" large="2" class="columnscards">
          <center>
              <a href="https://tarjetas.baccredomatic.com/es-cr/landing/tiendas-y-supermercados?utm_source=email&utm_campaign=cr_tarjetas_credito_preaprobadas_clasicas_categorias_email_siebel_febrero_2018&utm_content=img_tarjetas_supermercados">
                <spacer size="20"></spacer>
                <h2 style="color: #4D4D4F; text-align:center;"><strong>SUPERMERCADOS</strong></h2>
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-supermercados-1.gif" alt="CashBack"></a>
                <spacer size="20"></spacer>
                <p style="color: #4D4D4F; max-width: 250px;">
                      Beneficios y privilegios para ahorrar en sus compras en supermercados y tiendas.
                </p>
          </center>
        </columns>

</row>
<spacer size="10"></spacer>
<row>
      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/puntos-y-premios?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_preaprobadas_clasicas_categorias_email_siebel_febrero_2018&utm_content=img_tarjetas_premios">
              <spacer size="10"></spacer>
              <h2 style="color: #4D4D4F; text-align:center;"><strong>PREMIOS</strong></h2>
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-ganepremios.png" alt="Supermercados"></a>
              <spacer size="20"></spacer>
              <p style="color: #4D4D4F; max-width: 250px;">¡Sus compras le premian!</p>
              <p style="color: #4D4D4F; max-width: 250px;">Acumule millas canjeables por premios y regalos en más de 1200 puntos de venta.</p>
            </h4>
        </center>
      </columns>

      <columns small="12" large="2" class="columnscards">
        <center>
            <a href="https://tarjetas.baccredomatic.com/es-cr/landing/puntos-y-premios?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_preaprobadas_clasicas_categorias_email_siebel_febrero_2018&utm_content=img_tarjetas_puntos">
              <spacer size="10"></spacer>
              <h2 style="color: #4D4D4F; text-align:center;"><strong>PUNTOS</strong></h2>
              <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-puntos.png" alt="Tarjetas para Supermercados"></a>
              <spacer size="20"></spacer>

              <p style="color: #4D4D4F; max-width: 250px;">
                  Aprovechá ofertas, promociones, redimí tus puntos por pasajes aéreos o en cientos de comercios afiliados.
              </p>
           
        </center>
      </columns>
</row>

<row>
  <columns>
    <center>
      <p style="color: #E4002B;text-align:center">Aprovechá los mejores beneficios</p>
      <spacer size="10"></spacer>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>

  