---
subject: Asegurá tu mejor viaje desde $39.6.
header:  Asegurá tu mejor viaje desde $39.6.
preheader: Asegurá tu mejor viaje desde $39.6.
description:
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-seguros-viajero-julio-2018-web.html"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: Cotizá tu seguro hoy
cta_link: "https://comercio.baccredomatic.com/es-cr/seguro-viajero-cr?utm_source=eloqua&utm_medium=email&utm_campaign=cr-seguro-viajero-dic-2018&utm_content=correo-seguroviajero-dic-2018"
disclaimer: Producto exclusivo para tarjetahabientes de BAC Credomatic. SEGURO COLECTIVO DE VIJAERO CON ASISTENCIA PRÉMIUM DÓLARES. Registrado ante la SUGESE P19-57-A03-574 por MAPFRE Seguros Costa Rica S.A. (Licencia A03).
unsubscribe: "Si no deseas recibir más información o promociones en el futuro a través de esta vía, enviá un email para darte
de baja en el servicio a la dirección remover@credomatic.com, con la palabra 'remover' en el asunto, además de nombre completo
y número de cédula para ser excluido en los próximos 15 días."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-correo-seguro-viajero-dic-2018-main-img.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<row>
    <columns>
        <center>
            <spacer size="50"></spacer>
            <button class="button secondary sec-background" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="20"></spacer>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="color: #E4002B;font-size: 1.4em;text-align: center;">¿De qué me cubre este seguro?</h2>
        </center>
       
    </columns>
</row>
<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2>Inconvenientes de Viaje</h2>
            <p>Cancelación y acortamiento de viaje, retraso del viaje, pérdida de equipaje ó pérdida de pasaporte.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-2.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2>Gastos Médicos</h2>
            <p>Te cubre por eventos accidentales, enfermedades agudas, gastos de traslado aéreo y repatriación de restos mortales.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-3.png" alt="Tramites en línea">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2>Inconvenientes Personales</h2>
            <p>Muerte accidental, pérdida de extremidades, incapacidad total y permanente y renta diaria por hospitalización.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-4.png" alt="Ahorro">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2>Obtención 100% en línea</h2>
            <p>Ingresá al sitio web: <a href="https://comercio.baccredomatic.com">comercio.baccredomatic.com
                </a> y asegurá tu viaje en minutos.</p>
        </columns>
    </center>
</row>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
