---
subject: ¿Vas a viajar pronto? Necesitas el Seguro Viajero de BAC Credomatic…
header:  Despreocupate de&nbspinconvenientes con el Seguro Viajero de BAC Credomatic
preheader: Asegurá tu viaje desde los $39.6 por 5&nbspdías y despreocupate.
description:
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: Solicitalo aquí
cta_link: "https:///baccredomatic.com"
cta_title: "Click para descubrir como"
disclaimer: Producto exclusivo para tarjetahabientes de BAC Credomatic. SEGURO COLECTIVO DE VIJAERO CON ASISTENCIA PRÉMIUM DÓLARES. Registrado ante la SUGESE P19-57-A03-574 por MAPFRE Seguros Costa Rica S.A. (Licencia A03).
layout: ventas
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>
      Asegurá tu viaje desde los $39.6 por 5&nbspdías y evitá gastos por alguno de estos inconvenientes:
    </p>
  </columns>
  <columns small="12" large="6">
    <row>
      <img src="/images/seguro-viajero-agosto.jpg" />
    </row>
  </columns>
</row>

<row>
  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-pasaporte.png"/>
    <spacer size="10"></spacer>
    <p><strong>Pérdida de Pasaporte</strong></p>
  </columns>

  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-equipaje.png"/>
    <spacer size="10"></spacer>
    <p><strong>Pérdida de Equipaje</strong></p>
  </columns>

  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-cancelacion.png"/>
    <spacer size="10"></spacer>
    <p><strong>Cancelación y retraso</strong></p>
  </columns>
  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-accidentes.png"/>
    <spacer size="10"></spacer>
    <p><strong>Accidentes Personales</strong></p>
    <spacer size="10"></spacer>
  </columns>
</row>

<row>
  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-hospitalizacion.png"/>
    <spacer size="10"></spacer>
    <p><strong>Renta Diaria por Hospitalización</strong></p>
  </columns>

  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-gastosmedicos.png"/>
    <spacer size="15"></spacer>
    <p><strong>Gastos Médicos</strong></p>
  </columns>
  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-incapacidad.png"/>
    <spacer size="10"></spacer>
    <p><strong>Incapacidad total y permanente</strong></p>
  </columns>

  <columns small="6" large="4" class="coberturas-column coberturas-column-1">
    <img src="/images/cr-correo-seguros-gastosfunerarios.png"/>
    <spacer size="10"></spacer>
    <p><strong>Gastos Funerarios</strong></p>
  </columns>
</row>

<row>
  <columns>
    <p style="text-align: center;">
      Te cubre en cualquier parte del mundo,<br>desde 1 hasta 180 días, las 24 horas del día.
    </p>
    <spacer size="20"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
