---
subject: Obtené tu Seguro Viajero 100% en línea desde $39.6
header: "Evitá gastos médicos por accidentes y enfermedades durante tu viaje, desde los $39.6"
preheader: "Desde $39.6 podés evitar gastos médicos por accidentes, enfermedades e inconvenientes de viaje."
charset: ISO-8859-1
replyto: seguros@baccredomatic.com
cta_text: COTIZÁ TU SEGURO
cta_link: "https://comercio.baccredomatic.com/es-cr/seguro-viajero-cr?utm_source=email&utm_medium=eloqua&utm_campaign=cr-seguro-viajero-feb-25-2019&utm_content=correo-seguroviajero-feb-25-2019"
disclaimer: "* Aplican restricciones. Ver reglamento en comercio.baccredomatic.com. Producto exclusivo para tarjeta habientes de BAC Credomatic. SEGURO COLECTIVO DE VIAJERO CON ASISTENCIA PRÉMIUM DÓLARES. Registrado ante la SUGESE P19-57-A03-574 por MAPFRE Seguros Costa Rica S.A. (Licencia A03).
"
unsubscribe: "Si no deseas recibir más información o promociones en el futuro a través de esta vía, enviá un email para darte
de baja en el servicio a la dirección remover@credomatic.com, con la palabra 'remover' en el asunto, además de nombre completo
y número de cédula para ser excluido en los próximos 15 días."
layout: ventas-agosto-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-seguros-viajero-febrero-25-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<row>
    <columns>
        <center>
            <spacer size="20"></spacer>
             <p style="text-align: center;padding: 25px 25px;">Podés obtener tu seguro viajero de BAC Credomatic 100% en línea en cualquier momento del día</p>
            <button class="button secondary sec-background" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">¿Cómo adquirir este seguro?</h2>
        </center>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-4.png" alt="Ahorro">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Hacé click en el botón </h2>
            <p>e ingresá al sitio web para cotizar y asegurar tu viaje 100% en línea.</p>
        <spacer size="10"></spacer>
        </columns>
    </center>
</row>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">¿De qué me cubre este seguro?</h2>
        </center>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <h2 class="coberturas-title">Inconvenientes de Viaje</h2>
            <p>Cancelación y acortamiento de viaje, retraso del viaje, pérdida de equipaje o pérdida de pasaporte.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-2.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Gastos Médicos</h2>
            <p>Te cubre por eventos accidentales, enfermedades agudas, gastos de traslado aéreo y repatriación de restos mortales.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-3.png" alt="Tramites en línea">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Inconvenientes Personales</h2>
            <p>Muerte accidental, pérdida de extremidades, incapacidad total y permanente y renta diaria por hospitalización.</p>
        </columns>
    </center>
</row>

<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="20"></spacer>
         <p style="text-align: center;padding: 25px 25px;">Obtené tu seguro 100% en línea.</p>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
