---
subject: Viajá seguro desde los $39.6 durante 5 días, vos elegís el destino
header:  Viajá seguro desde los $39.6 durante 5 días, vos elegís el destino
preheader: Viajá seguro desde los $39.6 durante 5 días, vos elegís el destino.
description:
version_web: "https://archivos.baccredomatic.com/email/es-cr/ventas/cr-seguros-viajero-julio-2018-web.html"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: Cotizá tu seguro
cta_link: "https://comercio.baccredomatic.com/"
disclaimer: Producto exclusivo para tarjetahabientes de BAC Credomatic. SEGURO COLECTIVO DE VIJAERO CON ASISTENCIA PRÉMIUM DÓLARES. Registrado ante la SUGESE P19-57-A03-574 por MAPFRE Seguros Costa Rica S.A. (Licencia A03).
unsubscribe: "Si no deseas recibir más información o promociones en el futuro a través de esta vía, enviá un email para darte
de baja en el servicio a la dirección remover@credomatic.com, con la palabra 'remover' en el asunto, además de nombre completo
y número de cédula para ser excluido en los próximos 15 días."
layout: ventas-social
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>
     Asegurar tu viaje ahora es más fácil y rápido, probá la nueva experiencia online donde podés asegurarte en minutos.
    </p>
  </columns>
  <columns small="12" large="6">
    <row>
          <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-seguros-viajero-agosto-2018.gif"
                    alt="0% Intereses">
            </a>
    </row>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="">
        <h2 style="color: #E4002B; font-size: 1.4em;">¿De qué me cubre este seguro?</h2>
    </columns>
</row>
<row>
    <center>
        <columns small="12" large="4" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-seguros-viajero-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="12" large="8" style="padding-top: 5px;" class="">
            <h2>Inconvenientes de Viaje</h2>
            <p>Cancelación y acortamiento de viaje, retraso del viaje, pérdida de equipaje ó pérdida de pasaporte.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="4" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-seguros-viajero-icono-2.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="12" large="8" style="padding-top: 5px;" class="">
            <h2>Gastos Médicos</h2>
            <p>Te cubre por eventos accidentales, enfermedades agudas, gastos de traslado aéreo y repatriación de restos mortales.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="4" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-seguros-viajero-icono-3.png" alt="Tramites en línea">
            </a>
        </columns>
        <columns small="12" large="8" style="padding-top: 5px;" class="">
            <h2>Inconvenientes Personales</h2>
            <p>Muerte accidental, pérdida de extremidades, incapacidad total y permanente y renta diaria por hospitalización.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="12" large="4" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-seguros-viajero-icono-4.png" alt="Ahorro">
            </a>
        </columns>
        <columns small="12" large="8" style="padding-top: 5px;" class="">
            <h2>Y muchos más beneficios</h2>
            <p>Ingresá al sitio web: comercio.baccredomatic.com y conocé más.</p>
        </columns>
    </center>
</row>
<row>
  <columns>
    <spacer size="20"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
