// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles

body, p, h1, h2, h3, h4, li {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  -o-hyphens: none !important; 
  hyphens: none !important;
  }
body,
html,
.body {
  background: $gris-de-fondo;
}

a {
  color: $rojo-bac;

  &:hover, &:focus, &:visited {
    color: $rojo-bac;
  }
}

h1 {
  color: $rojo-bac;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  color: $negro;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
}

h3 {
  color: $negro;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
}

h4 {
  color: $negro;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.1;
  text-align: left;
}

.container.header {
  background: $rojo-bac;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

h1.header-tink {
  color: white;
  font-size: 26px;
  text-align: center;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.subject-header {
  background: $gris-de-fondo;

  p {
    margin-bottom: 0;
  }

  small {
    color: $negro;
    font-size: 11px;
  }
}

.footer {
  p{
    font-size: 11px;
    margin-bottom: 5px;
  }
}

.disclaimer {
  font-size: 12px;
  color: $gris-medio;
  padding-bottom: 0 !important;
}

.unsubscribe {
  font-size: 12px;
  color: $gris-medio;
}

table.button.button-right {
    margin: 0 0 16px auto;
    margin: 0 0 16px auto;
}

// Botones con iconos de multicanalidad
.boton-img {
  // text-align: left;
  height: auto;
  width: auto;
  display: inline-block;
}
.boton-pres.button {
  width: 240px;
}

// Correos de Bienvenida - Clases de parrafos de Etapas - Desktop

 .statusgris {
    color:#4D4D4F;
    padding-top: 20px;
  }
  .statusrojo {
    color: #e4002b;
    padding-top: 20px;
  }
  .statusrojobold {
    color: #e4002b;
    font-weight: bold;
    padding-top: 20px;
  }
  .statusverdefirst {
    color: #6ebf5d;
    padding-top: 12px;
  }
  .statusverde {
    color: #6ebf5d;
    padding-top: 20px;
  }
  .statusverdebold {
     color: #6ebf5d;
     font-weight: bold;
     padding-top: 20px;
   } 
   .statusgrislast {
    color:#4D4D4F;
    padding-top: 20px;
  }
  .statusrojolast {
    color: #e4002b !important;
    padding-top: 20px;
  }

// Estilos varios

.button a {
  background: $rojo-bac;
  text-align: center;
}

.button-background {
  -webkit-box-shadow: 7px 4px 26px 0px rgba(247,164,180,1);
-moz-box-shadow: 7px 4px 26px 0px rgba(247,164,180,1);
box-shadow: 7px 4px 26px 0px rgba(247,164,180,1);
}

.button.secondary a {
  background: $secondary-color;
}

.button.blue a {
  background: $amex-dark !important;
}

table.button.blue table td {
    background: $amex-dark !important; 
    border: 2px solid $amex-dark !important; 
}

.sec-background {
 -webkit-box-shadow: 7px 4px 26px 0px rgba(171,171,171,1);
-moz-box-shadow: 7px 4px 26px 0px rgba(171,171,171,1);
box-shadow: 7px 4px 26px 0px rgba(171,171,171,1);
}

.blue-background {
 -webkit-box-shadow: 7px 4px 26px 0px rgba(62,110,190,1);
-moz-box-shadow: 7px 4px 26px 0px rgba(62,110,190,1);
box-shadow: 7px 4px 26px 0px rgba(62,110,190,1);
}

.cobertura-table {
  td {
    font-size: 13px;
    &:nth-child(2) {
      width: 40%;
    }
  }
}

.prices-table {
  td {
    &:nth-child(2) {
      text-align: right;
    }
  }
}

// Tink CashBack - Dic 2018

.img-tink-cash {
  max-width: 50%;
  max-height: 50%;
  padding-left: 20px;
}
.text-tink {
  font-size: 1.3em;
}

  // Correo PRF

.columnscards img {
  display: inline !important;
}

// Correo BLUE Noviembre 2018

[class^="iconos"] {
  padding-left: 5px;
}

// Correo Adicionales Dic 2018
.adicional-p {
 font-size: 1.2em;
 margin-top: 25px;
}

// Correo Seguro Viajero Dic 2018
.emailImage-viajero {
  max-width: 70%;
}

// Correo Seguro Viajero Enero 2019
.coberturas-title  {
  color: #E4002B;
  font-size: 1.2em;
}

// Notiticaciones amarillos - Desktop

.notificaciones-title  {
  color: #E4002B;
  font-size: 1.4em;
}
.notificaciones-title-email  {
  color: #E4002B;
  font-size: 1.4em;
}
.notificaciones-email  {
  color: #E4002B;
  font-size: 1.3em;
}
#notificaciones-img {
  max-width: 70%;
  float: right;
}

// Correo Tasa Cero
p.bullets-correo {
  font-size: 1.3em;
}

img.img-tasacero {
  max-width: 90% !important; 
  max-height: auto;
  align-items: center;
  padding-left: 5%;
}

.tasaCeroCards table.body .column {
  padding: 0 !important;
}



// CORREOS NUEVAS

.plasticop {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}

.nuevastitle {
  color: #E4002B;
  font-size: 1.6em;
  hyphens: none;
  text-align: center;
}

// Correo Tarjetas Plátino

.platinotitle {
  color: #000;
  font-size: 1.8em;
  text-align: center;
}
.platinotitleblack {
  color: #000;
  font-size: 1.6em;
  hyphens: none;
  text-align: center;
}
.platinosubtitle {
  color: #000;
  font-size: 1.2em;
  text-align: center;
}
.platinolist {
  text-align: left;
  line-height: 1.3em;
  padding-top: 6px;
}
// Correo prestamos agosto

.prestamos-title {
  color: #000;
  font-size: 1.2em;
  text-align: justify;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
}

.prestamos-sub {
  color: #000;
  font-size: 1.2em;
  text-align: center;
}
.prestamos-parra {
  color: #000;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
}
.prestamos-list {
  text-align: left;
  font-size: 18px;
  padding-top: 6px;
}
.prestamos-restri {
  color:#6D6E71;
  font-size: 10px;
  margin-bottom: 1px;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  a {
    margin: 0;
    font-size: 9.5px;
    color:#BEBEBE;
    text-align: center;
    text-decoration: underline;
  }
}


// facilidades-de-pago.html component

.facilidades-img {
  height: 100%;
  width: 100%;
}
.facilidades-p {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.3em;
  padding-top: 6px;
}
.nuevaslist {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.3em;
  padding-top: 6px;
}

// multicanalidad-marzo.html Desktop

.multicanalidad-title {
  color: $rojo-bac;
  font-size: 1.6em;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.multicanalidad-icono-text {
  font-size: 1em;
  text-align: center !important;
  margin-right: 30px;
}

.multicanalidad-icono {
  height: 80%;
  width: 80%;
}

// nuevas-cuatro-plasticos.html component

.nuevas-card-name {
  font-size: 0.8em;
}

// ctatwo.html component

.ctatwo {
  color: rgb(0, 0, 0);
  hyphens: none;
  text-align: center;
}

// FAQ Component
.faq-title {
  color: #E4002B;
  font-size: 1.55em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.faq-text-mayo+h2 {
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

.faq-img {
  max-width: 80%;
  max-height: 80%;
  padding-left: 10px;
}

// Préstamos Selling Points component
.pres-title {
  color: $rojo-bac;
  font-size: 1.55em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.pres-bullets {
  color: black;
  font-size: 1.2em;
}

.pres-icons {
  max-height: 60%;
  max-width: 60%;
}

// OMAS MAYO DESKTOP

.img-omas-mayo {
  max-width: 50%;
  max-height: 50%;
  padding-left: 30px;
}
.text-omas-mayo {
  font-size: 1.2em;
  padding-left: 25px;
}
.faq-img-mayo {
  max-width: 80%;
  max-height: 80%;
  padding-left: 10px;
}  
h2.faq-text-mayo {
  font-size: 1.1em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

// NUEVAS PLATINOS MAYO

.rcp-img {
  max-width: 70%;
}

.grcc-img {
  max-width: 70%;
}

.platinos-icon {
  height: 63px; 
  width: 70px;
}

.selling-point-platino-text {
  font-size: 1.4em;
  font-weight: lighter;
  padding-right: 16px;
}

// PRESTAMOS MAYO

.point-prestamos {
    margin-top: 10px;
    font-weight: 100;
    
}

// .point-icon {
//     max-width: 80%;
//     max-height: 80%;
//     padding-left: 10px;
// }

// SEGURO VAJERO MAYO DESKTOP

.seguros-website-link {
  font-size: 1em;
  font-weight: bolder;
  color: black;
}

// Correo AMEX Blue - Tributo Foo Fighters - Desktop

h3.titulos-blue-ff {
  color: #545659;
  font-size: 17px;
  text-align: left;
}
p.subtitle-blue-ff  {
  font-size: 20px;
  padding-left: 18px;
  color: #4D4D4D;
}
p.info-blue-ff  {
  font-size: 16px;
  padding-left: 18px;
  color: #4D4D4D;
}
ul.list-blue {
  li {
    padding-top: 10px;
    padding-left: 10px;  
    padding-right: 10px;
  }
}
h1.header-blue {
  color: white;
  font-size: 24px;
  hyphens: none;
  text-align: center;
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
}

// Correo Nuevas Agosto 2019 

ul.nuevas-list {
  text-align: left;
  line-height: 1.3em;
  padding-top: 10px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-left:0;
  padding-left:5px;
  text-indent:-10px;
}
// .nuevas-list li::before {
//   content: "\2013 "; 
//   margin-left: -1em;
//   margin-right: 8px;
// }

.img-nuevas  {
    align-self: center;
    max-width: 200px;
    margin-left: 20px;
}
h2.nuevas-text {
  text-align: center;
}
// CORREO PRESTAMO HIPOTECARIO LANDING - AGOSTO - MAIN STYLES

.hipotecario-dudas-title {
  color: #E4002B;
  font-size: 1.55em;
  text-align: left;
  padding-left: 30px;
  padding-right: 10px;
}

.hipotecario-dudas-img {
  max-width: 80%;
  max-height: 80%;
  padding-left: 10px;
}
.hipotecario-tel-p {
  font-size: 1.4em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.hipotecario-compromiso-text {
  font-size: 18px;
  font-weight: lighter;
  padding-left: 30px;
  padding-right: 10px;
  text-align: left;

}

// Correo Cuentas

.cuentas-title {
  color: #000;
  font-size: 1.1em;
  text-align: justify;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
}




// FIN DE ESTILOS BODY



// INCIO DE MEDIA QUERIES

@media only screen and (max-width: 605px) {
  img {
    display: inline !important;
    }
  .ulcolumns-first ul, .columns.ulcolumns-first {
    border: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    }
  .ulcolumns-middle ul, .columns.ulcolumns-middle {
    border: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    }
  .ulcolumns-last ul, .columns.ulcolumns-last {
    border: 0 !important;
    margin-top: 0 !important;
    }
// Correos de Bienvenida - Clases de Columnas  - Movil 

 table.body .columns.bienvenida-left  {
    padding-right: 0 !important;
    margin-right: 0 !important;
    
    }

 table.body .columns.bienvenida-right {
    padding-left: 0 !important;
    margin-left: 0 !important;
    }

  // Correos de Bienvenida - Estilos de parrafos - Movil
 .statusgrislast {
    color:#4D4D4F;
    padding-top: 10px !important;
  }
  .statusrojolast {
    color: #e4002b !important;
    padding-top: 10px !important;
  }
  h1.header-tink {
    font-size: 18px !important;
  }
  .cobrand-logo {
    max-width: 120%;
  }
  .iconos-text {
    padding-left: 20px;
  }
  .emailImage-viajero {
    max-width: 100%;
  }

  .emailImage {
    align-self: center;
  }

  // Correo Tasa Cero 
  table.body .columns.columns-tasacero+img+a  {
    padding-right: 0 !important;
    margin-right: 0 !important;
    
    }
 table.body .column.columns-tasacero+img+a {
    padding-left: 0 !important;
    margin-left: 0 !important;
    }

  // Correo Tink CashBack
    .img-tink-cash {
      max-width: 30%;
      max-height: 30%;
      padding-left: 0;
    }

    .text-tink {
      font-size: 1.3em;
      padding-top: 15px;
    }

  // multicanalidad-marzo.html Media Queries

  .multicanalidad-title {
    color: $rojo-bac;
    font-size: 1.6em;
    text-align: center;
  }
  .multicanalidad-icono-text{
    font-size: 0.9em;
    margin-right: 18px;
  }
  
  .multicanalidad-icono {
    height: 90%;
    width: 90%;
    padding-right: 5%;
    }
  // FAQ Component Media Querie

  .faq-img {
  max-width: 80%;
  max-height: 80%;
  padding-left: 10px;
  }
  
  // Préstamos Selling Points component

.pres-title {
  color: $rojo-bac;
  font-size: 1.3em;
  text-align: center;
  padding-right: 10px;
  padding-top: 15px !important;
  }

  // FAQ Component Media Queries (max-width: 605)

  .faq-title {
  color: #E4002B;
  font-size: 1.3em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

// OMAS MAYO MEDIA QUERIES (max-width: 605px)

.img-omas-mayo {
  max-width: 40%;
  max-height: 40%;
  padding-left: 15px;
}
.text-omas-mayo {
  font-size: 1.1em;
}
.faq-img {
  max-width: 80%;
  max-height: 80%;
  padding-left: 10px;
  }
.faq-img-mayo {
  max-width: 120%;
  padding-left: 8px;
}  
h2.faq-text-mayo {
  font-size: 1.3em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

// NUEVAS PLATINOS MAYO (max-width:  605px)

.rcp-img {
  max-width: 70%;
}

.grcc-img {
  max-width: 70%;
}



.platinos-icon {
  height: 72px;
  width: 80px;
  

  table.body.platinos-icon .columns.platinos-icon+img+a  {
    padding-right: 0 !important;
    margin-right: 0 !important;
    
    }
  table.body.platinos-icon .column.platinos-icon+img+a {
    padding-left: 0 !important;
    margin-left: 0 !important;
    }

}

.selling-point-platino-text {
  font-size: 1.4em;
  font-weight: lighter;
  padding-right: 15px;
}

// Prestamos Personales Mayo (max-width:  605px)

.point-icon {
  max-width: 60%;
  max-height: 60%;
  padding-left: 10px;
}

.point-prestamos {
  font-size: 1em;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
// SEGURO VAJERO MAYO (max-width:  605px)

.seguros-website-link {
  font-size: 0.7em;
  font-weight: bolder;
  color: black;
}

// Notiticaciones amarillos - (max-width:  605px)

.notificaciones-title  {
  color: #E4002B;
  font-size: 1.2em;
}

.notificaciones-title-email  {
  color: #E4002B;
  font-size: 1.2em;
}

.notificaciones-email  {
  color: #E4002B;
  font-size: 1em;
}

#notificaciones-img {
  max-width: 70%;
  float: right;
}

// Correo AMEX Blue - Tributo Foo Fighters - Media queries 605px

h3.titulos-blue-ff {
  color: #545659;
  font-size: 13px;
  text-align: left;
}

.img-nuevas  {
  align-self: center;
  max-width: 100px !important;
  margin-left: 20px;
}
h2.nuevas-text {
  text-align: center;
}

// CORREO PRESTAMO HIPOTECARIO LANDING - AGOSTO - MEDIA QUERIES

.hipotecario-dudas-title {
  color: #E4002B;
  font-size: 1.55em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.hipotecario-dudas-img {
  max-width: 80%;
  max-height: 80%;
  align-self: center;
}
.hipotecario-tel-p {
  font-size: 1.4em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.hipotecario-compromiso-text {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

}
// FIN DE MEDIA QUERIES (max-width:  605px)

// INICIO DE MEDIA QUERIES (min-width: 321px)

@media only screen and (min-width: 321px) {

// OMAS MAYO MEDIA QUERIES (min-width: 321px)
  .faq-img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
  }
  .faq-img-mayo {
    max-width: 140%;
    padding-left: 5px;
  } 
  h2.faq-text-mayo {
    font-size: 1.1em;
    font-weight: lighter;
    padding-left: 5px;
    padding-right: 5px;
  }

  // NUEVAS PLATINOS MAYO (min-width: 321px)

.rcp-img {
  max-width: 70%;
}

.grcc-img {
  max-width: 70%;
}

.platinos-icon {
  height: 70px;
  width: 90px;
}

.selling-point-platino-text {
  font-size: 1.4em;
  font-weight: lighter;
  padding-right: 15px;
}

// Prestamos Personales Mayo (min-width: 321px)

.faq-text-mayo+h2 {
  font-size: 1em;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

.point-icon {
  max-width: 50%;
  max-height: 50%;
  padding-left: 10px;
}

.point-prestamos {
  font-size: 0.9em;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

// SEGURO VAJERO MAYO (min-width: 321px)

.seguros-website-link {
  font-size: 0.7em;
  font-weight: bolder;
  color: black;
}

}

// iPhone 6/7/8 414px - Media queries

@media only screen and (max-width: 414px) {

  .notificaciones-title  {
    color: #E4002B;
    font-size: 1.1em;
  }
  
  .notificaciones-title-email  {
    color: #E4002B;
    font-size: 1.1em;
  }
  
  .notificaciones-email  {
    color: #E4002B;
    font-size: 0.8em;
  }
  #notificaciones-img {
    max-width: 70%;
    float: right;
    } 

  .img-nuevas  {
      align-self: center;
      max-width: 100px !important;
      margin-left: 28px;
    }

  h2.nuevas-text {
      text-align: center;
      margin-left: 18px;
    }

}


// iPhone X 375px - Media queries
 
@media only screen and (max-width: 375px) {

  // Notiticaciones amarillos - (max-width:  375px)
  
  .notificaciones-title  {
    color: #E4002B;
    font-size: 1em;
  }
  
  .notificaciones-title-email  {
    color: #E4002B;
    font-size: 1em;
  }
  
  .notificaciones-email  {
    color: #E4002B;
    font-size: 0.7em;
  }
  #notificaciones-img {
    max-width: 70%;
    float: right;
      }
  .img-nuevas  {
    align-self: center;
    max-width: 100px !important;
    margin-left: 18px;
    }
  h2.nuevas-text {
      text-align: center;
      margin-left: 15px;
    }
  }

// iPhone 4 320px - Media queries

@media only screen and (max-width: 320px) {

// Notiticaciones amarillos - (max-width:  320px)

.notificaciones-title  {
  color: #E4002B;
  font-size: 1em;
}

.notificaciones-title-email  {
  color: #E4002B;
  font-size: 1em;
}

.notificaciones-email  {
  color: #E4002B;
  font-size: 0.7em;
}

#notificaciones-img {
  max-width: 70%;
  float: right;
  padding: 0 !important;
  }

.img-nuevas  {
    align-self: center;
    max-width: 100px !important;
    margin-left: 8px;
  }

}

.whatsapp.button table td a {
  padding: 12px 38px 12px 38px;
  max-width: 170px;
}
.conoce.button table td a {
  padding: 12px 30px 12px 30px;
  max-width: 170px !important;
}
.solicitala.button table td a {
  padding: 12px 27px 12px 27px;
  max-width: 170px !important;
}
.conocemas.button table td a {
  padding: 12px 30px 12px 30px;
  max-width: 170px !important;
}
.abrilaqui.button table td a {
  padding: 12px 36px 12px 36px;
  max-width: 170px !important;
}
    
