---
subject: "Disfrutá de beneficios exclusivos al solicitar tu tarjeta de crédito"
header: "Disfrutá de beneficios exclusivos al solicitar tu tarjeta de crédito"
preheader: "Disfrutá de beneficios exclusivos al solicitar tu tarjeta de crédito."
version_web: "cr-tarjetas-nuevas-platinos-mayo-2019-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "SOLICITÁ LA TUYA HOY"
cta_two: "SOLICITÁ LA TUYA HOY"
cta_link: "https://productos.baccredomatic.com/es-cr/landing/platino/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-platino-mayo-19&utm_content=cr_tjc_email_platino_mayo_19"
faq_title: "¿Cómo obtengo mi tarjeta platino?"
faq_text: "Hacé click en el botón, ingresá al sitio web, solicitá la tuya y recibila donde querás."
faq_icon: "/images/cr-tarjetas-faq-nuevas-abril-icono-1.png"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las politicas y regulaciones internas de BAC Credomatic."
disclaimer2: "**  Aplican restricciones. Ver condiciones de cada tarjeta en www.baccredomatic.com."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-platino-mayo-19-main.jpg" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="5"></spacer>
            <p class="ctatwo">100% en línea</p>
        </center>
    </columns>
</row>
{{> nuevas-platino-card-one }}
{{> nuevas-platino-card-two }}
{{> multicanalidad-abril }}
{{> faq-nuevas-mayo }}
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="40"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_two}}</button>
            <spacer size="20"></spacer>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">Vos elegís el lugar para la entrega</p>
        </center>
        <spacer ize="20"></spacer>
    </columns>
</row>
