---
subject: "Pronto vas a poder decir: ¡adios, deudas!"
header: "Pronto vas a poder decir: ¡adios, deudas!"
preheader: "Sabemos lo importante que es tener a mano un Préstamo Personal"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "WHATSAPP"
link_whatsapp: "https://goo.gl/Q6S4e6"
cta_call: "LLAMAR AL 2295-9357"
link_call: "tel:22959357"
cta_form: "FORMULARIO WEB"
link_form: "https://www.baccredomatic.com/es-cr/prestamos/personales/solicitud?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-ppe-pr-gg-email-comdigital-adiosdeudas&utm_content=cr-core-ppe-pr-email-agosto"
layout: prestamos-agosto-web
---
<row class="collapse">
    <a href="{{link_form}}">
        <img src="/images/cr-prestamos-personales-agosto-01-main.jpg" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 30px;hyphens: none;text-align: center;font-weight: 400;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
<center>
    <columns small="12" large="12" class="columnscards">
        <!-- <h2 class="platinotitle">Te damos ya tu Préstamos Personal BAC Credomatic sin necesidad de requisitos y largos trámites. Así podrás unificar todas esas deudas pendientes.</h2>  -->
        <p class="prestamos-title">Te damos ya tu Préstamo Personal BAC Credomatic sin necesidad de requisitos y largos trámites. Así podrás unificar todas esas deudas pendientes.</p>  
    </columns>
    </center>
</row>
<row>
    <columns>
        <center>
            <p class="prestamos-parra">Disfrutalo con:</p>
            <ul class="prestamos-list">
              <li>Convenientes tasas de interés</li>
              <li>Mayor liquidez mensual</li>
              <li>Totalmente en línea y preaprobado</li>
              <li>Sin requisitos</li>
            </ul>
            <p class="prestamos-parra">Solicitalo agregándonos a WhatsApp al: <a style="color:#E4002B;" href="tel:87429595">8742-9595</a></p>
        </center>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <!-- <button href="{{link_form}}" class="button secondary sec-background" title="{{cta_title}}"><img src="/images/cr-prestamos-personales-icono-call.png"> {{cta_text}}</button> -->
            <button href="{{link_whatsapp}}" style="text-align: center;" class="button-background cta-rojo boton-pres" title="{{cta_title}}"><img class="boton-img" src="/images/cr-prestamos-personales-icono-whatsapp.png"> {{cta_text}}</button>
            <spacer size="5"></spacer>
            <button href="{{link_call}}" style="text-align: center;" class="button-background cta-rojo boton-pres" title="{{cta_title}}"><img class="boton-img" src="/images/cr-prestamos-personales-icono-call.png"> {{cta_call}}</button>
            <spacer size="5"></spacer>
            <button href="{{link_form}}" style="text-align: center;" class="button-background cta-rojo boton-pres" title="{{cta_title}}"><img class="boton-img" src="/images/cr-prestamos-personales-icono-form.png"> {{cta_form}}</button>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns>
        <p class="prestamos-restri">
            * Aplican restricciones. Solicitud sujeta a los requisitos de crédito de BAC Credomatic. para información de beneficios, requisitos y condiciones ingresá
            <a href="http://baccredomatic.com">aquí.</a>
            <!-- <a style="margin: 0;font-size: 9.5px;color:#BEBEBE;text-align: center;text-decoration: underline;" href="http://baccredomatic.com">aquí.</a> -->
        </p>
    </columns>
</row>
<spacer size="20"></spacer>