---
subject: "Los regalos de mamá, compralos con tu nueva tarjeta de crédito, solicitala 100% en línea"
header: "Los regalos de mamá, compralos con tu nueva tarjeta de crédito, solicitala 100% en línea"
preheader: "Los regalos de mamá, compralos con tu nueva tarjeta de crédito, solicitala 100% en línea."
version_web: "cr-tarjetas-nuevas-agosto-2019-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITÁ LA TUYA HOY
cta_two: SOLICITÁ LA TUYA HOY
cta_link: "https://productos.baccredomatic.com/es-cr/tarjetas/credito/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-nuevas-agosto&utm_content=cr_tjc_email_nuevas_ago_19"
disclaimer: "* Aplican restricciones. Ver beneficios y condiciones de las tarjetas en baccredomatic.com."
disclaimer2: "** La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-nuevas-agosto-2019-main.jpg" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="5"></spacer>
            <p class="ctatwo">100% EN LÍNEA</p>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">Elegí una tarjeta que se adapte a tus hábitos de consumo</h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6" class="columnscards">
        <center>
            <h2>Tarjeta BLUE American Express&reg;</h2>  
            <p>Acumulación:</p>
            <ul class="nuevas-list">
                <li> -  Hasta 5% en educación, entretenimiento, farmacias, gasolineras, restaurantes y comidas rápidas, ropa y zapaterías, salus, supermercados y turismo.</li>
            </ul>
        </center>
    </columns>
    <columns small="12" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <spacer size="15"></spacer>
                <img src="/images/cr-tarjetas-nuevas-agosto-19-blue.png" alt="Tarjeta BLUE American Express">
            </a>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="12" large="6" class="columnscards">
            <center>
                <h2>Tarjeta Gane Premios</h2>  
                <p>Acumulación:</p>
                <ul class="nuevas-list">
                    <li> -  1 milla por cada $1 en restaurantes y comidas rápidas.</li>
                    <li> -  1 milla por cada $1 en gasolineras.</li>
                    <li> -  1 millas por cada $1 en farmacias.</li>
                </ul>
            </center>
        </columns>
        <columns small="12" large="4" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <spacer size="15"></spacer>
                    <img src="/images/cr-tarjetas-nuevas-agosto-19-gane.png" alt="Tarjeta Gane Premios">
                </a>
            </center>
        </columns>
    </row>
<spacer size="30"></spacer>
<row>
        <columns small="12" large="6" class="columnscards">
            <center>
                <h2>Tarjeta Millas Plus</h2>  
                <p>Acumulación:</p>
                <ul class="nuevas-list">
                    <li> -  Dorado American Express&reg; 1.25 millas por cada $1.</li>
                    <li> -  Platino American Express&reg; 1.5 millas por cada $1.</li>
                    <li> -  Black American Express&reg; 2 millas por cada $1.</li>
                </ul>
            </center>
        </columns>
        <columns small="12" large="4" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <spacer size="15"></spacer>
                    <img src="/images/cr-tarjetas-nuevas-agosto-19-millas.png" alt="Tarjeta Millas Plus">
                </a>
            </center>
        </columns>
    </row>
<spacer size="30"></spacer>
<row>
        <columns small="12" large="6" class="columnscards">
            <center>
                <h2>Tarjeta CashBack Premium</h2>  
                <p>Acumulación:</p>
                <ul class="nuevas-list">
                    <li> -  5% en supermercados, farmacias, restaurantes y comidas rápidas.</li>
                    <li> -  2% en gasolineras.</li>
                    <li> -  1% en tiendas por departamento.</li>
                </ul>
            </center>
        </columns>
        <columns small="12" large="4" class="columnscards">
            <center>
                <a href="{{cta_link}}">
                    <spacer size="15"></spacer>
                    <img src="/images/cr-tarjetas-nuevas-agosto-19-cashback-prem.png" alt="Tarjeta CashBack Premium">
                </a>
            </center>
        </columns>
    </row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">Solicitala por medio que mejor</h2>
            <p class="platinotitleblack">se adapte a tus necesidades</p>
        </center>
    </columns>
</row>
<row>
    <columns small="5" large="5">
        <a href="{{cta_link}}">
            <img class="img-nuevas" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-1.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 class="nuevas-text">
             WhatsApp
        </h2>
    </columns>
    <columns small="5" large="5">

            <a href="{{cta_link}}">
                <img class="img-nuevas" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-3.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 class="nuevas-text">
               Formulario web
            </h2>
    </columns> 
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="40"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_two}}</button>
            <spacer size="20"></spacer>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">Vos elegís el lugar para la entrega</p>
        </center>
        <spacer ize="20"></spacer>
    </columns>
</row>
