---
subject: "Te llevamos gratis al tributo oficial de Foo Fighters*"
header: "Ganá entradas dobles al tributo a Foo&nbsp;Fighters al solicitar la Tarjeta Blue&nbsp;American&nbsp;Express&reg;"
preheader: "Ganá entradas al tributo de Foo Fighters a cargo de Mustang65, al&nbsp;solicitar&nbsp;tu&nbsp;tarjeta BLUE&nbsp;American&nbsp;Express&reg;"
version_web: "cr-tarjetas-amex-blue-tributo-foo-fighters-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "LLENÁ LA SOLICITUD"
cta_link: "https://productos.baccredomatic.com/es-cr/landing/blue/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-amex-blue-foo-fighters&utm_content=email-blue-ago-2019"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: blue-amex-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjeta-blue-tributo-foo-fighters.jpg" alt="">
    </a>
</row>
<row style="background-color: #3e6ebe;">
    <columns>
        <spacer size="20"></spacer>
        <h1 class="header-blue">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns>
        <center>
            <button class="blue" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="5"></spacer>
            <h2 style="color:#545659; font-size:18px; text-align:center;">100% en línea</h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="12" large="5">
                <spacer size="15"></spacer>
                <center>
                    <h2 class="title-blue" style="color: #00175A; font-size: 26px;text-align: left;padding-left: 18px;">Tarjeta BLUE</h2>
                    <h2 class="title-blue" style="color: #00175A; font-size: 18px;text-align: left;padding-left: 18px;">American Express&reg;</h2>
                    <p class="subtitle-blue-ff">La tarjeta en la que podés elegir donde ganar.</p>
                    <spacer size="10"></spacer>
                </center>
        </columns>
        <columns class="main-wrapper" small="12" large="7">
            <a class="main-img-blue" style="width: 140%; height: auto;padding-left: 18px;" href="{{cta_link}}">
                <img src="/images/cr-tarjeta-blue-plastico-agosto.png" alt="Amex">
            </a>
        </columns>
</row>
<spacer size="10"></spacer>
<row>
   <columns small="11" large="11">
    <h2 class="title-blue" style="color: #00175A; font-size: 18px;text-align: left;padding-left: 18px;">Beneficios de la tarjeta</h2>
    <h2 class="title-blue" style="color: #00175A; font-size: 18px;text-align: left;padding-left: 18px;">BLUE American Express&reg;</h2>
    </columns>
</row>
<!-- {{> beneficios-blue-ago}} -->
<spacer size="30"></spacer>
<row>
        <columns small="4" large="3">
            <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-1.png" alt="Obtené otros beneficios">
            </a>
            <spacer size="12"></spacer>
            <h3 class="titulos-blue-ff">
                Acumulá hasta 5% en la industria que vos querás
            </h3>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-2.png" alt="Mantené el mismo límite">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Elegí 2 de 10 industrias para ganar
                </h3>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-3.png" alt="Registrate">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    El porcentaje de CashBack aumenta según tu consumo
                </h3>
            </center>
        </columns>
    </row>
    <spacer size="10"></spacer>
    <row>
        <columns small="4" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-4.png" alt="Obtené otros beneficios">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Canjeá tus colones CashBack Blue en línea
                </h3>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-5.png" alt="Mantené el mismo límite">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Beneficios exclusivos:
                    <ul style="padding-left: 20px;">
                        <li>Zonas BLUE</li>
                        <li>Conciertos</li>
                        <li>Festivales</li>
                    </ul>
                </h3>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-6.png" alt="Registrate">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Alianza exclusiva con Aeropost para compras en línea
                </h3>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer> 
<row>
    <columns small="12" large="12">
        <h2 class="title-blue" style="color: #00175A; font-size: 26px;text-align: left;padding-left: 18px;">TRIBUTO A FOO FIGHTERS</h2>
        <p class="info-blue-ff"><strong>Fecha:</strong> Viernes 6 de setiembre</p>
        <p class="info-blue-ff"><strong>Lugar:</strong> Jazz Café Escazú</p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12">
        <a href="{{cta_link}}"><img class="emailImage" src="/images/cr-tarjeta-blue-logo-foo-fighters.png"></a>
    </columns>
</row>
<row>
    <columns small="12" large="4">
        <p style="text-align: center;">Música por:</p>
    </columns>
    <columns small="12" large="8">
        <a href="{{cta_link}}"><img src="/images/cr-tarjeta-blue-logo-mustang65.png"></a>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="11" large="11">
        <ul class="list-blue">
            <li>
                En el tributo se van a rifar entradas al concierto de Foo Fighters en Costa Rica.
            </li>
            <li>
                Promociones exclusivas para los tarjetahabientes Blue en el evento.
            </li>
            <li>
                Acceso al pre y post VIP party en el bar Republican el día del concierto.
            </li>
            <li>
                Se rifaran entradas al concierto de la banda, en Costa Rica.
            </li>
        </ul>
    </columns>
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color:#545659; font-size:18px; text-align:center;">100% en línea</h2>
            <spacer size="5"></spacer>
            <button class="blue" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>