---
subject: "Tenés una tarjeta platino pre-aprobada, solicitala hoy"
header: "Tenés una tarjeta platino pre-aprobada, solicitala hoy"
preheader: "Tenés una tarjeta platino pre-aprobada, solicitala hoy."
version_web: "https://archivos.baccredomatic.com/email/es-cr/platino/cr-tjc-ppas-platino-feb-web-19.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITÁ LA TUYA AQUÍ
cta_two: SOLICITÁ LA TUYA AQUÍ
cta_link: "https://productos.baccredomatic.com/es-cr/landing/platino/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-platino-feb-19&utm_content=cr_tjc_email_platino_feb_19"
disclaimer: "* Aplican restricciones ver reglamento en baccredomatic.com. La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-platino-feb-19-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="5"></spacer>
            <p class="ctatwo">100% EN LÍNEA</p>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
<center>
    <columns small="12" large="12" class="columnscards">
        <h2 class="platinotitle">Tarjetas Estilo de Vida</h2>  
        <p class="platinosubtitle">Las tarjetas que te brindan privilegios exclusivos.</p>
    </columns>
    </center>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">The Platinum Card&reg;<br>BAC Credomatic</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <spacer size="15"></spacer>
                <img src="/images/cr-tarjetas-platino-feb-19-plastico-rcp.png" alt="The Platinum Card">
            </a>
        </center>
    </columns>
    <columns small="12" large="6" class="columnscards">
        <center>
            <ul class="platinolist">
              <li>Acumulá 1 punto por cada $1 de consumo.</li>
              <li>Acceso a eventos exclusivos de Amex for Foodies.</li>
              <li>Traslados de puntos a: LifeMiles&reg;, Iberia Plus&reg;, Delta Skymiles&reg;, SPG Starwood Prefered Guest&reg; y Hilton Honors&reg;.</li>
              <li>Valet Parking gratuito en los principales centros comerciales del país.</li>
              <li>Servicio de Concierge Travel & living.</li>
              <li>Acceso a la sala Santamaría VIP.</li>
            </ul>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">Platinum American Express&reg;<br>BAC Credomatic</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
               <spacer size="15"></spacer>
                <img src="/images/cr-tarjetas-platino-feb-19-plastico-grcc.png" alt="Platinum Card">
            </a>
        </center>
    </columns>
    <columns small="12" large="6" class="columnscards">
        <center>
            <ul class="platinolist">
              <li>Acumulá 1 punto por cada $1 de consumo.</li>
              <li>No tiene costo de Membresía.</li>
              <li>Acceso a eventos exclusivos de Amex for Foodies.</li>
              <li>Traslados de puntos a: LifeMiles&reg;, Iberia Plus&reg;, Delta Skymiles&reg;, SPG Starwood Prefered Guest&reg; y Hilton Honors&reg;.</li>
              <li>Valet Parking gratuito en los principales centros comerciales del país.</li>
              <li>Servicio de Concierge Travel & living.</li>
              <li>Acceso a la sala Santamaría VIP.</li>
            </ul>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">Solicitala por medio que mejor</h2>
            <p class="platinotitleblack">se adapte a tus necesidades</p>
        </center>
    </columns>
</row>
<row>
  <center>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-1.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="text-align: center; hyphens: none;">
             WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-3.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center; hyphens: none;">
               Formulario web
            </h2>
        </center>
    </columns>
        <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-2.png" alt="Llamada">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center; hyphens: none;">
                Llamada
            </h2>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="40"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_two}}</button>
            <spacer size="20"></spacer>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">Vos elegís el lugar para la entrega</p>
        </center>
        <spacer ize="20"></spacer>
    </columns>
</row>
