---
subject: Sorprendé sin intereses
header:  Sorprendé sin intereses
preheader: Sorprendé sin intereses
version_web: "https://archivos.baccredomatic.com/email/es-cr/tasacero/cr-tarjetas-credito-tasacero-diciembre-2018-web.html"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: SOLICITÁ LA TUYA
cta_link: "https://productos.baccredomatic.com/es-cr/tarjetas/credito/?utm_source=eloqua&utm_medium=email&utm_campaign=cr-core-tjc-tasacero-dic-2018&utm_content=correo-tjc-tasacero-dic-2018"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/correo-tarjetas-credito-tasa-cero-hero.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="30"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="2" large="4" class="">
    </columns>
    <columns small="8" large="6" class="">
        <center>
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/correo-tarjetas-credito-tasa-cero-logo.png" alt="">
            </a>
        </center>
    </columns>
    <columns small="2" large="4" class="">
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="color: #E4002B;font-size: 1.5em;text-align: center;">Solicitá una tarjeta de crédito y comprá a plazos con Tasa Cero</h2>
        </center>
       
    </columns>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/correo-tarjetas-credito-tasa-cero-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <p class="bullets-correo">Sin Intereses<br>
            Sin Gastos administrativos<br>
            Sin Comisiones</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/correo-tarjetas-credito-tasa-cero-icono-2.png" alt="Gastos Médicos">
            </a>
            <spacer size="20"></spacer>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <p class="bullets-correo">Realizá compras en comercios afiliados a un 0% de interés.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/correo-tarjetas-credito-tasa-cero-icono-3.png" alt="Tramites en línea">
            </a>
            <spacer size="20"></spacer>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <p class="bullets-correo">Financiamiento en cuotas mensuales fijas.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/correo-tarjetas-credito-tasa-cero-icono-4.png" alt="Ahorro">
            </a>
            <spacer size="20"></spacer>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <p class="bullets-correo">Pagalo a plazos de 3, 6, 9 y 12 meses.</p>
        </columns>
    </center>
</row>
<row style="background-color: #f5f5f5;">
    <center>
    <columns small="6" large="4" class="columns-tasacero">
        <spacer size="30"></spacer>
        <a href="{{cta_link}}">
            <img class="img-tasacero" src="/images/correo-tarjetas-credito-tasa-cero-plasticos-cash.png" alt="">
        </a>
    </columns>
    <columns small="6" large="4" class="columns-tasacero">
        <spacer size="30"></spacer>
        <a href="{{cta_link}}">
            <img class="img-tasacero" src="/images/correo-tarjetas-credito-tasa-cero-plasticos-puntos.png" alt="">
        </a>
    </columns>
    </center>
</row>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="20"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
