---
layout: index-layout
subject: My Email Templates
---
<style media="screen" type="text/css">
  ul {
    list-style-type: none;
  }
</style>

<container>
  <spacer size="24"></spacer>
  <row>
      <columns>
         <h2>CORREOS COM-DIGITAL</h2>
      </columns>   
  </row>
  <row>
    <columns small="12">
      <center>
        <ul style="text-align:left;">
          <h2>Correos Agosto - 2019</h2>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-1-agosto-2019.html" target="_blank">Préstamos personales - Correo #1  - Agosto - Eloqua</a>
          </li>
          <li>
              <a href="{{root}}/agosto/cr-prestamos-personales-1-agosto-2019-web.html" target="_blank">Préstamos personales - Correo #1  - Agosto - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-2-agosto-2019.html" target="_blank">Préstamos personales - Correo #2 - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-2-agosto-2019-web.html" target="_blank">Préstamos personales - Correo #2 - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-3-agosto-2019.html" target="_blank">Préstamos personales - Correo #3 - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-3-agosto-2019-web.html" target="_blank">Préstamos personales - Correo #3 - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-prestamos-personales-4-agosto-2019.html" target="_blank">Préstamos personales - Correo #4 - Eloqua</a>
          </li>
          <li>
              <a href="{{root}}/agosto/cr-prestamos-personales-4-agosto-2019-web.html" target="_blank">Préstamos personales - Correo #4 - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-tarjetas-amex-blue-tributo-foo-fighters.html" target="_blank">Tarjetas - Amex BLUE - Tributo Foo Fighters - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/agosto/cr-tarjetas-amex-blue-tributo-foo-fighters-web.html" target="_blank">Tarjetas - Amex BLUE - Tributo Foo Fighters - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-tarjetas-nuevas-agosto-2019.html" target="_blank">Tarjetas Nuevas - Eloqua</a>  
          </li>
          <li>
            <a href="{{root}}/agosto/cr-tarjetas-nuevas-agosto-2019-web.html" target="_blank">Tarjetas Nuevas - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-seguros-viajero-agosto-2019.html" target="_blank">Seguro Viajero - Agosto - Eloqua</a>  
          </li>
          <li>
            <a href="{{root}}/agosto/cr-seguros-viajero-agosto-2019-web.html" target="_blank">Seguro Viajero - Agosto - Web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
             <a href="{{root}}/agosto/cr-prestamos-hipotecarios-agosto-2019-eloqua.html" target="_blank">Préstamos - Hipotecarios - Landing - Eloqua</a>
          </li>
          <li>
             <a href="{{root}}/agosto/cr-prestamos-hipotecarios-agosto-2019-web.html" target="_blank">Préstamos - Hipotecarios - Landing - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-cuentas-planilla-agosto-eloqua.html" target="_blank">Cuentas - Planilla - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/agosto/cr-cuentas-planilla-agosto-web.html" target="_blank">Cuentas - Planilla - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-cuentas-objetivos-agosto-eloqua.html" target="_blank">Cuentas - Objetivos - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/agosto/cr-cuentas-objetivos-agosto-web.html" target="_blank">Cuentas - Objetivos - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/agosto/cr-cuentas-ahorro-agosto-eloqua.html" target="_blank">Cuentas - Ahorro - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/agosto/cr-cuentas-ahorro-agosto-web.html" target="_blank">Cuentas - Ahorro - web</a>
          </li>
          <spacer size="15"></spacer>
          <h2>Correos Junio 2019</h2>
          <li>
            <a href="{{root}}/junio/cr-tarjetas-nuevas-junio-2019.html" target="_blank">Tarjetas Nuevas - abril - eloqua</a>
          </li>
          <li>
            <a href="{{root}}/junio/cr-tarjetas-nuevas-junio-2019-web.html" target="_blank">Tarjetas Nuevas - abril - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/junio/cr-tarjetas-omas-junio-2019.html" target="_blank">Tarjetas OMAS - junio - eloqua</a>
          </li>
          <li>
            <a href="{{root}}/junio/cr-tarjetas-omas-junio-2019-web.html" target="_blank">Tarjetas OMAS - junio - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/junio/cr-tarjetas-adicionales-junio-2019.html" target="_blank">Tarjetas Adicionales - junio - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/junio/cr-tarjetas-adicionales-junio-2019-web.html" target="_blank">Tarjetas Adicionales - abril - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/junio/cr-seguros-viajero-junio-2019.html" target="_blank">Seguro viajero - junio - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/junio/cr-seguros-viajero-junio-2019-web.html" target="_blank">Seguro viajero - junio - web</a>
          </li> 
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/junio/cr-prestamos-personales-junio-2019.html" target="_blank">Préstamos personales - junio - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/junio/cr-prestamos-personales-junio-2019-web.html" target="_blank">Préstamos personales - junio - web</a>
          </li>
        <spacer size="15"></spacer>
          <h2>Correos Abril 2019</h2>
          <li>
            <a href="{{root}}/abril/cr-tarjetas-nuevas-abril-2019.html" target="_blank">Tarjetas Nuevas - abril - eloqua</a>
          </li>
          <li>
            <a href="{{root}}/abril/cr-tarjetas-nuevas-abril-2019-web.html" target="_blank">Tarjetas Nuevas - abril - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/abril/cr-tarjetas-nuevas-tasacero-abril-2019.html" target="_blank">Tarjetas Nuevas - Tasa Cero - abril - eloqua</a>
            </li>
            <li>
              <a href="{{root}}/abril/cr-tarjetas-nuevas-tasacero-abril-2019-web.html" target="_blank">Tarjetas Nuevas - Tasa Cero - abril - web</a>
            </li>

          <spacer size="5"></spacer>
          <li>
            <a href="{{root}}/abril/cr-tarjetas-omas-abril-2019.html" target="_blank">Tarjetas OMAS - abril - eloqua</a>
          </li>
          <li>
            <a href="{{root}}/abril/cr-tarjetas-omas-abril-2019-web.html" target="_blank">Tarjetas OMAS - abril - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/abril/cr-tarjetas-adicionales-abril-2019.html" target="_blank">Tarjetas Adicionales - abril - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/abril/cr-tarjetas-adicionales-abril-2019-web.html" target="_blank">Tarjetas Adicionales - abril - web</a>
          </li>
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/abril/cr-seguros-viajero-abril-2019.html" target="_blank">Seguro viajero - abril - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/abril/cr-seguros-viajero-abril-2019-web.html" target="_blank">Seguro viajero - abril - web</a>
          </li> 
          <spacer size="5"></spacer>
          <li>
              <a href="{{root}}/abril/cr-prestamos-personales-abril-2019.html" target="_blank">Préstamos personales - abril - eloqua</a>
          </li>
          <li>
              <a href="{{root}}/abril/cr-prestamos-personales-abril-2019-web.html" target="_blank">Préstamos personales - abril - web</a>
          </li>
        <spacer size="15"></spacer>
          <h2>Correos Marzo 2019</h2>
            <li>
              <a href="{{root}}/marzo/cr-tarjetas-nuevas-marzo-2019.html" target="_blank">Tarjetas Nuevas - marzo - eloqua</a>
            </li>
            <li>
              <a href="{{root}}/marzo/cr-tarjetas-nuevas-marzo-2019-web.html" target="_blank">Tarjetas Nuevas - marzo - web</a>
            </li>
            <spacer size="5"></spacer>
            <li>
              <a href="{{root}}/marzo/cr-tarjetas-omas-marzo-2019.html" target="_blank">Tarjetas OMAS - marzo - eloqua</a>
            </li>
            <li>
              <a href="{{root}}/marzo/cr-tarjetas-omas-marzo-2019-web.html" target="_blank">Tarjetas OMAS - marzo - web</a>
            </li>
            <spacer size="5"></spacer>
            <li>
                <a href="{{root}}/marzo/cr-tarjetas-adicionales-marzo-2019.html" target="_blank">Tarjetas Adicionales - marzo - eloqua</a>
            </li>
            <li>
                <a href="{{root}}/marzo/cr-tarjetas-adicionales-marzo-2019-web.html" target="_blank">Tarjetas Adicionales - marzo - web</a>
            </li>
            <spacer size="5"></spacer>
            <li>
                <a href="{{root}}/marzo/cr-seguros-viajero-marzo-2019.html" target="_blank">Seguro viajero - marzo - eloqua</a>
            </li>
            <li>
                <a href="{{root}}/marzo/cr-seguros-viajero-marzo-2019-web.html" target="_blank">Seguro viajero - marzo - web</a>
            </li> 
            <spacer size="5"></spacer>
            <li>
                <a href="{{root}}/marzo/cr-prestamos-personales-marzo-2019.html" target="_blank">Préstamos personales - marzo - eloqua</a>
            </li>
            <li>
                <a href="{{root}}/marzo/cr-prestamos-personales-marzo-2019-web.html" target="_blank">Préstamos personales - marzo - web</a>
            </li> 
          <spacer size="15"></spacer>
          <h2>Seguro Viajero - febrero 25 2019</h2>
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-febrero-25-2019.html" target="_blank">febrero 25 - eloqua</a>
          </li>
            <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-febrero-25-web-2019.html" target="_blank">febrero 25 - web</a>
          </li>
          <spacer size="15"></spacer>
          <h2>Tarjetas - Nuevas/PPAs - PLATINO - febrero 2019</h2>
          <li>
            <a href="{{root}}/platino/cr-tjc-ppas-platino-feb-19.html" target="_blank">Platino - Feb - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/platino/cr-tjc-ppas-platino-feb-web-19.html" target="_blank">Platino - Feb - Web</a>
          </li>
          <spacer size="15"></spacer>
           <h2 style="text-align:left;">Correos Bienvenida Notificame</h2>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-1-aprobacion.html">
                    1 - Aprobación de Solicitud
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-1-aprobacion-web.html">
                    1 - Aprobación de Solicitud - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-2-produccion.html">
                  2 - Producción
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-2-produccion-web.html">
                  2 - Producción - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-3-distribucion.html">
                    3 - Distribución
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-3-distribucion-web.html">
                    3 - Distribución - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-4-reproceso.html">
                    4 - Reproceso
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-4-reproceso-web.html">
                    4 - Reproceso - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-5-entrega-sucursal.html">
                    5 - Entrega en Sucursal
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-5-entrega-sucursal-web.html">
                    5 - Entrega en Sucursal - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-6-activacion.html">
                    6 - Activación
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-6-activacion-web.html">
                    6 - Activación - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-7-post-activacion.html">
                    7 - Post-Activación
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-7-post-activacion-web.html">
                    7 - Post-Activación - Web
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-8-medios-pago.html">
                    8 - Medios de Pago
                  </a>
                </li>
                <li>
                  <a href="{{root}}/bienvenida/cr-bienvenida-8-medios-pago-web.html">
                    8 - Medios de Pago - Web
                  </a>
                </li>
          <spacer size="15"></spacer>
          <h2>Tarjetas - Nuevas/PPAs - Multicanalidad 24/7 - febrero 2019</h2>
          <li>
            <a href="{{root}}/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-febrero-2019.html" target="_blank"> Multicanalidad 24/7 - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-febrero-web-2019.html" target="_blank"> Multicanalidad 24/7 - Web</a>
          </li>
          <spacer size="15"></spacer>

          <h2>Correo - Tarjetas Adicionales - febrero 2018</h2>
          <li>
            <a href="{{root}}/adicionales/cr-tarjetas-adicionales-febrero-2019.html" target="_blank">Tarjeta Adicional -
              eloqua</a>
          </li>
          <li>
            <a href="{{root}}/adicionales/cr-tarjetas-adicionales-febrero-web-2019.html" target="_blank">Tarjeta Adicional -
              web</a>
          </li>
          <spacer size="24"></spacer>

          <h2>Seguro Viajero - febrero 2019</h2>
            <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-febrero-2019.html" target="_blank">Seguro Viajero - febrero - eloqua</a>
            </li>
             <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-febrero-web-2019.html" target="_blank">Seguro Viajero - febrero - web</a>
            </li>
        
            <spacer size="15"></spacer>

          <h2>Correo OMAS - febrero 2018</h2>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-febrero-2019.html" target="_blank">OMAS - Eloqua</a>
          </li>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-febrero-2019-web.html" target="_blank">OMAS - Web</a>
          </li>

          <spacer size="24"></spacer>

          

          <h2>Tarjetas - Nuevas/PPAs - Multicanalidad - enero 2019</h2>
            <li>
              <a href="{{root}}/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-enero-2019.html" target="_blank"> Multicanalidad - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-enero-2019-web.html" target="_blank"> Multicanalidad - Web</a>
            </li>
            <spacer size="15"></spacer>

            <h2>Seguro Viajero - enero 2019</h2>
            <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-enero-2019.html" target="_blank">Seguro Viajero - A - eloqua</a>
            </li>
             <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-enero-web-2019.html" target="_blank">Seguro Viajero - A - web</a>
            </li>

            <spacer size="15"></spacer>
            <h2>Referidos - Ganá Dinero - 1. Invitación - enero 2019</h2>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-1-invitacion-enero-2019.html" target="_blank">Referidos - Ganá Dinero - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-1-invitacion-enero-2019-web.html" target="_blank">Referidos - Ganá Dinero - WEB</a>
            </li>
            <spacer size="15"></spacer>
            <h2>Referidos - Ganá Dinero - 2. T+2 Sin registro - enero 2019</h2>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-2-dos-dias-sin-registro-enero-2019.html" target="_blank">Referidos - Ganá Dinero - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-2-dos-dias-sin-registro-enero-2019-web.html" target="_blank">Referidos - Ganá Dinero - WEB</a>
            </li>
            <spacer size="15"></spacer>
            <h2>Referidos - Ganá Dinero - 3. T+2 Sin Referidos - enero 2019</h2>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-3-dos-dias-sin-referidos-enero-2019.html" target="_blank">Referidos - Ganá Dinero - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-3-dos-dias-sin-referidos-enero-2019-web.html" target="_blank">Referidos - Ganá Dinero - WEB</a>
            </li>
            <spacer size="15"></spacer>
            <h2>Referidos - Ganá Dinero - 4. T+7 Sin Referidos - enero 2019</h2>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-4-siete-dias-sin-referidos-enero-2019.html" target="_blank">Referidos - Ganá Dinero - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/tink/tink-clientes-gana-dinero-4-siete-dias-sin-referidos-enero-2019-web.html" target="_blank">Referidos - Ganá Dinero - WEB</a>
            </li>


            <spacer size="24"></spacer>


            <h2>Correo Tarjetas - Nuevas - PPAS - enero 2018</h2>
            <li>
              <a href="{{root}}/nuevas/cr-tarjetas-nuevas-preprobadas-ene-2019.html" target="_blank">Tarjetas Crédito - Nuevas - PPA's - Eloqua</a>
            </li>
            <li>
              <a href="{{root}}/nuevas/cr-tarjetas-nuevas-preprobadas-ene-2019-web.html" target="_blank">Tarjetas Crédito - Nuevas - PPA's - Web version</a>
            </li>
            <spacer size="24"></spacer>

            <h2>Correo Referidos - CashBack - dic 2018</h2>
            <li>
              <a href="{{root}}/tink/tink-clientes-cashback-dic-2018.html" target="_blank">Referidos - CashBack -
                dic - 2018</a>
            </li>
            <li>
              <a href="{{root}}/tink/tink-clientes-cashback-dic-2018.html" target="_blank">Referidos - CashBack -
                dic - 2018 - web</a>
            </li>
            <spacer size="24"></spacer>

              

              <h2>Tasa Cero - Solicitud de Tarjeta - diciembre 2018</h2>
            <li>
              <a href="{{root}}/tasacero/cr-tarjetas-credito-tasacero-diciembre-2018.html" target="_blank">Tasa Cero - Dic - 2018</a>
            </li>
            <li>
              <a href="{{root}}/tasacero/cr-tarjetas-credito-tasacero-diciembre-2018-web.html" target="_blank">Tasa Cero - Dic - 2018 - Web</a>
            </li>
  
            <spacer size="24"></spacer>


            <h2>Seguros Viajero - diciembre 2018</h2>
            <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-diciembre-2018.html" target="_blank">Seguro Viajero - Dic - 2018</a>
            </li>
            <li>
              <a href="{{root}}/seguros/cr-seguros-viajero-diciembre-2018-web.html" target="_blank">Seguro Viajero - Dic - 2018 - Web</a>
            </li>
  
            <spacer size="24"></spacer>



          <h2>Correo OMAS - diciembre 2018</h2>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-diciembre-2018.html" target="_blank">OMAS - Dic - 2018</a>
          </li>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-diciembre-2018-web.html" target="_blank">OMAS - Dic - 2018 - Web</a>
          </li>

          <spacer size="24"></spacer>


          <h2>Correo - Tarjetas Nuevas Preaprobadas - Dic 2018</h2>
          <li>
            <a href="{{root}}/nuevas/cr-tarjetas-nuevas-preprobadas-dic-2018.html" target="_blank">Nuevas Preaprobadas -
              diciembre - 2018</a>
          </li>
          <li>
            <a href="{{root}}/nuevas/cr-tarjetas-nuevas-preprobadas-dic-2018-web.html" target="_blank">Nuevas Preaprobadas -
              diciembre - 2018 - web</a>
          </li>
          <spacer size="24"></spacer>
          
          <h2>Correo - Tarjetas Adicionales - Dic 2018</h2>
          <li>
            <a href="{{root}}/adicionales/cr-tarjetas-adicionales-dic-2018.html" target="_blank">Tarjeta Adicional -
              diciembre - 2018</a>
          </li>
          <li>
            <a href="{{root}}/adicionales/cr-tarjetas-adicionales-dic-2018-web.html" target="_blank">Tarjeta Adicional -
              diciembre - 2018 - web</a>
          </li>
          <spacer size="24"></spacer>


          <h2>Correo Tink - nov 2018</h2>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-nuevas-blue-nov-2018.html" target="_blank">Tarjeta - Blue -
              noviembre - 2018</a>
          </li>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-nuevas-blue-nov-2018-web.html" target="_blank">Tarjeta - Blue -
              noviembre - 2018 - web</a>
          </li>
          <spacer size="24"></spacer>





      <h2>Correo Tink - nov 2018</h2>
          <li>
            <a href="{{root}}/tink/tink-clientes-cashback-nov-2018.html" target="_blank">Invitación - Clientes - CashBack - noviembre - 2018</a>
          </li>
          <li>
            <a href="{{root}}/tink/tink-clientes-cashback-nov-2018-web.html" target="_blank">Invitación - Clientes - CashBack - noviembre -
              2018 - Web</a>
          </li>
            <li>
            <a href="{{root}}/tink/tink-clientes-cashback-expectativa-nov-2018.html" target="_blank">Expectativa - Clientes - CashBack - noviembre - 2018</a>
          </li>
          </li>
          <li>
            <a href="{{root}}/tink/tink-clientes-cashback-expectativa-nov-2018-web.html" target="_blank">Expectativa - Clientes - CashBack -
              noviembre - 2018 - Web</a>
          </li>
          <spacer size="24"></spacer>


          <h2>Correo OMAS - noviembre 2018</h2>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-noviembre-2018.html" target="_blank">OMAS - Nov - 2018</a>
          </li>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-noviembre-2018-web.html" target="_blank">OMAS - Nov - 2018 - Web</a>
          </li>

          <spacer size="24"></spacer>
          
          <h2>Correo Tink - octubre 22 2018</h2>
          <li>
            <a href="{{root}}/tink/tink-colaboradores-oct-22-2018-gif.html" target="_blank">Tink - Colaboradores - Octubre -
              GIF - 2018</a>
          </li>
          <spacer size="24"></spacer>


          <h2>Correo Tink - octubre 2018</h2>
          <li>
            <a href="{{root}}/tink/tink-colaboradores-oct-2018-cancun.html" target="_blank">Tink - Colaboradores - Octubre - Cancún - 2018</a>
          </li>
           <li>
            <a href="{{root}}/tink/tink-colaboradores-oct-2018-vegas.html" target="_blank">Tink - Colaboradores - Octubre - Vegas - 2018</a>
          </li>
          <spacer size="24"></spacer>
          <h2>Traslado Compras a Tasa Cero - Octubre</h2>
          <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-octubre-2018.html" target="_blank"> Traslado de Compras</a></li>
          <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-octubre-2018-web.html" target="_blank"> Traslado de Compras -
              Web </a></li>
          
          <spacer size="24"></spacer>
          <h2>Correo OMAS - setiembre 2018</h2>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-setiembre-2018.html" target="_blank">OMAS - Set - 2018</a>
          </li>
          <li>
            <a href="{{root}}/preaprobadas/cr-tarjetas-omas-setiembre-2018-web.html" target="_blank">OMAS - Set - 2018 - Web</a>
          </li>

          <spacer size="24"></spacer>
          <h2>Correo Tink - setiembre 2018</h2>
          <li>
            <a href="{{root}}/tink/tink-colaboradores-set-2018.html" target="_blank">Tink - Colaboradores - 2018</a>
          </li>
          <spacer size="24"></spacer>
          <h2>Nuevos layouts - agosto 2018</h2>
          <li>
            <a href="{{root}}/regional/dos-plasticos-agosto-2018.html" target="_blank">Dos Plásticos</a>
          </li>
          
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-agosto-2018.html" target="_blank">Seis Iconos</a>
          </li>
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-agosto-2018.html" target="_blank">Una Columna</a>
          </li>
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-agosto-2018.html" target="_blank">Promos</a>
          </li>
          <spacer size="24"></spacer>
          <h2>Seguro Viajero - agosto</h2>
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-agosto-2018.html" target="_blank">Seguro Viajero - agosto 2018 </a>
          </li> 
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-agosto-2018-web.html" target="_blank">Seguro Viajero - agosto 2018 - Web </a>
          </li>

          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-julio-2018.html" target="_blank">Seguro Viajero - julio 2018 </a>
          </li>
          
          <li>
            <a href="{{root}}/seguros/cr-seguros-viajero-julio-2018-web.html" target="_blank">Seguro Viajero - julio 2018 - Web </a>
          </li>

          <spacer size="24"></spacer>
          <h2>Notificaciones - Cambio de Teléfono</h2>
          
              <li>
                  <a href="{{root}}/notificaciones/cambio-telefono-personas.html" target="_blank">Cambio Telefono - Personas </a>
                </li>
                <li>
                  <a href="{{root}}/notificaciones/cambio-telefono-business.html" target="_blank">Cambio Telefono - Empresas </a>
                </li>

          <spacer size="24"></spacer>
          <h2 style="text-align:left;">Pre-aprobadas - agosto</h2>
            <li>
              <a href="{{root}}/preaprobadas/cr-prestamos-credito247-julio-18.html" target="_blank">Préstamos - Crédito 24/7 - julio 2018 </a>
          </li>
            <li>
              <a href="{{root}}/preaprobadas/cr-cuentas-preaprobadas-julio-2018.html" target="_blank">Cuentas - BAC Ahorros - julio 2018 </a>
          </li>
            <li>
              <a href="{{root}}/preaprobadas/cr-tarjetas-preaprobadas-julio-2018.html" target="_blank">Tarjetas - Pre-aprobadas - julio 2018 </a>
            </li>
            <li>
              <a href="{{root}}/preaprobadas/cr-tarjetas-omas-agosto-2018.html" target="_blank">Tarjetas - OMAS Pre-aprobadas - julio 2018 </a>
            </li>
         
            <spacer size="24"></spacer>
             
              <p style="text-align:left;">Traslado Compras a Tasa Cero</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-julio-2018.html" target="_blank"> Traslado de Compras</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-julio-web-2018.html" target="_blank"> Traslado de Compras - Web </a></li>


              <spacer size="20"></spacer>
              <p style="text-align:left; padding-top:20px;">Junio 2018.</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-abril-2018.html" target="_blank"> Traslado de Compras</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-traslado-compras-abril-web-2018.html" target="_blank"> Traslado de Compras - Web </a></li>
              
              <br>
              <p style="text-align:left;">mayo 2018.</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-mayo-18-2018.html" target="_blank"> Pre-aprobadas - Clásicas - mayo 2018 </a></li>            
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-mayo-18-2018-web.html" target="_blank"> Pre-aprobadas - Clásicas - mayo 2018 - Web </a></li>             
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-mayo-18-2018.html" target="_blank"> Pre-aprobadas - Doradas - mayo 2018 </a> </li>             
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-mayo-18-2018-web.html" target="_blank"> Pre-aprobadas - Doradas - mayo 2018 - Web </a></li>

              <br>
              <p style="text-align:left;">abril 2018.</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-abril-26-2018.html" target="_blank"> Pre-aprobadas - Clásicas - abril 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-abril-26-2018-web.html" target="_blank"> Pre-aprobadas - Clásicas - abril 2018 - Web </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-abril-26-2018.html" target="_blank"> Pre-aprobadas - Doradas - abril 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-abril-26-2018-web.html" target="_blank"> Pre-aprobadas - Doradas - abril 2018 - Web </a></li>


              <br>
              <p style="text-align:left;">febrero 2018.</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ofrecimiento-clasicas-producto.html" target="_blank"> Limite Global - Clásicas - Productos</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ofrecimiento-clasicas-producto-web.html" target="_blank"> Limite Global - Clásicas - Productos -  Web</a></li>
                         
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ofrecimiento-doradas-producto.html" target="_blank"> Limite Global - Doradas- Productos</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ofrecimiento-doradas-producto-web.html" target="_blank"> Limite Global - Doradas - Productos - Web</a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-productos-feb-09-2018.html" target="_blank"> Pre-aprobadas - Clásicas - Productos - febrero 2018 </a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-clasicas-productos-feb-09-2018-web.html" target="_blank"> Pre-aprobadas - Clásicas - Productos - febrero 2018 - Web</a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-clasicas-categorias-feb-09-2018.html" target="_blank"> Limite Global - Clásicas - Categorias - febrero 2018 </a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-clasicas-categorias-feb-09-2018-web.html" target="_blank"> Limite Global - Clásicas - Categorias - febrero 2018 - Web</a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-viajes-feb-09-2018.html" target="_blank"> Pre-aprobadas - Doradas - Viajes - febrero 2018 </a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-doradas-viajes-feb-09-2018-web.html" target="_blank"> Pre-aprobadas - Doradas - Viajes - febrero 2018 - Web </a></li>
              
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-doradas-productos-feb-09-2018.html" target="_blank"> Limite Global - Doradas - Productos - febrero 2018 </a></li>

              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-doradas-productos-feb-09-2018-web.html" target="_blank"> Limite Global - Doradas - Productos - febrero 2018 - Web</a></li>

              <br>
              <p style="text-align:left;">Enero 2018</p>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ene-2018.html" target="_blank">Limite Global - enero 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ene-2018-web.html" target="_blank">Limite Global - enero 2018 - Web</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ene-23-2018.html" target="_blank">Limite Global - enero 23 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-limiteglobal-ene-23-2018-web.html" target="_blank">Limite Global - enero 23 2018 - Web</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-ene-2018.html" target="_blank">Genérico - Pre-aprobadas - enero 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-ene-2018-web.html" target="_blank">Genérico - Pre-aprobadas - enero 2018 - Web</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-ene-23-2018.html" target="_blank">Genérico - Pre-aprobadas - enero 23 2018 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-ene-23-2018-web.html" target="_blank">Genérico - Pre-aprobadas - enero 23 2018 - Web</a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-blue-enero-23-2018.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - enero 2018 </a></li>
              
              <li><a href="{{root}}/ventas/cr-tarjetas-blue-enero-23-2018-web.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - enero 2018 - Web</a></li>
              <br>
              <p style="text-align:left;">Pre-aprobadas & Limite Global 2017 </p>

              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-10-2017.html" target="_blank">Genérico - Pre-aprobadas - octubre 2017 </a></li>
              <li><a href="{{root}}/ventas/cr-tarjetas-preaprobadas-web-10-2017.html" target="_blank">Genérico - Pre-aprobadas - octubre 2017 - Web</a></li>
            <li><a href="{{root}}/ventas/cr-tarjetas-blue-sep-26.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - set 2017 </a></li>
            <li><a href="{{root}}/ventas/cr-tarjetas-blue-sep-26-web.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - set 2017 - Web</a></li>
            <li><a href="{{root}}/cobranded/blue-sep.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - agosto 2017 </a></li>
            <li><a href="{{root}}/cobranded/blue-web-sep.html" target="_blank">Tarjeta BLUE - Pre-aprobadas - agosto 2017 - Web</a></li>
            <li><a href="{{root}}/ventas/cr-2017-08-22-blue-industrias.html" target="_blank">Tarjeta BLUE - Cambio Industria - agosto 2017</a></li>
            <li><a href="{{root}}/ventas/cr-2017-08-22-blue-industrias-web.html" target="_blank">Tarjeta BLUE - Cambio Industria - agosto 2017 - Web</a></li>
          </ul>

      <h3 style="text-align:left;">Tarjetas Cobranded</h3>
          <ul style="text-align:left;">
            <li><a href="{{root}}/cobranded/prueba.html" target="_blank">Prueba</a></li>
            <li><a href="{{root}}/cobranded/lifemiles-sep.html" target="_blank">Tarjeta LifeMiles - sep 2017 </a></li>
            <li><a href="{{root}}/cobranded/lifemiles-web-sep.html" target="_blank">Tarjeta LifeMiles - sep 2017 - Web</a></li>
            <li><a href="{{root}}/cobranded/lifemiles-sep-09.html" target="_blank">Tarjeta LifeMiles - sep 9, 2017 </a></li>
            <li><a href="{{root}}/cobranded/lifemiles-sep-09-web.html" target="_blank">Tarjeta LifeMiles - sep 9, 2017 - Web</a></li>
            <li><a href="{{root}}/cobranded/aadvantage-nov-14.html" target="_blank">Tarjeta AAdvatange - nov 14, 2017 </a></li>
            <li><a href="{{root}}/cobranded/aadvantage-nov-14-web.html" target="_blank">Tarjeta AAdvatange - Nov 14, 2017 - Web</a></li>
            <li><a href="{{root}}/cobranded/connectmiles-nov-14.html" target="_blank">Tarjeta ConnectMiles - Nov 14, 2017 </a></li>
            <li><a href="{{root}}/cobranded/connectmiles-nov-14-web.html" target="_blank">Tarjeta ConnectMiles - Nov 14, 2017 - Web</a></li>
      </ul>




        <h2>Notificaciones</h2>
        <h3 style="text-align:left;">Etapas</h3>
          <ul style="text-align:left;">
            <li><a href="{{root}}/notificaciones/100-set-18.html" target="_blank">Etapa 100 - Tarjetas - Set 2018</a></li>
            <li><a href="{{root}}/notificaciones/100.html" target="_blank">Etapa 100 - Tarjetas</a></li>
            <li><a href="{{root}}/notificaciones/100-pp.html" target="_blank">Etapa 100 - Préstamos</a></li>
            <li><a href="{{root}}/notificaciones/101.html" target="_blank">Etapa 101 - Tarjetas</a></li>
            <li><a href="{{root}}/notificaciones/102.html" target="_blank">Etapa 102 - Tarjetas</a></li>
            <li><a href="{{root}}/notificaciones/102-pp.html" target="_blank">Etapa 102 - Préstamos Personales</a></li>
            <li><a href="{{root}}/notificaciones/104.html" target="_blank">Etapa 104 - Tarjetas</a></li>
            <li><a href="{{root}}/notificaciones/104-pp.html" target="_blank">Etapa 104 - Préstamos</a></li>
            <li><a href="{{root}}/notificaciones/106.html" target="_blank">Etapa 106 - Tarjetas</a></li>
            <li><a href="{{root}}/notificaciones/106-web.html" target="_blank">Etapa 106 - Tarjetas - Web</a></li>
          </ul>


        <spacer size="24"></spacer>
        <h2 style="text-align:left;">Regional</h2>
        <ul style="text-align:left;">
         <li><a href="{{root}}/regional/marketing_lab_2018.html" target="_blank"> Digital Marketing Lab - marzo 01 2018</a></li>
         <li><a href="{{root}}/regional/marketing_lab_2018_marzo_19.html" target="_blank"> Digital Marketing Lab - marzo 19 2018</a></li>
        </ul>

        <spacer size="24"></spacer>
        <h2>Actualizaciones de Datos</h2>

        <p>Actualización Información Cliente</p>
          <ul style="text-align:left;">           
            <li><a href="{{root}}/notificaciones/actualizacion-datos-abril-18.html" target="_blank">Actualización de Datos - abril 2018</a></li>
            <li><a href="{{root}}/notificaciones/actualizacion-credito.html" target="_blank">Actualización de Datos - 2017</a></li>
          </ul>

        <p>Actualización de Expediente</p>
        <ul style="text-align:left;">
            <li><a href="{{root}}/notificaciones/actualizacion-expediente-carta-1.html" target="_blank">Actualización de Expediente - Carta 1</a></li>
            <li><a href="{{root}}/notificaciones/actualizacion-expediente-carta-2.html" target="_blank">Actualización de Expediente - Carta 2</a></li>
            <li><a href="{{root}}/notificaciones/actualizacion-expediente-carta-3.html" target="_blank">Actualización de Expediente - Carta 3</a></li>
            <li><a href="{{root}}/notificaciones/105.html" target="_blank">Tarjetas Rojo a Verde</a></li>
            <li><a href="{{root}}/notificaciones/105-web.html" target="_blank">Tarjetas Rojo a Verde (Web version)</a></li>
            <li><a href="{{root}}/notificaciones/105.html" target="_blank">Ofrecimiento otro plastico</a></li>
            <li><a href="{{root}}/notificaciones/caso-omiso.html" target="_blank">Caso omiso</a></li>
            <li><a href="{{root}}/notificaciones/caso-omiso-ppas-dic.html" target="_blank">Caso omiso - PPA's Dic</a></li>
            <li><a href="{{root}}/notificaciones/error.html" target="_blank">Formalizar</a></li>
            <li><a href="{{root}}/notificaciones/formalizar-dias.html" target="_blank">Formalizar días</a></li>
            <li><a href="{{root}}/notificaciones/formalizar-sin-numero.html" target="_blank">Formalizar sin número</a></li>
        </ul>
        <spacer size="24"></spacer>
        <h2>Ventas</h2>

        <h3 style="text-align:left;">Cuentas</h3>
        <ul style="text-align:left;">
          <li><a href="{{root}}/ventas/cr-cuentas-ahorros-enero-2018.html" target="_blank">Ahorros BAC Credomatic - ene 2018 </a></li>
          <li><a href="{{root}}/ventas/cr-cuentas-ahorros-enero-2018-WEB.html" target="_blank">Ahorros BAC Credomatic - ene 2018 - Web</a></li>
        </ul>

        <h3 style="text-align:left;">Crédito 24/7</h3>
        <ul style="text-align:left;">
          <li><a href="{{root}}/ventas/cr-prestamos-credito247-ene-18.html" target="_blank">Crédito 24/7 - ene 2018 </a></li>
          <li><a href="{{root}}/ventas/cr-prestamos-credito247-ene-18-web.html" target="_blank">Crédito 24/7 - ene 2018 - Web</a></li>

          <li><a href="{{root}}/ventas/cr-prestamos-credito247-sep-27.html" target="_blank">Crédito 24/7 - set 2017 </a></li>
          <li><a href="{{root}}/ventas/cr-prestamos-credito247-sep-27-web.html" target="_blank">Crédito 24/7 - set 2017 - Web</a></li>
        </ul>

         

          <h3 style="text-align:left;">Seguros</h3>
            <ul style="text-align:left;">
              <li><a href="{{root}}/seguros/cr-seguros-viajero-ago-2018.html" target="_blank">Seguro Viajero - agosto 2107 </a></li>
              
              <li><a href="{{root}}/seguros/cr-seguros-viajero-ago-2018-web.html" target="_blank">Seguro Viajero - agosto 2107 - Web </a></li>

              <li><a href="{{root}}/ventas/cr-seguros-tarjetas-prf-12-2017.html" target="_blank">PRF Tarjetas - dic 2107 </a></li>

              <li><a href="{{root}}/ventas/cr-seguros-tarjetas-prf-12-2017-web.html" target="_blank">PRF Tarjetas - dic 2107 - Web</a></li>

              <li><a href="{{root}}/ventas/cr-seguros-tarjetas-prf-01-2018.html" target="_blank">PRF Tarjetas - enero 2108 </a></li>
              
              <li><a href="{{root}}/ventas/cr-seguros-tarjetas-prf-01-2018-web.html" target="_blank">PRF Tarjetas - enero 2108 - Web</a></li>
              
            </ul>

          <h3 style="text-align:left;">Transferencias Programadas</h3>
            <ul style="text-align:left;">
              <li><a href="{{root}}/ventas/cr-cuentas-transferencias-filas-10-9-2017.html" target="_blank">Transferencias Programadas - Filas - octubre 9, 2107 </a></li>
              <li><a href="{{root}}/ventas/cr-cuentas-transferencias-filas-web-10-9-2017.html" target="_blank">Transferencias Programadas - Filas - octubre 9, 2017 - Web</a></li>
              <li><a href="{{root}}/ventas/cr-cuentas-transferencias-tiempo-10-12-2017.html" target="_blank">Transferencias Programadas - Tiempo - octubre 12, 2107 </a></li>
              <li><a href="{{root}}/ventas/cr-cuentas-transferencias-agilidad-10-12-2017.html" target="_blank">Transferencias Programadas - Agilidad - octubre 12, 2017</a></li>
            </ul>

          <h3 style="text-align:left;">Préstamos Personales</h3>
              <ul style="text-align:left;">
                <li><a href="{{root}}/ventas/cr-2017-08-11-prestamos.html" target="_blank">Prestamos Personales - agosto 2017 </a></li>
                <li><a href="{{root}}/ventas/cr-2017-08-11-prestamos-web.html" target="_blank">Prestamos Personales - agosto 2017 - Web</a></li>

                <li><a href="{{root}}/ventas/cr-prestamos-sec-01-11-2017.html" target="_blank">Prestamos Personales SEC - Nov 2017 </a></li>
                <li><a href="{{root}}/ventas/cr-prestamos-sec-01-11-2017-web.html" target="_blank">Prestamos Personales SEC - Nov 2017 - Web</a></li>
              </ul>

        <h2>Notificaciones E-Commerce</h2>
        <ul style="text-align:left;">
          <li><a href="{{root}}/notificaciones/confirmar-seguro.html" target="_blank">Confirmar seguro</a></li>
          <li><a href="{{root}}/notificaciones/cotizacion-seguro.html" target="_blank">Cotización seguro</a></li>
        </ul>


      </center>
      <spacer size="16"></spacer>
    </columns>
  </row>
</container>
<spacer size="16"></spacer>
