---
subject: Gracias por su interés en nuestros productos
description: Estamos realizando un pre-análisis de su perfil financiero.
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]</p>
    <h1>Tu solicitud está en proceso</h1>
    <p>Número de solicitud: [Opportunity.Row Id]</p>
    <p>Tu solicitud está siendo evaluada por un analista de crédito. Por este medio se te estará brindando el seguimiento de tu proceso.</p>
    <p>¡Muchas Gracias!</p>
  </columns>
</row>