---
subject: Gracias por su interés en nuestros productos
description: Estamos realizando un pre-análisis de su perfil financiero.
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]</p>
    <h1>Gracias por su interés en nuestros productos</h1>
    <p>Número de solicitud: [Opportunity.Row Id]</p>
    <p>Recibimos su solicitud y estamos realizando un pre-análisis de su perfil financiero. Por este medio se le estará
      brindando el seguimiento de su proceso.</p>
    <p>¡Muchas Gracias!</p>
  </columns>
</row>