---
subject: Su tarjeta le espera en nuestra sucursal
description: Su tarjeta le espera en nuestra sucursal
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]</p>
    <h1>Su tarjeta está lista</h1>
    <p>Número de solicitud: [Opportunity.Row Id]</p>
    <p>Le esperamos en la sucursal [sucursal] para hacerle entrega</p>
    <p>¡Muchas Gracias!</p>
  </columns>
</row>
