---
subject: Requerimos su ayuda para continuar con el trámite
description: Requerimos su ayuda para continuar con el trámite
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]. Hemos recibido su solicitud de préstamo personal.</p>
    <h1>Requerimos de su ayuda</h1>
    <p>Número de solicitud: [Opportunity.Row Id]
    <p>Para poder continuar con el trámite, contáctenos por los siguientes medios:</p>
    <p><strong>Llamenos al télefono: 2295-9589</strong></p>
    <p>Horario de atención: Lunes a Viernes de 8:00am a 5:30pm</p>
    <p>O bien, escríbanos al correo: <a href="mailto:prestamospersonales@baccredomatic.com">prestamospersonales@baccredomatic.com</a></p>
    <p>¡Muchas gracias por su preferencia!</p>
  </columns>
</row>
