---
subject: Su solicitud ha sido denegada
description: Su solicitud ha sido denegada
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]</p>
    <h1>Gracias por su interés en nuestros productos</h1>
    <p>Número de solicitud: [Opportunity.Row Id]</p>
    <p>Desafortunadamente, en este momento, no podemos darle el producto que solicitó. Lo anterior en aplicación de nuestras políticas internas de crédito y las directrices del ente regulatorio sobre el análisis crediticio.</p>
  </columns>
</row>
