---
subject: Su solicitud ha sido denegada
description: Su solicitud ha sido denegada
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_link: "https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros"
cta_title: Solicitar una cuenta bancaria
cta_text: Solicitar una cuenta bancaria
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name]</p>
    <h1>Gracias por su interés en nuestros productos</h1>
    <p>Número de solicitud: [Opportunity.Row Id]</p>

    <p>Desafortunadamente, en este momento, no podemos darle el producto que solicitó. Lo anterior en aplicación de nuestras políticas internas de crédito y las directrices del ente regulatorio sobre el análisis crediticio.</p>

    <p>Sin embargo, nos gustaría recomendarle que <a href="{{cta_link}}" title="{{cta_title}}">abra una cuenta bancaria con nosotros</a>. Al hacerlo, tendríamos la oportunidad de conocerle mejor y eventualmente, poder otorgarle una tarjeta de crédito.</p>

    <p>Con su cuenta, obtendrá una tarjeta de débito, tendrá acceeso a las promociones de La Roja, acceso a nuestra Banca en Línea y muchos otros beneficios.</p>

    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
