---
subject: Buenas noticias.
description: Requerimos su ayuda para continuar con el trámite
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
layout: notificaciones
---
<row>
  <columns>
    <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name].</p>
    <h1>Buenas noticias</h1>
    <h2>Tenemos una tarjeta pre-aprobada para vos.</h2>
    <p>Si estás interesado, por favor respondé al correo: <a href="mailto:tarjetas@baccredomatic.com">tarjetas@baccredomatic.com</a></p>

    <p><strong>O bien, llamanos al télefono: 2295-9589</strong></p>
    <p>Horario de atención: Lunes a Viernes de 8:00am a 5:30pm</p>
    <p>¡Muchas gracias por su preferencia!</p>
  </columns>
</row>
