---
subject: Requerimos de su ayuda
description: Requerimos su ayuda para continuar con el trámite
charset: ISO-8859-1
cta_text: Solicítela Aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_etapa_106_email_siebel_12_12_2017&utm_content=Etapa106"
replyto: tarjetas@baccredomatic.com
layout: notificaciones-web
---
<row>
    <columns>
        <p>Hola [Opportunity.Key Contact First Name] [Opportunity.Key Contact Last Name].</p> <h1>Requerimos de su ayuda</h1>
        <p>Su solicitud no cumple con todos requisitos requeridos para obtener la tarjeta que solicitó.</p> 
        <p><strong>Tomando en cuenta su elección consideramos que le podría interesar alguno de los siguientes productos:</strong></p></h2>
    </columns>
</row>

        <row>
            <columns small="12" large="6" class="columnscards">
              <center>
                  <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_preaprobadas_email_siebel_10_06_2017&utm_content=gif_tarjetas_cashback">
                    <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-cashback-10-2017.gif" alt="Tarjetas CashBack"></a>
                      <spacer size="20"></spacer>
                      <h3 style="color: #4D4D4F;"><strong>Tarjetas CashBack</strong></h3>
                      <h4>
                      <ul style="color: #4D4D4F">
                      <li>Devolución en efectivo</li>
                      <li>Hasta 5% CashBack*</li>
                      </ul>
                      </h4>
                      <spacer size="12"></spacer>
                      <button href="{{cta_link}}" class="primary button" title="{{cta_title}}">{{cta_text}}</button>
                </center>
            </columns>
            <columns small="12" large="6" class="columnscards">
                <center>
                      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/supermercados-clubes-y-tiendas?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_preaprobadas_email_siebel_10_06_2017&utm_content=gif_tarjetas_supermercados">
                        <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-supermercados-10-2017.gif" alt="Tarjeta para Supermercados"></a>
                      <spacer size="20"></spacer>
                      <h3 style="color: #4D4D4F;"><strong>Tarjetas para Supermercados</strong></h3>
                      <h4>
                      <ul style="color: ##4D4D4F;">
                        <li>Acumulá Puntos por tus compras</li>
                        <li>Financiamiento de compras a plazo</li>
                      </ul>
                      </h4>
                      <button href="{{cta_link}}" class="primary button" title="{{cta_title}}">{{cta_text}}</button>
                </center>
            </columns>
        </row>
            
<row>