---
subject: Requerimos su ayuda con la actualización de datos
description: Requerimos su ayuda con la actualización de datos
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
cta_text: ACTUALIZAR DATOS
cta_link: "https://www.baccredomatic.com/es-cr/"
replyto: tarjetas@baccredomatic.com
layout: notificaciones-cred
---
<row>
  <columns>
    <p>Hola [First Name], reciba un cordial saludo de parte de BAC CREDOMATIC.</p>
    <h1>Requerimos de su ayuda</h1>
    <p>  En cumplimiento de las leyes 8204 y 8968, se hace necesario actualizar su información crediticia y datos personales por lo cual solicitamos su colaboración a fin de completar su expediente crediticio con información adjunta. </p>
    <center>
        <button href="{{cta_link}}" class="primary button" title="{{cta_title}}">{{cta_text}}</button>
    </center>

    <p>En caso de que usted requiera corroborar la legitimidad de esta información favor de comunicarse al <strong>teléfono de BAC CREDOMATIC 2295-9589</strong></p>
    <p>Horario de atención: Lunes a Viernes de 8:00am a 5:30pm</p>
  
  
  </columns>
</row>
