---
subject: Requerimos ayuda con la actualización de su expediente
description: Requerimos ayuda con la actualización de su expediente
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
cta_title_perfil: 1. Perfil Físico (KyC) 
cta_link_perfil: "https://www.baccredomatic.com/sites/default/files/perfil_fisico_kyc.pdf"
cta_title_kyc: 2. KyC ampliado
cta_link_kyc: "https://www.baccredomatic.com/sites/default/files/kyc_ampliado_actualizacion_de_expediente_0.pdf"
replyto: actualizacionexpediente@credomatic.com
layout: notificaciones-cred
---

<row>
    <columns small="12" large="6"><h4 class="fecha"></columns>
    <columns small="12" large="6"><h4 class="fecha">[Variable=Fecha]</h4></columns>
</row>

<row>
  <columns>
    <p>Señor(a): [Variable=Nombre del cliente].</p>
    <p>Reciba un cordial saludo,</p>
    <p>En BAC Credomatic periódicamente realizamos la actualización de los expedientes de nuestros clientes fisícos, esto en apego a lo estipulado en la Ley 8204, normas conexas y nuestra política de Conozca a su Cliente.</p>
    <p>Nos dirigimos por este medio, con el fin de solicitarle muy atentamente su colaboración para hacernos llegar los siguientes documentos:</p>
  </columns>
</row>
<row>
  <columns><p><strong>Descargue y complete el "Pérfil Físico (KYC)" y el "KYC ampliado"</strong></p></columns>
</row>
<row>
  <columns>
    <center>
        <button href="{{cta_link_perfil}}" class="primary button" title="{{cta_title_perfil}}">{{cta_title_perfil}}</button>
    </center>
  </columns>
  <columns>
    <center>
        <button href="{{cta_link_kyc}}" class="primary  button" title="{{cta_title_kyc}}">{{cta_title_kyc}}</button>
    </center>
  </columns>
</row>
<row>
  <columns><p><strong>Y envienos los siguientes documentos:</strong></p>
    <ul>
        <li>Documento de identidad</li>
        <li>Verificación de dirección</li>    
        <li>Evidencia de ingresos </li>
        <li>Evidencia de ingresos al menos por $</li>   
      </ul>
    </columns>
</row>
<row>
  <columns>
    <p>En dado caso de que algunos de los documentos solicitados sea la verificación de dirección y no cuente con un recibo de servicio público o privado, favor completar el documento de Perfil Físico (KyC)</p>
    <h2 class="unico-viso">UNICO AVISO</h2>
    <p>En vista de que su persona no presentó la información solicitada, a pesar de que fue debidamente notificado desde el [Variable=Fecha 1], BAC Credomatic procedió con el bloqueo automatico de sus cuentas y/o tarjetas, esto a partir del [Variable= Fecha 2]. El bloqueo no obedece a calificaciones sobre su persona, negocio o actividad, sino a la imposibilidad de mantener una cuenta y/o producto activo sin que se haya actualizado la información de manera satisfactoria para la institución. </p>

    <p>Le invitamos a que nos envíe de manera electrónica estos documentos a la dirección: actualizacionexpediente@credomatic.com; para que el área de validación verifique la información y así poder proceder con el desbloqueo.</p>
    <p>Sin otro particular y agradeciendo su amable atención. </p>
  </columns>
</row>
