---
subject: Nuevo teléfono para solicitudes 2295-9000
firstname: "[First Name]"
header: "Comuníquese al 2295-9000 ext: 27003, para tramites de tarjetas empresariales"
preheader: "Comuníquese al 2295-9000 ext: 27003, para tramites de tarjetas empresariales"
description:
version_web: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/cr-bienvenida-4-reproceso-julio-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
call_text: "Llamá al 2295-9000"
call_number: "tel:2295-9000"
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
unsubscribe: "Si no querés recibir más información o promociones en el futuro a través de esta vía, enviá un email para darte de baja en el servicio a la dirección remover@credomatic.com con la palabra 'remover', en el asunto incluí nombre completo y número de cédula, serás excluido en los próximos 15 días."
layout: bienvenida
---
<row>
    <columns small="12" large="6">
        <p>Estimado, [nombre del cliente]</p>
        <h1>{{ header }}</h1>
        <spacer size="20"></spacer>
        <button href="{{call_number}}" class="secondary button button-right" title="{{cta_title}}">{{call_text}}</button>
        <p><strong></strong></p>
    </columns>
    <columns small="12" large="6">
        <row>
            <a href="{{cta_link}}s">
                <img class="emailImage" src="/images/cr-cambio-telefono-2.jpg"
                    alt="Cambio de Teléfono">
            </a>
        </row>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>Agradecemos su preferencia, es usted un cliente muy valioso para nosotros, por esto, con el objetivo de brindarle una mejor atención en sus tramites de servicio de tarjetas de crédito empresariales, a partir del día de hoy, cuando requiera realizar alguna solicitud, por favor,  comuníquese al <strong>2295 9000 ext 27003</strong> o bien, escribamos al correo <strong>serviciopreferencial@baccredomatic.cr.</strong></p>
    </columns>
</row>
<row>
    <columns>
        <p style="text-align: center;">
        </p>
        <spacer size="10"></spacer>
        <center>
            <button
                href="{{call_number}}"
                class="cta-red"
                title="{{cta_title}}">
                {{call_text}}
            </button>
        </center>
    </columns>
</row>