---
description: Requerimos su ayuda para continuar con el trámite
charset: ISO-8859-1
version_web: "https://baccredomatic.com"
replyto: tarjetas@baccredomatic.com
layout: notificaciones
---
<row>
  <columns>
    <h1>Buenas tardes, </h1>
    <h2>Por error le fue enviado el siguiente correo: "Credomatic le informa la resolución de su gestión."</h2>
    <p>Agradecemos hacer caso omiso a la comunicación y solicitamos las disculpas del caso.</p>
    <p>¡Muchas gracias por su preferencia!</p>
  </columns>
</row>
