---
description: Requerimos su ayuda para continuar con el trámite
charset: ISO-8859-1
version_web: "https://baccredomatic.com"
replyto: tarjetas@baccredomatic.com
layout: notificaciones
---
<row>
  <columns>
    <h2>Buenas tardes,</h2>
    <h1>Disculpas y solicitud de omisión a correo enviado por error.</h1>
    <h2>El presente es para informarle que por error le fue enviado un correo titulado: "Tenés una tarjeta de crédito pre aprobada, solo falta que vos la solicités."</h2>
    <p>Agradecemos hacer caso omiso a la información contenida dentro del mismo y solicitamos disculpas por cualquier inconveniente que puediera surgir.</p>
    <p>¡Gracias por su preferencia!</p>
  </columns>
</row>
