---
subject: "Aquí está la información de tu seguro viajero"
description: "A partir de ahora estás asegurado"
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: false
---
<row>
  <columns>
    <p>Hola Eduardo,</p>
    <h1>A partir de ahora estás asegurado</h1>
    <p>Breve descripción sobre el proceso de utilizar el seguro y el número de teléfono con click to call.</p>
    <p><a href="tel:+506 2222 3333">+506 2222 3333</a></p>
    <p>A continuación la información de tu seguro</p>
  </columns>
</row>

<row>
  <columns>
    <h2>Detalles de tu viaje</h2>
    <hr/>
    <table class="cobertura-table">
      <tbody>
        <tr>
          <td>
            Fecha de salida
          </td>
          <td>
            Lunes 20 de Noviembre de 2017
          </td>
        </tr>
        <tr>
          <td>
            Fecha de regreso
          </td>
          <td>
            Viernes 24 de Noviembre de 2017
          </td>
        </tr>
        <tr>
          <td>Países</td>
          <td>Canadá, Estados Unidos</td>
        </tr>
        <tr>
          <td>Precio</td>
          <td>$180</td>
        <tr>
      </tbody>
    </table>
  </columns>
</row>

<spacer size="10"></spacer>

<row>
  <columns>
    <h2>Detalles de los viajeros</h2>
    <hr/>

    <h3 style="font-weight: bold; text-align: left; font-size: 15px; margin-top: 10px;">Roberto Gonzáles Trejos</h3>
    <table class="cobertura-table">
      <tbody>
        <tr>
          <td>Número de identificación</td>
          <td>Cédula nacional 123456789</td>
        </tr>
        <tr>
          <td>Fecha de nacimiento</td>
          <td>06-02-1980</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>70706699</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>Calle blancos, COM B4</td>
        </tr>
        <tr>
          <td>Beneficiario</td>
          <td>Ana Trejos Martínez</td>
        </tr>
        <tr>
          <td>Parentezco</td>
          <td>Madre</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>88992222</td>
        </tr>
        <tr>
          <td>Número de identficación</td>
          <td>Cédula nacional 2234563456</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>La garita</td>
        </tr>
      </tbody>
    </table>

    <h3 style="font-weight: bold; text-align: left; font-size: 15px; margin-top: 10px;">Juan Pérez</h3>
    <table class="cobertura-table">
      <tbody>
        <tr>
          <td>Número de identificación</td>
          <td>Cédula nacional 123456789</td>
        </tr>
        <tr>
          <td>Fecha de nacimiento</td>
          <td>06-02-1980</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>70706699</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>Calle blancos, COM B4</td>
        </tr>
        <tr>
          <td>Beneficiario</td>
          <td>Ana Trejos Martínez</td>
        </tr>
        <tr>
          <td>Parentezco</td>
          <td>Madre</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>88992222</td>
        </tr>
        <tr>
          <td>Número de identficación</td>
          <td>Cédula nacional 2234563456</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>La garita</td>
        </tr>
      </tbody>
    </table>
  </columns>
</row>

<spacer size="10"></spacer>

<row>
  <columns>
    <h2>Detalles de cobertura</h2>
    <hr/>
    <table class="cobertura-table prices-table">
      <thead>
          <h3 style="font-weight: bold; text-align: left; font-size: 15px; margin-top: 10px;">Inconvenientes de viaje</h3>
      </thead>
      <tbody>
        <tr>
          <td>Cancelación y acortamiento de viaje</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Retraso del viaje</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>Pérdida definitiva de equipaje</td>
          <td>$250</td>
        </tr>
        <tr>
          <td>Pérdida temporal de equipaje</td>
          <td>$50</td>
        </tr>
        <tr>
          <td>Pérdida del pasaporte</td>
          <td>$100</td>
        </tr>
      </tbody>
    </table>

    <table class="cobertura-table prices-table">
      <thead>
          <h3 style="font-weight: bold; text-align: left; font-size: 15px; margin-top: 10px;">Gastos médicos</h3>
      </thead>
      <tbody>
        <tr>
          <td>Eventos accidentales o enfermedades agudas o por emegencia médica</td>
          <td>Hasta $50.000</td>
        </tr>
        <tr>
          <td>Gastos Funerarios</td>
          <td>$3.000</td>
        </tr>
        <tr>
          <td>Repatriación sanitaria</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Repatriación de restos mortales</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Traslado aéreo de un acompañante ida y vuelta (por recomendación médica)</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Gastos de traslado aéreo del asegurado</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Alojamiento, Pensión y Transporte para Acompañante</td>
          <td>$100 diarios Máximo $1000</td>
        </tr>
      </tbody>
    </table>

    <table class="cobertura-table prices-table">
      <thead>
          <h3 style="font-weight: bold; text-align: left; font-size: 15px; margin-top: 10px;">Gastos médicos</h3>
      </thead>
      <tbody>
        <tr>
          <td>Eventos accidentales o enfermedades agudas o por emegencia médica</td>
          <td>Hasta $50.000</td>
        </tr>
        <tr>
          <td>Gastos Funerarios</td>
          <td>$3.000</td>
        </tr>
        <tr>
          <td>Repatriación sanitaria</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Repatriación de restos mortales</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Traslado aéreo de un acompañante ida y vuelta (por recomendación médica)</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Gastos de traslado aéreo del asegurado</td>
          <td>Hasta $5.000</td>
        </tr>
        <tr>
          <td>Alojamiento, Pensión y Transporte para Acompañante</td>
          <td>$100 diarios Máximo $1000</td>
        </tr>
      </tbody>
    </table>

  </columns>
</row>
