---
subject: "Cotización de seguro viajero"
description: "Has recibido la cotización para un seguro viajero"
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: false
---
<row>
  <columns>
    <h1>Has recibido la cotización para un seguro viajero</h1>
    
    <spacer size="10"></spacer>

    <p>Esta cotización aplica para un viaje para 3 personas, desde el día miércoles 22 de diciembre hasta el viernes 23 de diciembre para 3 viajeros.</p>

    <spacer size="10"></spacer>

    <table>
      <thead>
        <tr style="border-bottom: 1px solid #ddd;">
          <th style="font-weight: bold;">Cobertura</th>
          <th style="font-weight: bold;">Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding-top: 10px;">Cobertura A</td>
          <td style="padding-top: 10px;">$39.6</td>
        </tr>
        <tr>
          <td style="padding-top: 10px;">Cobertura B</td>
          <td style="padding-top: 10px;">$54.9</td>
        </tr>
        <tr>
          <td style="padding-top: 10px;">Cobertura C</td>
          <td style="padding-top: 10px;">$61.2</td>
        </tr>
      </tbody>
    </table>

    <spacer size="20"></spacer>

    <button href="#" class="cta-rojo" title="Ver cotización">Continuar con la compra</button>

  </columns>
</row>
