---
subject: "Fe de erratas: Credomatic le informa la resolución de su gestión"
description: "Fe de erratas: Credomatic le informa la resolución de su gestión"
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: false
---
<row>
  <columns>
    <p>Buenas tardes,</p>
    <p>Por error le fue enviado el siguiente correo: <strong>Credomatic le informa la resolución de su gestión…</strong></p>
    <p>Agradecemos hacer caso omiso a la comunicación y solicitamos las disculpas del caso.</p>
    <p>¡Gracias!</p>
  </columns>
</row>
