---
subject: "Recuerde formalizar su cuenta en nuestras sucursales"
description: "Necesitamos que asista a una de nuestras sucursales para firmar los documentos."
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: false
---
<row>
  <columns>
    <p>Hola [Field: First Name]</p>
    <h1>Recuerde formalizar su cuenta en nuestras sucursales</h1>
    <p>Estamos muy agradecidos por su preferencia. Requerimos que asista a una de nuestras sucursales para firmar los documentos.</p>
    <p><strong>De no formalizar su cuenta en los próximos [Field: Last Name] días, esta quedará congelada.</strong></p>
    <p>Si ya formalizó su cuenta, haga caso omiso a este mensaje</p>
    <p>¡Muchas gracias!</p>
  </columns>
</row>
