---
subject: "Lo invitamos a formalizar su cuenta"
description: "Lo invitamos a formalizar su cuenta"
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: false
---
<row>
  <columns>
    <p>Estimado cliente,</p>
    <h1>Lo invitamos a formalizar su cuenta terminada en XXXX.</h1>
    <p>Puede hacerlo en la sucursal BAC Credomatic más cercana.</p>
    <p>De no formalizar su cuenta, procederemos a <strong>congelarla por motivos de seguridad</strong>.</p>
    <p>¡Muchas gracias!</p>
  </columns>
</row>
