.logo-container {
    padding:  0;
    border-top:1px solid #BEBEBE;
}
.logo-gris {
    padding-top: 30px;
    padding-bottom: 15px;
}


a.footer-links {
        margin: 0;
        font-size: 9.5px;
        color:#FFF;
        text-align: center;
        text-decoration: underline;
}
span {
    margin: 0;
    font-size: 9.5px;
    color:#FFF;
    text-align: center;
}
.copyright {
    margin: 0;
    font-size: 9.5px;
    color:#FFF;
    text-align: center;
}
.redes-container {
 
}

.iconos-redes {
    float: left;
    display: inline-block;
}

.iconos-youtube {
    float: left;
    display: inline-block;
}

@media only screen and (max-width: 605px) {

    .iconos-redes {
        float: left;
        display: inline-block;
        max-height: 50px !important;
    }
    .iconos-youtube {
        float: left;
        display: inline-block;
        max-height: 50px !important;
    }

}