<row>
        <columns small="6" large="3">
            <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-1.png" alt="Obtené otros beneficios">
            </a>
            <spacer size="12"></spacer>
            <h3 class="titulos-blue-ff">
                Acumulá hasta 5% en la industria que vos querás
            </h3>
            </center>
        </columns>
        <columns small="6" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-2.png" alt="Mantené el mismo límite">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Elegí 2 de 10 industrias para ganar
                </h3>
            </center>
        </columns>
        <columns small="6" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-3.png" alt="Registrate">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    El porcentaje de CashBack aumenta según tu consumo
                </h3>
            </center>
        </columns>
    
        <columns small="6" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-4.png" alt="Obtené otros beneficios">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Canjeá tus colones CashBack Blue en línea
                </h3>
            </center>
        </columns>
        <columns small="6" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-5.png" alt="Mantené el mismo límite">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Beneficios exclusivos:
                    <ul style="padding-left: 20px;">
                        <li>Zonas BLUE</li>
                        <li>Conciertos</li>
                        <li>Festivales</li>
                    </ul>
                </h3>
            </center>
        </columns>
        <columns small="6" large="3">
            <center>
                <a class="iconos-blue" href="{{cta_link}}">
                    <img class="emailImage" src="/images/cr-tarjeta-blue-icono-6.png" alt="Registrate">
                </a>
                <spacer size="12"></spacer>
                <h3 class="titulos-blue-ff">
                    Alianza exclusiva con Aeropost para compras en línea
                </h3>
            </center>
        </columns>
</row>