<row>
  <columns small="12" large="12" class="">
    <h2>Algunos beneficios de nuestras tarjetas:</h2>
  </columns>
</row>

<row>
    <columns small="6" large="4" class="bene-iconos">
      <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-3.png" alt="Transferencia Programada">
      <p>
        <strong>Transferí dinero, sin costo,</strong> entre bancos.</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
      <img class="benefitsimg" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-2.png" alt="Tasa Cero">
      <p>
        <strong>Tasa Cero,</strong> Compras a Plazo sin Intereses.*</p>
    </columns>
  <columns small="6" large="4" class="bene-iconos">
    <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-1.png" alt="Compass">
    <p><strong>COMPASS,</strong> para pago de peajes y parqueos.*</p>
  </columns>

  <columns small="6" large="4" class="bene-iconos">
    <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-4.png" alt="Aeropost">
    <p>Casillero para <strong>compras en línea.</strong>* </p>
  </columns>
</row>

