<row>
  <columns small="12" large="12" class="">
    <h2>Beneficios</h2>
  </columns>
</row>
<row>
    <columns small="6" large="4" class="bene-iconos">
      <img class="" src="/images/cr-tarjetas-preaprobadas-doradas-bene-1.png" alt="Acumulación acelerada">
      <p>Acumulación acelerada por tus compras</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
      <img class="benefitsimg" src="/images/cr-tarjetas-preaprobadas-doradas-bene-2.png" alt="Millas de Bienvenida">
      <p>Millas de Bienvenida al solicitar en línea</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
      <img class="" src="/images/cr-tarjetas-preaprobadas-doradas-bene-3.png" alt="Salas V.I.P.">
      <p>Acceso gratuito a Salas V.I.P.</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
      <img class="" src="/images/cr-tarjetas-preaprobadas-doradas-bene-4.png" alt="Aeropost">
      <p>Casillero y devolución gratuita con Aeropost</p>
    </columns>
</row>