<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-1.png" alt="En línea">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Solicitud en línea y entrega a domicilio.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-2.png" alt="Sin costo">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">No tiene costo adicional.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-3.png" alt="Acumulación">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Acumula igual que la tarjeta titular.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img  src="/images/cr-adicionales-febrero-2019-icono-4.png" alt="Control de limite">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Vos controlás el monto del límite.</p>
    </columns>
</row>
<row>
    <columns small="4" large="3" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-adicionales-febrero-2019-icono-5.png" alt="Mismos beneficios">
            </a>
        </center>
    </columns small="7" large="9" class="columnscards">
    <columns>
        <p class="adicional-p">Mismos beneficios y promociones.</p>
    </columns>
</row>