<spacer size="30"></spacer>
<row>
  <columns small="12" large="12" class="">
    <center>
      <h2 class="faq-title">Beneficios</h2>
    </center>
  </columns>
</row>
<spacer size="15"></spacer>
<row>  
    <columns small="4" large="4">
        <center>
            <a href="{{cta1_link}}">
                <img class="multicanalidad-icono" src="/images/cr-tarjetas-omas-lg-mayo-icono-1.png" alt="WhatsApp">
            </a>
            <spacer size="15"></spacer>
            <h2 class="multicanalidad-icono-text">
                Ganá otros beneficios
            </h2>
        </center>
    </columns>
    <columns small="4" large="4">
        <center>
            <a href="{{cta1_link}}">
                <img class="multicanalidad-icono" src="/images/cr-tarjetas-omas-lg-mayo-icono-2.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 class="multicanalidad-icono-text">
                Mantené el mismo limite
            </h2>
        </center>
    </columns>
    <columns small="4" large="4">
        <center>
            <a href="{{cta1_link}}">
                <img class="multicanalidad-icono" src="/images/cr-tarjetas-omas-lg-mayo-icono-3.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 class="multicanalidad-icono-text">
                Tenés otra tarjeta de respaldo
            </h2>
        </center>
    </columns>
</row>