<row>
  <columns small="12" large="12" class="">
    <h2>Beneficios</h2>
  </columns>
</row>
<row>
  <columns small="6" large="4" class="bene-iconos">
    <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-1.png" alt="Compass">
    <p>COMPASS Gratuito</p>
  </columns>
  <columns small="6" large="4" class="bene-iconos">
    <img class="benefitsimg" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-2.png" alt="Tasa Cero">
    <p>Tasa Cero, Compras a Plazo sin Intereses</p>
  </columns>
  <columns small="6" large="4" class="bene-iconos">
    <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-3.png" alt="Transferencia Programada">
    <p>Transferencias entre bancos, sin costo </p>
  </columns>
  <columns small="6" large="4" class="bene-iconos">
    <img class="" src="/images/cr-tarjetas-preaprobadas-clasicas-bene-4.png" alt="Aeropost">
    <p>Casillero y devolución gratuita para compras en linea</p>
  </columns>
</row>

