<row>
    <columns small="10" large="4" class="ulcolumns-first">
        <ul>
            <li>Restaurantes y Comidas rápidas</li>
            <li>Farmacias</li>
            <li>Salud</li>
            <li>Entretenimiento</li>
            <li>Ropa y Zapatería</li>
        </ul>
    </columns>

    <columns small="10" large="4" class="ulcolumns-last">
        <ul>
            <li>Supermercados</li>
            <li>Tiendas por departamento</li>
            <li>Educación</li>
            <li>Gasolineras</li>
            <li>Turismo</li>
        </ul>
    </columns>
</row>