<row>
    <columns small="8" large="8" class="">
    <spacer size="15"></spacer>
    <p>
      <strong>
        Agradecemos tu ayuda para completar esta encuesta 
      </strong>y valorar nuestro servicio.
    </p>
    </columns>
    <columns small="4" large="4" class="">
     <img class="" src="/images/bienvenida-6-encuesta.jpg" alt=" ">
    </columns>
</row>
<spacer size="25"></spacer>
<row>
  <columns>
    <center>
      <button href="{{cta_encuesta_link}}" class="cta-rojo" title="Ver más">
          {{cta_encuesta}}
      </button>
      <p style="font-size: 1em;text-align: center;padding: 5px 5px;">Para completar la encuesta</p>
    <center>
  </columns>
</row>