<row>
    <columns small="12" large="12" class="logo-container">
        <center>
            <img class="logo-gris" src="/images/bienvenida-0-bac-logo-footer.png" alt="Logo BAC Credomatic">
        </center>
    </colummns>
</row>
<row>
<columns small="12" large="12" class="redes-container">
    <center>
        <img style="max-height: 40px;" class="iconos-redes" src="/images/bienvenida-0-twitter.png" alt="twitter">
        <img style="max-height: 40px;" class="iconos-redes" src="/images/bienvenida-0-facebook.png" alt="facebook">
        <img style="max-height: 40px;" class="iconos-redes" src="/images/bienvenida-0-instagram.png" alt="instagram">
        <img style="max-height: 40px;" class="iconos-youtube" src="/images/bienvenida-0-youtube.png" alt="youtube">
    </center>
</columns>
</row>
<spacer size="15"></spacer>
<row>
<columns small="12" large="12">
    <center>
            <spacer size="25"></spacer>
            <p style="margin: 0;font-size: 9px;margin-bottom: 1px;color:#6D6E71;">{{ disclaimer }}</p>
            <spacer size="15"></spacer>
            <p style="margin: 0;font-size: 9px;margin-bottom: 1px;color:#6D6E71;">{{ disclaimer2 }}</p>
            <spacer size="15"></spacer>
            
                
            <p style="margin: 0;font-size: 9px;margin-bottom: 1px;color:#6D6E71;">
                    Si deseás actualizar tus preferencias o no deseás recibir más comunicados del Grupo Financiero BAC Credomatic pulsá
                    <a style="margin: 0;font-size: 9.5px;color:#BEBEBE;text-align: center;text-decoration: underline;" href="http://app.info.baccredomatic.com/e/u?s=~~eloqua..type--emailfield..syntax--siteid..encodeFor--url~~">aquí.</a>
                </p>
    </center>
</columns>
</row>

<row>
<columns small="12" large="12"  style="background-color: #6D6E71; padding-bottom: 5px !important;">
    <center>
        <spacer size="15"></spacer>
    <a class="footer-links"
    href="https://www.baccredomatic.com/es-cr/uso-de-cookies?elqTrackId=25ba89ab691c4dbf8f0a4ea650241843">Cookies</a>
    <span>|</span>
    <a class="footer-links" href="https://www.baccredomatic.com/es-cr/seguridad-en-nuestro-sitio?elqTrackId=c4257579b7894fc9af4c2977b339122d">Seguridad</a>
    <span>|</span>
    <a class="footer-links" href="https://www.baccredomatic.com/es-cr/politica-de-privacidad?elqTrackId=57f6a99a0b22451997e8df2201494681">Políticas de privacidad</a>
    <span>|</span>
    <a class="footer-links" href="https://www.baccredomatic.com/es-cr/condiciones-y-terminos-de-uso?elqTrackId=1295beb0651e45e7b0115a47006c8ba9">Términos y condiciones</a>
    </center>
</columns>
</row>
<row>
<columns style="background-color: #6D6E71;">
    <p class="copyright">
        TODOS LOS DERECHOS RESERVADOS. 2019&nbsp;&copy;&nbsp;BAC&nbsp;INTERNATIONAL&nbsp;BANK
    </p>
</columns>
</row>