<row>
    <columns small="12" large="12" class="">
        <h2>Medios de Pago</h2>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="bene-iconos">
        <img style="padding-left:15px;" src="/images/bienvenida-8-medios-pago-1.jpg" alt="Compass">
        <p>Banca en línea</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-8-medios-pago-2.jpg" alt="Tasa Cero">
        <p>ATM Full</h3>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-8-medios-pago-3.jpg" alt="Transferencia Programada">
        <p>Agencias</p>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img style="padding-left:10px;" src="/images/bienvenida-8-medios-pago-4.jpg" alt="Aeropost">
        <p>Auto Banco</p>
    </columns>
</row>