<row>
    <columns small="12" large="12" class="">
        <h2>Olvidate de hacer filas</h2>
        <p>Hacé tus trámites desde tu computadora o celular</p>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-6-activacion-cuenta.png" alt="Compass">
        <p style="font-size: 14px;"><strong>Cuenta de Ahorros en Línea</strong></p>
        <p style="font-size: 12.5px;">Ahorrá de manera diaria y ganá rentabilidad por tu ahorro.</p>
        <spacer size="40"></spacer>
        <button href="{{cta_cuenta_link}}" class="cta-rojo" title="Ver más">
            {{cta_cuenta_title}}
        </button>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-6-activacion-credito247.png" alt="Tasa Cero">
        <p style="font-size: 14px;"><strong>Solicitá otra tarjeta manteniendo la actual </strong></p>
        <p style="font-size: 12.5px;">Acumulá en otra categoría: CashBack, de viaje y supermercados.</p>
        <spacer size="22"></spacer>
        <button href="{{cta_oma_link}}" class="cta-rojo" title="Ver más">
            {{cta_oma_title}}
        </button>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-6-activacion-transferencia.png" alt="Adicional">
        <p style="font-size: 14px;"><strong>Regalá beneficios con una tarjeta adicional</strong></p>
        <p style="font-size: 12.5px;">Solicitud en línea y entrega a domicilio sin adicional.</p>
        <spacer size="20"></spacer>
        <button href="{{cta_adicional_link}}" class="cta-rojo" title="Ver más">
            {{cta_adicional_title}}
        </button>
    </columns>
    <columns small="6" large="4" class="bene-iconos">
        <img src="/images/bienvenida-6-activacion-viajero.png" alt="Seguro Viajero">
        <p style="font-size: 14px;"><strong>Seguro Viajero en línea</strong></p>
        <p style="font-size: 12.5px;">Asegurá tu mejor viaje hoy, desde los $39.6 por cinco días.</p>
        <spacer size="56"></spacer>
        <button href="{{cta_viajero_link}}" class="cta-rojo" title="Ver más">
                {{cta_viajero_title}}
        </button>
    </columns>
</row>
