
<row style="background-color: #F6F7F9">
    <center>
    <columns small="12" large="12" class="columnscards">
        <spacer size="30"></spacer>
        <p class="cuentas-title">{{p1_text}}</p>
        <spacer size="10"></spacer>
        <p class="cuentas-title">{{p2_text}}</p> 
        <spacer size="10"></spacer>
        <p class="cuentas-title">{{p3_text}}</p>   
    </columns>
    </center>
</row>
