<p style="text-align: center;">O si preferís comunicate con nuestros asesores:</p>
<spacer size="10"></spacer>
<row>
  <columns small="" large="2"></columns>
  <columns small="6" large="4">
      <a href="2295-9357">
      <img src="/images/cr_call_center_icon_0.png" alt="Seguínos en Twitter" style="width:36px;height:36px;border:0;display:inline;vertical-align:middle;"></a>
      <a href="2295-9357" style="width:36px;height:36px;border:0;display:inline;">2295-9357</a>
  </columns>

  <columns small="6" large="3">
      <a href="https://server.iad.liveperson.net/hc/49782067/?cmd=file&file=visitorWantsToChat&site=49782067&byhref=1&SV!skill=Prestamos%20Personales">
      <img src="/images/cr_chat_icon.png" alt="Seguínos en Twitter" style="width:36px;height:36px;border:0;display:inline;vertical-align:middle;"></a>
      <a href="https://server.iad.liveperson.net/hc/49782067/?cmd=file&file=visitorWantsToChat&site=49782067&byhref=1&SV!skill=Prestamos%20Personales" style="width:36px;height:36px;border:0;display:inline;">Web Chat</a>
  </columns>
  <columns small="" large="2"></columns>
</row>
