<p style="text-align: center;">O si preferís comunicate con nuestros asesores:</p>
<spacer size="10"></spacer>
<row>
  <columns small="12" large="12">
    <center>
      <a href="2295-9357">
      <img src="/images/cr_call_center_icon_0.png" alt="Seguínos en Twitter" style="width:36px;height:36px;border:0;display:inline;vertical-align:middle;"></a>
      <a href="2295-9357" style="width:36px;height:36px;border:0;display:inline;">2295-9357</a>
    </center>
  </columns>
</row>
