<row style="background-color: #F6F7F9">
        <columns small="12" large="12">
            <center>
                <spacer size="20"></spacer>
                <button href="{{cta1_link}}" class="button-background whatsapp" title="{{cta1_title}}">{{cta1_title}}</button>

                <button href="{{cta2_link}}" class="button-background conoce" title="{{cta2_title}}">{{cta2_title}}</button>     
            </center>
        </columns>
</row>
