<row style="background-color: #f5f6f8;">
    <columns>
        <center>
            <spacer size="50"></spacer>
            {{> cta2 }}
            <spacer size="5"></spacer>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">{{cta2_post}}</p>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>