<row style="background-color: #f5f6f8;">
        <columns>
            <center>
                <spacer size="50"></spacer>
                <p style="color: #E4002B; font-size: 1.2em; text-align: center; margin: 20px;">{{cta2_pre}}</p>
                <spacer size="5"></spacer>
                {{> cta2 }}
            </center>
            <spacer size="20"></spacer>
        </columns>
    </row>