<row>
    <columns>
        <center>
            <spacer size="50"></spacer>
            <p style="color: rgb(0, 0, 0); font-size: 1.2em; text-align: center; margin: 20px;">{{cta1_pre}}</p>
            <spacer size="5"></spacer>
            {{> cta1 }}
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>