<row>
    <columns>
        <center>
            <spacer size="30"></spacer>
            {{> cta1 }}
            <p style="text-align: center;">{{cta1_post}}</p>
        </center>
        <spacer size="10"></spacer>
    </columns>
</row>