<row style="background-color: #f5f6f8;">
    <columns>
        <center>
            <spacer size="50"></spacer>
            {{> cta2 }}
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>