<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="font-size: 1.6em; font-weight: bold; text-align: center;">Facilidades de pago a plazos en todas nuestras tarjetas</h2>
        </center>
    </columns>
</row>
<row>
  <center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta1_link}}">
                <img class="facilidades-img" src="/images/cr-tarjetas-pagos-plazos-abril-icono-1-asterisco.png" alt="Tasa Cero">
            </a>
            <spacer size="10"></spacer>
            <p class="facilidades-p">Comprá con la verdadera Tasa Cero.</p>
            <ul class="nuevaslist">
                <li>0 intereses.</li>
                <li>0 gastos administrativos.</li>
                <li>0 comisiones.</li>
                <li>Financiamiento en cuotas mensuales fijas.</li>
                <li>Plazos de 3, 6, 9, 12, 18, 24 y 36 meses.</li>
            </ul>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta1_link}}">
                <img class="facilidades-img" src="/images/cr-tarjetas-pagos-plazos-abril-icono-2-asterisco.png" alt="Minicuotas">
            </a>
            <spacer size="10"></spacer>
            <p class="facilidades-p">Programa de financiamiento con bajo interés, brinda la oportunidad de comprar artículos y pagarlo en pequeñas cuotas.</p>
            <ul class="nuevaslist">
                <li>Plazos de 12 a 48 meses.</li>
                <li>Financiamento en pequeñas cuotas mensuales fijas.</li>
                <li>Interés preferencial mensual del 2,95% en colones y 1,80% en dólares.</li>
            </ul>
        </center>
    </columns>
    </center>
</row>