<row>
    <columns small="12" large="12" class="columnscards">
        <center>
                <h2 style="font-size: 1.6em; font-weight: bold; text-align: center;">Facilidades de pago a plazos</h2>
        </center>
    </columns>
</row>
<row>
  <center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta1_link}}">
                <img class="facilidades-img" src="/images/cr-tarjetas-pagos-plazos-abril-icono-1.png" alt="Tasa Cero">
            </a>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta1_link}}">
                <img class="facilidades-img" src="/images/cr-tarjetas-pagos-plazos-abril-icono-2.png" alt="Minicuotas">
            </a>
        </center>
    </columns>
    </center>
</row>