<spacer size="30"></spacer>
<row>
  <columns small="12" large="12" class="">
    <center>
      <h2 class="faq-title">{{faq_title}}</h2>
    </center>
  </columns>
</row>
<spacer size="15"></spacer>
<row>
  <columns small="3" large="3" class="columnscards">
      <a href="{{cta_link}}">
          <img style="padding-left: 10px;" class="faq-img" src="{{faq_icon}}" alt="Tarjetas Nuevas">
      </a>
  </columns>
  <columns small="9" large="9" style="padding-top: 10px;">
  <h2 style="font-size: 1.4em;font-weight: lighter;padding-left: 10px; padding-right: 10px;">{{faq_text}}</h2>
  </columns>
</row>