<row>
  <columns small="12" class="footer">
    <spacer size="8"></spacer>
    <hr>
    <spacer size="16"></spacer>
    {{#ifequal replyto false }}
    {{else}}
      <p>¿Alguna consulta con respecto a nuestros productos? Escríbanos a <a href="mailto:{{replyto}}">{{replyto}}</a></p>
    {{/ifequal}}
    <p>Conozca más sobre nuestros productos en <a href="https://www.baccredomatic.com/es-cr?utm_source=emails&utm_medium=siebel&utm_campaign=notificaciones">baccredomatic.com</a></p>
  </colummns>
</row>
