<wrapper class="header collapse cobranded">
  <container>
    <row>
      <columns large="6" small="6">
        <img src="/images/baccredomatic-logo-email-rojo-160px.png" width="160" height="53" class="logo">
      </columns>
      <columns large="6" small="6">
        <img class="float-right" src="{{logo_cobrand}}" alt="{{ nombre_cobrand }}">
      </columns>
    </row>
  </container>
</wrapper>
