<row class="cobranded">
    <columns large="6" small="6">
        <img style="padding-top: 15px; padding-right: 15px;" class="" src="/images/cr-logo-bac-rojo-nov-2018.png">
    </columns>
    <columns  large="6" small="6">
        <!-- Logo Amex - No vivás la vida sin ella -->
        <!-- <img class="cobrand-logo" style="float: right; padding-top: 15px; padding-right: 15px;" src="/images/cr-logo-amex-nov-2018.png" alt="Tarjeta BLUE American express"> -->
        <img class="cobrand-logo" style="float: right; padding-top: 15px; padding-right: 15px;" src="/images/cr-logo-amex-agosto-2019.png" alt="Tarjeta BLUE American express">
    </columns>
</row>