<row class="collapse">
    <a href="{{cta1_link}}">
        <img src="{{img1_link}}" alt="{{img1_title}}">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>