<spacer size="15"></spacer>
<row>
    <columns small="12" large="12" class="">
        <h2 style="font-size: 20px;text-align: center">
            Beneficios BAC&nbsp;Credomatic
        </h2>
    </columns>
</row>
<row>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-1.png" alt="" />
            <p class="text-center">Asesoría constante</p>
        </center>
    </columns>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-2.png" alt="" />
            <p class="text-center">Atención personalizada</p>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-3.png" alt="" />
            <p class="text-center">Tiempos de respuesta</p>
        </center>
    </columns>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-4.png" alt="" />
            <p class="text-center">Condiciones competitivas</p>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-5.png" alt="" />
            <p class="text-center">Banca en Línea</p>
        </center>
    </columns>
    <columns small="6" large="6" class="">
        <center>
            <img src="/images/cr-prestamos-hipotecarios-icon-6.png" alt="" />
            <p class="text-center">Equipo con experiencia</p>
        </center>
    </columns>
</row>