<spacer size="15"></spacer>
<row>
    <columns small="12" large="6" style="padding-top: 10px;">
        <center>
            <h2 class="hipotecario-dudas-title">{{dudas_text}}</h2>
        </center>
    </columns>
    <columns small="12" large="6" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img class="hipotecario-dudas-img text-center" src="{{dudas_icon}}" alt="Dudas sobre préstamos">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12">
        <p class="hipotecario-tel-p">{{tel_text}}</p>
    </columns>
</row>
<spacer size="20"></spacer>