<spacer size="10"></spacer>
<row>
  <columns small="12" large="12" class="">
    <center>
      <h2 class="faq-title">{{dudas_title}}</h2>
    </center>
  </columns>
</row>
<spacer size="15"></spacer>
<row>
  <columns small="12" large="6" style="padding-top: 10px;">
      <center>
        <h2 class="hipotecario-compromiso-text">{{compromiso_text}}</h2>
      </center>
  </columns>
  <columns small="12" large="6" class="columnscards">
    <center>
      <a href="{{cta1_link}}">
          <img style="padding-left: 10px;" class="faq-img" src="{{compromiso_icon}}" alt="Nuestro compromiso">
      </a>
    </center>
  </columns>
</row>