<spacer size="20"></spacer>
<row>
    <columns small="12" large="2">
            <a href="{{cta_link}}">
                <img class="img-omas-mayo" src="/images/cr-tarjetas-omas-lg-mayo-icono-1.png" alt="Ingresá">
            </a>
            <p class="text-omas-mayo">
                <strong style="color: rgb(0, 0, 0)">Ganá otros beneficios</strong>
            </p>
    </columns>
    <columns small="12" large="2">
            <a href="{{cta_link}}">
                <img class="img-omas-mayo" src="/images/cr-tarjetas-omas-lg-mayo-icono-2.png" alt="Compartí">
            </a>
            <p class="text-omas-mayo" style="color: rgb(0, 0, 0);">
                <strong style="color: rgb(0, 0, 0)">Mantené el mismo limite</strong>
            </p>
    </columns>
    <columns small="12" large="2">
            <a href="{{cta_link}}">
                <img class="img-omas-mayo" src="/images/cr-tarjetas-omas-lg-mayo-icono-3.png" alt="Ganá $5">
            </a>
            <p class="text-omas-mayo" style="color: rgb(0, 0, 0);">
                <strong style="color: rgb(0, 0, 0);">Tenés otra tarjeta de respaldo</strong>
            </p>
    </columns>
</row>
<spacer size="20"></spacer>