<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="multicanalidad-title center">Vos elegís el medio por el cuál solicitar tu tarjeta</h2>
        </center>
    </columns>
</row>
<row>  
    <columns small="6" large="6">
        <center>
            <a href="{{cta1_link}}">
                <img class="multicanalidad-icono" src="/images/cr-tarjetas-multicanalidad-nuevas-abril-icono-1.png" alt="WhatsApp">
            </a>
            <spacer size="15"></spacer>
            <h2 class="multicanalidad-icono-text">
                WhatsApp
            </h2>
        </center>
    </columns>
    <columns small="6" large="6">
        <center>
            <a href="{{cta1_link}}">
                <img class="multicanalidad-icono" src="/images/cr-tarjetas-multicanalidad-nuevas-abril-icono-2.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 class="multicanalidad-icono-text">
                Formulario web
            </h2>
        </center>
    </columns>
</row>