<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="multicanalidad-title">Solicitala por el medio que mejor se adapte a tus necesidades</h2>
        </center>
    </columns>
</row>
<row>
        <center>
          <columns small="4" large="3">
              <center>
              <a href="{{cta1_link}}">
                  <img class="multicanalidad-iconos" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-1.png" alt="WhatsApp">
              </a>
              <spacer size="15"></spacer>
              <h2 class="multicanalidad-icon-text">
                   WhatsApp
              </h2>
              </center>
          </columns>
          <columns small="4" large="3">
              <center>
                  <a href="{{cta1_link}}">
                      <img class="multicanalidad-iconos" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-3.png" alt="Registrate">
                  </a>
                  <spacer size="15"></spacer>
                  <h2 class="multicanalidad-icon-text">
                     Formulario web
                  </h2>
              </center>
          </columns>
              <columns small="4" large="3">
              <center>
                  <a href="{{cta1_link}}">
                      <img class="multicanalidad-iconos" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-2.png" alt="Llamada">
                  </a>
                  <spacer size="15"></spacer>
                  <h2 class="multicanalidad-icon-text">
                      Llamada
                  </h2>
              </center>
          </columns>
          </center>
      </row>