<row>
    <center>
        <columns small="10" large="10" style="padding-top: 5px;">
            <p style="font-size: 1.2em;">Hola [first_name][last_name]. Hemos recibido su solicitud de tarjeta de crédito.</p>
        </columns>
    </center>
</row>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Requerimos de su ayuda</h2>
                <p style="font-size: 1.2em;">Para poder continuar con el trámite, contactenos por los siguientes medios.</p>
        </center>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img id="notificaciones-img" src="/images/cr-notificaciones-tarjetas-tramite-pendiente-icono-1.png" alt="Teléfono">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="columnscards">
            <h2 class="notificaciones-title">Llámenos al teléfono:</h2>
            <h2 class="notificaciones-title">2295-9598</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="10" large="10" style="padding-top: 5px;">
            <p style="font-size: 1.2em;">Horario de atención: Lunes a Viernes de 8:00am a 5:30pm.</p>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img id="notificaciones-img" src="/images/cr-notificaciones-tarjetas-tramite-pendiente-icono-2.png" alt="Email">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="columnscards">
            <h2 class="notificaciones-title-email">O bien, escríbanos al correo:</h2>
            <h2 class="notificaciones-email">tarjetas@baccredomatic.com</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="10" large="10" style="padding-top: 5px;">
            <p style="font-size: 1.2em;">¡Muchas gracias por su preferencia!</p>
        </columns>
    </center>
</row>