<spacer size="30"></spacer>
<row>
    <center>
        <columns small="12" large="5" class="columnscards">
            <center>
                <a class="grcc-img" href="{{cta_link}}">
                    <img src="/images/cr-tarjetas-platino-feb-19-plastico-grcc.png" alt="The Platinum Card">
                </a>
            </center>
        </columns>
        <columns small="12" large="7" style="padding-top: 5px;">
            <spacer size="15"></spacer>
            <h2 style="font-size: 1.5em;text-align: left;padding-left: 20px;">Platinum</h2>
            <h2 style="font-size: 1.5em;text-align: left;padding-left: 20px;">American Express&reg;</h2>
            <h2 style="font-size: 1.4em;font-weight: lighter;text-align: left;padding-left: 20px;">BAC Credomatic</h2>
        </columns>
    </center>
</row>
<spacer size="15"></spacer>
<row>
    <center>
        <columns small="4" large="2">
            <a href="{{cta_link}}">
                <img class="platinos-icon" src="/images/cr-tarjetas-platino-mayo-19-icono-1.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="8" large="8" style="padding-top: 5px;">
            <p class="selling-point-platino-text">Acumulá 1 punto por cada $1 de consumo.</p>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="4" large="2">
            <a href="{{cta_link}}">
                <img class="platinos-icon" src="/images/cr-tarjetas-platino-mayo-19-icono-6.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="8" large="8" style="padding-top: 5px;">
            <p class="selling-point-platino-text">No tiene costo de Membresía.</p>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="4" large="2">
            <a href="{{cta_link}}">
                <img class="platinos-icon" src="/images/cr-tarjetas-platino-mayo-19-icono-3.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="8" large="8" style="padding-top: 5px;">
            <p class="selling-point-platino-text">Valet Parking gratuito en los principales centros comerciales del país.</p>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="4" large="2">
            <a href="{{cta_link}}">
                <img class="platinos-icon" src="/images/cr-tarjetas-platino-mayo-19-icono-4.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="8" large="8" style="padding-top: 5px;">
            <p class="selling-point-platino-text">Servicio de Concierge Travel & living.</p>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="4" large="2">
            <a href="{{cta_link}}">
                <img class="platinos-icon" src="/images/cr-tarjetas-platino-mayo-19-icono-5.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="8" large="8" style="padding-top: 5px;">
            <p class="selling-point-platino-text">Acceso a la sala Santamaría VIP.</p>
        </columns>
    </center>
</row>
<spacer size="30"></spacer>
