<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Elegí una tarjeta que se adapte a tus hábitos de consumo</h2> 
            <spacer size="10"></spacer>
        </center>
    </columns> 
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-nuevas-doradas-mayo-1.jpg" alt="Amex BLUE">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta BLUE American Express<br>BAC Credomatic</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-nuevas-doradas-mayo-2.jpg" alt="CashBack">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta CashBack<br>BAC Credomatic</p>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-nuevas-doradas-mayo-3.jpg" alt="GanePremios">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Gane Premios<br>BAC Credomatic</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-nuevas-doradas-mayo-4.jpg" alt="MillasPlus">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Millas Plus<br>BAC Credomatic</p>
        </center>
    </columns>
</row>