<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Planes diseñados para<br>utilizar mejor tu dinero</h2> 
            <spacer size="10"></spacer>
            <p style="margin-right: 40px; margin-left: 40px;">Al solicitar otra tarjeta podés acumular en otra categoría, por ejemplo, si tenés una tarjeta CashBack podés complementarla con una de viaje y de supermercados.</p> 
        </center>
    </columns> 
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-mayo-plastico-1.png" alt="Amex BLUE">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta BLUE American Express<br>de BAC Credomatic</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-mayo-plastico-2.png" alt="CashBack">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta CashBack<br>BAC Credomatic</p>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-mayo-plastico-3.png" alt="GanePremios">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Gane Premios<br>BAC Credomatic</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-mayo-plastico-4.png" alt="MillasPlus">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Millas Plus<br>BAC Credomatic</p>
        </center>
    </columns>
</row>