<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Planes diseñados para sacarle el<br>mayor valor a tu dinero</h2> 
            <spacer size="10"></spacer>
        </center>
    </columns> 
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-1.png" alt="Amex BLUE">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta BLUE American Express de BAC Credomatic</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-2.png" alt="CashBack">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta CashBack</p>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-3.png" alt="GanePremios">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Gane Premios</p>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta1_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-4.png" alt="MillasPlus">
            </a>
            <spacer size="10"></spacer>
            <p class="nuevas-card-name">Tarjeta Millas Plus</p>
        </center>
    </columns>
</row>