<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Solicitá otra tarjeta<br>manteniendo la actual</h2> 
            <spacer size="10"></spacer>
            <p style="margin-right: 40px; margin-left: 40px;">Al solicitar otra tarjeta podés acumular en otra categoría, por ejemplo, si tenés una tarjeta CashBack podés complementarla con una de viaje y de supermercados.</p> 
        </center>
    </columns> 
</row>