<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Planes diseñados para<br>utilizar mejor tu dinero</h2> 
            <spacer size="10"></spacer>
            <p style="margin-right: 40px; margin-left: 40px;">Al obtener una nueva tarjeta podrás disfrutar de nuevos beneficios que complementan de manera ideal con tu actual tarjeta.</p> 
        </center>
    </columns> 
</row>