<wrapper>
  <container>
    <row>
      <columns small="12" valign="middle" class="subject-header">
        <spacer size="16"></spacer>
        <p>{{ subject }}</p>
      </colummns>
    </row>
  </container>
</wrapper>
