<row>
    <columns small="12" valign="middle" class="subject-header">
      <spacer size="16"></spacer>
      <p><small>{{ preheader }}</small></p>
      <p><small>Si no podés ver la información dale <a href="{{version_web}}">click aquí</a></small></p>
    </colummns>
</row>