<wrapper>
  <container>
    <row>
      <columns small="12" valign="middle" class="subject-header">
        <spacer size="16"></spacer>
        <p><small>Si no podés ver la información da <a href="{{version_web}}">clic aquí</a></small></p>
      </colummns>
    </row>
  </container>
</wrapper>
