<spacer size="30"></spacer>
<row>
    <columns>
        <center>
            <h2 class="faq-title">{{goals_title}}</h2>
        </center>
    </columns>
</row> 
<row>
    <columns small="6" large="6"> 
        <a href="{{cta_link}}">
            <img class="point-icon" src="{{goals1_link}}" alt="goals1_alt">
        </a>
        <h2 class="point-prestamos">{{goals1_text}}</h2>
    </columns>
    <columns small="6" large="6">
    <a href="{{cta_link}}">
        <img class="point-icon" src="{{goals2_link}}" alt="goals2_alt">
    </a>
    <h2 class="point-prestamos">{{goals2_text}}</h2>
    </columns>
</row>
<row>
    <columns small="6" large="6"> 
        <a href="{{cta_link}}">
            <img class="point-icon" src="{{goals3_link}}" alt="goals3_alt">
        </a>
        <h2 class="point-prestamos">{{goals3_text}}</h2>
    </columns>
    <columns small="6" large="6">
        <a href="{{cta_link}}">
            <img class="point-icon" src="{{goals4_link}}" alt="goals4_alt">
        </a>
        <h2 class="point-prestamos">{{goals4_text}}</h2>
    </columns>
</row>
        
    