<row>
    <columns small="12" large="12" class="collapsed">
        <center>
                <h2 class="pres-title">Solicitalo hoy mismo y empez&aacute; a cumplir tus metas</h2>
        </center>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
    <center>
        <columns small="3" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="pres-icons" src="/images/correos-abril-prestamos-2019-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="9" large="9">
            <h2 class="pres-bullets">Monto m&aacute;ximo &#8353; 15.000.000*</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="3" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="pres-icons" src="/images/correos-abril-prestamos-2019-icono-3.png" alt="Plazos">
            </a>
        </columns>
        <columns small="9" large="9">
            <h2 class="pres-bullets">Plazos de 36, 48 o 60 meses.</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="3" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="pres-icons" src="/images/correos-abril-prestamos-2019-icono-2.png" alt="Tr&aacute;mites &aacute;giles">
            </a>
        </columns>
        <columns small="9" large="9">
            <h2 class="pres-bullets">Tr&aacute;mites &aacute;giles y sin fiador.</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="3" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="pres-icons" src="/images/correos-abril-prestamos-2019-icono-4.png" alt="Formalizaci&oacute;n gratis">
            </a>
        </columns>
        <columns small="9" large="9">
            <h2 class="pres-bullets">Formalizaci&oacute;n gratis y a domicilio.</h2>
        </columns>
    </center>
</row>
<row>
    <center>
        <columns small="3" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="pres-icons" src="/images/correos-abril-prestamos-2019-icono-5.png" alt="Red de Pagos">
            </a>
        </columns>
        <columns small="9" large="9">
            <h2 class="pres-bullets">Red de Pagos y agencias BAC Credomatic.</h2>
        </columns>
    </center>
</row>
