<row>
    <columns>
        <center>
            <h2 class="faq-title">{{points_title}}</h2>
        </center>
    </columns>
</row> 
<row>
  <columns small="6" large="6"> 
      <a href="{{cta_link}}">
          <img class="point-icon" src="{{point1_link}}" alt="point1_alt">
      </a>
      <h2 class="point-prestamos">{{point1_text}}</h2>
  </columns>
  <columns small="6" large="6">
    <a href="{{cta_link}}">
        <img class="point-icon" src="{{point2_link}}" alt="point2_alt">
    </a>
    <h2 class="point-prestamos">{{point2_text}}</h2>
  </columns>
</row>
<row>
    <columns small="6" large="6"> 
        <a href="{{cta_link}}">
            <img class="point-icon" src="{{point3_link}}" alt="point3_alt">
        </a>
        <h2 class="point-prestamos">{{point3_text}}</h2>
    </columns>
    <columns small="6" large="6">
        <a href="{{cta_link}}">
            <img class="point-icon" src="{{point4_link}}" alt="point4_alt">
        </a>
        <h2 class="point-prestamos">{{point4_text}}</h2>
    </columns>
</row>
<row>
        <columns small="6" large="6"> 
            <a href="{{cta_link}}">
                <img class="point-icon" src="{{point5_link}}" alt="point5_alt">
            </a>
            <h2 class="point-prestamos">{{point5_text}}</h2>
        </columns>
        <columns small="6" large="6">
            <a href="{{cta_link}}">
                <img class="point-icon" src="{{point6_link}}" alt="point6_alt">
            </a>
            <h2 class="point-prestamos">{{point6_text}}</h2>
        </columns>
    </row>
          
      
