<row>
  <columns>
    <center>
      <a>
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTMLMichaelKors600_14.png" alt="Seguínos en Twitter" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a>
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTMLMichaelKors600_16.png" alt="Seguínos en Facebook" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a>
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTMLMichaelKors600_18.png" alt="Seguínos en Instagram" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a>
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTMLMichaelKors600_20.png" alt="Seguínos en Youtube" style="width:36px;height:36px;border:0;display: inline;">
      </a>
    </center>
  </columns>
</row>
