<row>
  <columns>
    <center>
      <a href="https://twitter.com/SomosBac">
        <img  src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTML_twitter.png" alt="Seguínos en Twitter" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a href="https://www.facebook.com/BACCredomatic/">
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTML_facebook.png" alt="Seguínos en Facebook" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a href="https://www.instagram.com/bac_credomatic_cr/">
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTML_instagram.png" alt="Seguínos en Instagram" style="width:36px;height:36px;border:0;display: inline;">
      </a>
      <a href="https://www.youtube.com/user/baccredomaticnetwork">
        <img src="https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTML_youtube.png" alt="Seguínos en Youtube" style="width:36px;height:36px;border:0;display: inline;">
      </a>
    </center>
  </columns>
</row>
