<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
                <h2 style="font-size: 1.4em;text-align: center;">¿Cómo adquirir este seguro?</h2>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-4.png" alt="Ahorro">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Hacé click en el botón </h2>
            <p>e ingresá al sitio web para cotizar y asegurar tu viaje 100% en línea.</p>
        <spacer size="10"></spacer>
        </columns>
</row>