<row>
    <columns small="12" large="12" class="">
                <h2 style="font-size: 1.4em;text-align: center;">¿De qué me cubre este seguro?</h2>
    </columns>
</row>
<spacer size="15"></spacer>
<row>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-1.png" alt="Inconvenientes de Viaje">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;">
            <h2 class="coberturas-title">Inconvenientes de Viaje</h2>
            <p>Cancelación y acortamiento de viaje, retraso del viaje, pérdida de equipaje o pérdida de pasaporte.</p>
        </columns>
</row>
<row>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-2.png" alt="Gastos Médicos">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Gastos Médicos</h2>
            <p>Te cubre por eventos accidentales, enfermedades agudas, gastos de traslado aéreo y repatriación de restos mortales.</p>
        </columns>
</row>
<row>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-3.png" alt="Tramites en línea">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Inconvenientes Personales</h2>
            <p>Muerte accidental, pérdida de extremidades, incapacidad total y permanente y renta diaria por hospitalización.</p>
        </columns>
</row>
<row>
        <columns small="3" large="2" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage-viajero" src="/images/cr-correo-seguro-viajero-dic-2018-icono-4.png" alt="Tramites en línea">
            </a>
        </columns>
        <columns small="9" large="8" style="padding-top: 5px;" class="">
            <h2 class="coberturas-title">Y muchos más beneficios</h2>
            <p style="font-size: 1em;">Ingresá al sitio web: <span class="seguros-website-link">comercio.baccredomatic.com</span> y conocé más.</p>
        </columns>
</row>