---
subject: La manera más rápida de acumular millas AAdvantage&reg;
header: La manera más rápida de acumular millas AAdvantage&reg;
preheader: La manera más rápida de acumular millas AAdvantage&reg;
version_web: "http://localhost:3000/cobranded/aadvantage-nov-14-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitala Aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/aadvantage?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_aadvantage_email_siebel_11_14_2017&utm_content=cta_correo"
disclaimer: "* Los 16.500 AAdvantage representan el máximo de millas que se pueden obtener con la tarjeta AAdvantage Infinite&reg;, que se componen de: 15.000 AAdvantage de bienvenida y 1.500 por solicitarla en línea. Aplican restricciones. Ver términos y condiciones en baccredomatic.com Promoción válida del 01 agosto al 31 de diciembre de 2017. Aplican condiciones de crédito de tarjeta crédito. American Express es una marca de American Express. Las tarjetas son emitidas por Credomatic bajo licencia de American Express. Aplican términos y condiciones del programa AAdvantage que podrás verificar en AAdvantage.com"
logo_cobrand: "/assets/images/cr-tarjetas-credito-AAdvantage-logo.png"
layout: cobranded

---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p><strong>Solicitala y ganá hasta 16.500 millas*.</strong></p>
    <p>Para que te des una idea, con 10.000 millas podrías viajar a un destino en Centroamérica.</p>
  </columns>
  <columns small="12" large="6">

    <row>
      <columns small="12" large="12" class="">
        <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/AAdvantage?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_AAdvantage_email_siebel_11_14_2017&utm_content=img_tarjetas">
          <img class="emailImage" src="/images/cr-tarjetas-credito-aadvantage-nov-2017-main.gif" alt="Tarjeta AAdvantage de Credomatic">
        </a>
      </columns>
    </row>
  </columns>
</row>
<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/AAdvantage?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_AAdvantage_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-AAdvantage-icono-regalo.png" alt="Tarjeta AAdvantage de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>Millas de Bienvenida</strong></p>
          <p>Obtené hasta 15.000 millas de Bienvenida al recibir la tarjeta.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/AAdvantage?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_AAdvantage_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-AAdvantage-icono-compu.png" alt="Tarjeta AAdvantage de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>¿Más millas?</strong></p>
          <p>Solicitala en línea y obtené 1.500 millas extra.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/AAdvantage?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_AAdvantage_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-AAdvantage-icono-tiquetes.png" alt="Tarjeta AAdvantage de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>25% más millas por dólar o Estatus Gold Member</strong></p>
          <p>Al facturar $72.000 anuales puede elegir entre acumular 25% millas o el Estatus AAdvantage® Gold Member que lebrinda beneficios preferenciales. <span style="color: grey;">Conocé más en aadvantage.com</span></p>
        </center>
      </columns>
  </center>
</row>

<row>
  <columns>
    <p style="text-align: center;color: #E4002B;">Promoción válida por tiempo limitado.</p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
