---
subject: La manera más rápida de acumular ConnectMiles
header: La manera más rápida de acumular ConnectMiles
preheader: La manera más rápida de acumular ConnectMiles
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitala Aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=cta_correo"
disclaimer: "* Los 16.500 ConnectMiles representan el máximo de millas que se pueden obtener con la tarjeta ConnectMiles Infinite&reg;, que se componen de: 15.000 ConnectMiles de bienvenida y 1.500 por solicitarla en línea. Aplican restricciones. Ver términos y condiciones en baccredomatic.com Promoción válida del 01 agosto al 31 de diciembre de 2017. Aplican condiciones de crédito de tarjeta crédito. American Express es una marca de American Express. Las tarjetas son emitidas por Credomatic bajo licencia de American Express. Aplican términos y condiciones del programa ConnectMiles que podrás verificar en ConnectMiles.com"
logo_cobrand: "/assets/images/cr-tarjetas-credito-connectmiles-logo.png"
layout: cobranded-web

---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p><strong>Solicitala y ganá hasta 16.500 ConnectMiles*.</strong></p>
    <p>Para que te des una idea, con 10.000 millas podrías viajar a un destino en Centroamérica.</p>
  </columns>
  <columns small="12" large="6">

    <row>
      <columns small="12" large="12" class="">
        <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=img_tarjetas">
          <img class="emailImage" src="/images/cr-tarjetas-credito-connectmiles-nov-2017-main.gif" alt="Tarjeta ConnectMiles de Credomatic">
        </a>
      </columns>
    </row>
  </columns>
</row>
<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-connectmiles-icono-regalo.png" alt="Tarjeta ConnectMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>Millas de Bienvenida</strong></p>
          <p>Obtené hasta 5.000 millas de Bienvenida al recibir la tarjeta.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-connectmiles-icono-compu.png" alt="Tarjeta ConnectMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>¿Más millas?</strong></p>
          <p>Solicitala en línea y obtené 1.500 millas extra.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjetas-credito-connectmiles-icono-tiquetes.png" alt="Tarjeta ConnectMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>Segundo Boleto a solo $99</strong></p>
          <p>Obtené el segundo boleto a $99 una vez al año.</p>
        </center>
      </columns>
  </center>
</row>

<row>
  <center>
    <columns small="12" large="2" class="columnscards">
      <center>
        <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/ConnectMiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_ConnectMiles_email_siebel_11_14_2017&utm_content=img_tarjetas_gold">
          <img class="emailImage" src="/images/cr-tarjetas-credito-connectmiles-icono-avion.png" alt="Tarjeta ConnectMiles de Credomatic"></a>
      </center>
    </columns>
    <columns small="12" large="10" class="columnscards">
      <center>
        <p><strong>PreferMember Silver Estatus Gratuito</strong></p>
        <p>Te da millas extras, abordaje y asientos preferenciales, entre otros. <span style="color:grey;">Conocé más en copaair.com</span></p>
      </center>
    </columns>
</center>
</row>

<row>
  <columns>
    <p style="text-align: center;color: #E4002B;">Promoción válida por tiempo limitado.</p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
