---
subject: La manera más rápida de acumular LifeMiles
header: La manera más rápida de acumular LifeMiles
preheader: La manera más rápida de acumular LifeMiles
version_web: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/lifemiles-sep-09-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitala Aquí
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=cta_correo"
disclaimer: Las 16.500 LifeMiles representan el máximo de millas que se pueden obtener con la tarjeta LifeMiles Elite, que se componen de 5.000 LifeMiles de bienvenida, 10.000 LifeMiles del reto de facturación y 1.500 por solicitarla en línea. Aplican restricciones. Ver términos y condiciones en baccredomatic.com. Promoción válida del 01 agosto al 31 de diciembre de 2017. Aplican condiciones de crédito de tarjeta crédito. American Express es una marca de American Express. Las tarjetas son emitidas por Credomatic bajo licencia de American Express. LifeMiles es una marca registrada de LifeMiles LTD. Aplican términos y condiciones del programa LifeMiles que podrás verificar en lifemiles.com
logo_cobrand: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Cob4235_BonosdeBienvenida_02.jpg"
layout: cobranded

---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p><strong>Solicitala y ganá hasta 16.500 LifeMiles*.</strong></p>
    <p>Para que te des una idea con 10.000 millas podrías viajar a un destino en Centroamérica.</p>
  </columns>
  <columns small="12" large="6">

<row>
  <columns small="12" large="12" class="">
      <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas">
        <img class="emailImage" src="/images/cr-tarjeta-lifemiles-platiscos.gif" alt="Tarjeta LifeMiles de Credomatic"></a>
      </columns>
    </row>
  </columns>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-regalo.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>Millas de Bienvenida</strong></p>
          <p>Obtené hasta 5.000 millas de Bienvenida al recibir la tarjeta.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-cash.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>¿Más millas?</strong></p>
          <p>Facturá $1.000 en 2 meses y ganá hasta 10.000 millas LifeMiles extra.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="12" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_26_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-enlinea.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
        </center>
      </columns>
      <columns small="12" large="10" class="columnscards">
        <center>
          <p><strong>¿Querés aún más millas?</strong></p>
          <p>Solicitala en línea y obtené 1.500 LifeMiles extra.</p>
        </center>
      </columns>
  </center>
</row>

<row>
  <columns>
    <p style="text-align: center;color: #E4002B;">Promoción válida por tiempo limitado.</p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
