---
subject: Estrená tarjeta y ganá hasta 16.500 LifeMiles*
header: Estrená tarjeta y ganá hasta 16.500 LifeMiles* para ir donde querás
preheader: Estrená tarjeta y ganá hasta 16.500 LifeMiles* para ir donde querás
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Descubrí como
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_2017&utm_content=cta_correo"
disclaimer: Aplican restricciones. Ver términos y condiciones de la promoción en www.baccredomatic.com. Aplican condiciones de crédito de tarjeta crédito. American Express es una marca de American Express. Las tarjetas son emitidas por Credomatic bajo licencia de American Express. LifeMiles es una marca registrada de LifeMiles LTD. Aplican términos y condiciones del programa LifeMiles que podrás verificar en lifemiles.com
logo_cobrand: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Cob4235_BonosdeBienvenida_02.jpg"
layout: cobranded-web

---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p><strong>Solicitá tu tarjeta LifeMiles American Express® de BAC Credomatic y estrenala ganando millas de bienvenida para que la usés en tus viajes.</strong></p>
  </columns>
  <columns small="12" large="6">

    <row>
      <columns small="12" large="12" class="">
        <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_2017&utm_content=img_tarjetas">
          <img class="emailImage" src="/images/cr-tarjeta-lifemiles-main.jpg" alt="Tarjeta LifeMiles de Credomatic">
        </a>
      </columns>
    </row>
  </columns>
</row>
<row>
    <center>
      <columns small="12" large="3" class="columnscards">
        <center>
          <h3 style="color: #bb924B;"><strong>LifeMiles Gold</strong></h3>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_2017&utm_content=img_tarjetas_gold">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-gold.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
          <spacer size="10"></spacer>
          <h4>
          <ul style="color: #bb924B;">
            <li>2.000 LifeMiles de Bienvenida</li>
            <li>3.000 LifeMiles al cumplir reto de facturación</li>
          </ul>
          </h4>
        </center>
      </columns>

      <columns small="12" large="3" class="columnscards">
        <center>
          <h3 style="color: #a39d99;"><strong>LifeMiles Premium</strong></h3>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_2017&utm_content=img_tarjetas_premium">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-premium.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
          <spacer size="10"></spacer>
          <h4>
          <ul style="color: #a39d99;">
            <li>5.000 LifeMiles de Bienvenida</li>
            <li>5.000 LifeMiles al cumplir reto de facturación</li>
          </ul>
          </h4>
      </center>
      </columns>

      <columns small="12" large="3" class="columnscards">
        <center>
          <h3 style="color: #231f20;"><strong>LifeMiles Elite</strong></h3>
          <a href="https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/lifemiles?utm_source=email&utm_medium=siebel&utm_campaign=cr_tarjetas_credito_lifemiles_email_siebel_09_2017&utm_content=img_tarjetas_elite">
            <img class="emailImage" src="/images/cr-tarjeta-lifemiles-elite.jpg" alt="Tarjeta LifeMiles de Credomatic"></a>
          <spacer size="10"></spacer>
          <h4>
          <ul>
            <li>5.000 Millas de Bienvenida</li>
            <li>10.000 LifeMiles al cumplir reto de facturación</li>
          </ul>
          </h4>
        </center>
      </columns>
  </center>
</row>
<row>
  <columns small="12" large="6">
  <h3>Promoción válida del 01 agosto al 31 de diciembre de 2017.<h3>
  <spacer size="20"></spacer>
  <p><strong>Te ayudamos a seguir sumando Millas con tu tarjeta.</strong></p>
  <p>Cumplí el reto de facturación de $1.000 en 2 meses con tu tarjeta LifeMiles American Express® de BAC Credomatic y ganá hasta 3.000 millas LifeMiles extras con la Tarjeta Gold, 5.000 con la Tarjeta Premium y 10.000 con la Tarjeta Elite.</p>
  </columns>
</row>
<row>
  <columns>
    <p style="text-align: center;color: #E4002B;">Solicitala en línea y obtené 1.500 LifeMiles extra.</p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
