---
subject: Sabemos que el mejor regalo siempre es para mamá
header: Sabemos que el mejor regalo siempre es para mamá
preheader: 30% de descuento en toda la tienda Michael Kors
description: Estamos realizando un pre-análisis de su perfil financiero.
version_web: "hibert_coca"
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
cta_text: Descubrí como
cta_link: "https:///baccredomatic.com"
cta_title: "Click para descubrir como"
disclaimer: Promoción válida del 4 al 6 de agosto de 2017. No aplica con otras promociones. Aplica únicamente al pagar con las tarjetas de crédito BAC Credomatic. Sólo aplica en Michael Kors Multiplaza Escazú.
logo_cobrand: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/COM_Afi5797_HTMLMichaelKors600_03.png"
nombre_cobrand: Michael Kors
---
<row>
  <columns small="12" large="6">
    <h1>{{ header }}</h1>
    <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
    <p>
      - Dirección: Multiplaza Escazú</br>
      - Tel: 2201-6523</br>
      - <a href="www.michaelkors.com" style="color: #000; text-decoration: underline;">www.michaelkors.com</a>
    </p>
  </columns>
  <columns small="12" large="6">
    <row>
      <columns small="12" large="12" class="recuadro-rojo">
        <p>Llevate<br/>
        <span class="big">30<sup>%</sup></span></br>
        en toda la tienda Michael Kors con tus tarjetas de crédito BAC Credomatic</p>
      </columns>
    </row>
  </columns>
</row>
<row>
  <columns>
    <img src="/images/COM_Afi5797_HTMLMichaelKors600_11.jpg" />
    <spacer size="20"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
