---
subject: "Ganá hasta $50* con tus amigos"
header: "Pronto vas a poder referir amigos y ganar hasta $50* y ellos podrán ganar un iPhone 8 Plus o un Apple Watch"
preheader: "Ganá hasta $50* con tus amigos"
version_web: "https://archivos.baccredomatic.com/email/es-cr/tink/tink-clientes-cashback-expectativa-nov-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "CONOCÉ TUS BENEFICIOS"
cta_link: "https://productos.baccredomatic.com/es-cr/tarjetas/credito/beneficios-cashback/?utm_source=Email&utm_campaign=referidos-cashback/"
disclaimer: "* Aplican restricciones, ver reglamento en: referidos.baccredomatic.com/cashback"
layout: ventas-agosto
---
<row class="collapse">
      <a href="{{cta_link}}">
        <img src="/images/cr-tink-cashback-nov-2018.png" alt="">
      </a>
</row>
<row style="background-color: #E4002B;">
  <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;font-weight: 500;hyphens: none;text-align: center;">{{ header }}</h1>
  </columns>
</row>
<row style="background-color: #f5f6f8;">
  <columns>
    <center>
    <spacer size="30"></spacer>
    <h2 style="text-align: center;">Conocé más sobre los beneficios de las tarjetas CashBack</h2>
    <spacer size="30"></spacer>
      <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    <spacer size="20"></spacer>
  </columns>
</row>

