---
subject: "¡Gracias por registrarte! Estás a solo 2 pasos de ganar dinero de manera ilimitada*"
header: "¡Gracias por registrarte! Estás a solo 2 pasos de ganar dinero de manera ilimitada*"
preheader: "¡Gracias por registrarte! Estás a solo 2 pasos de ganar dinero de manera ilimitada*"
version_web: "https://archivos.baccredomatic.com/email/es-cr/tink/tink-clientes-gana-dinero-2-dos-dias-sin-registro-enero-2019-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "EMPEZÁ A REFERIR AMIGOS AQUÍ"
cta_link: "https://referidos.baccredomatic.com/ganadinero?utm_source=Email&utm_campaign=referidos-ganadinero/"
disclaimer2: "* Aplican restricciones, ver reglamento en: referidos.baccredomatic.com/ganadinero"
disclaimer: "** La activación de la tarjeta de crédito solicitada está sujeta a la politicas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
      <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-referidos-gana-dinero-3-img.png" alt="">
      </a>
</row>
<row style="background-color: #E4002B;">
  <columns>
        <center>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;font-weight: 500;hyphens: none;text-align: center;" class="center">{{ header }}</h1>
        </center>
  </columns>
</row>
<spacer size="40"></spacer>
<row>
  <columns small="12" large="6">
    <center>
    <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12">
        <center>
            <p style="font-size: 1.2em;text-align: justify;">Ganá $5 de manera ilimitada por cada amigo que complete el formulario de solicitud de tarjeta de crédito BAC Credomatic en línea.</p>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="color: #E4002B;font-size: 1.5em;text-align: center;">Ganá en 2 simples pasos</h2>
        </center>
       
    </columns>
</row>
<row>
    <columns small="12" large="6">
            <a href="{{cta_link}}">
                <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-2.png" alt="Compartí">
            </a>
            <p class="text-tink" style="color: rgb(0, 0, 0);">
                <strong style="color: rgb(228, 0, 43)">1. Compartí</strong> con amigos en redes sociales.
            </p>
    </columns>
    <columns small="12" large="6">
            <a href="{{cta_link}}">
                <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-gana-dinero-1-icono-dinero.png" alt="Ganá $5">
            </a>
            <p class="text-tink" style="color: rgb(0, 0, 0);">
                <strong style="color: rgb(228, 0, 43);">2. Ganá $5</strong> por cada amigo que complete el formulario.
            </p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="3">
        <a href="{{cta_link}}">
            <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-4.png" alt="Registrate">
        </a>
    </columns>
    <columns small="12" large="9">
        <h1 style="color: #E4002B;font-size: 1.3em;font-weight: 500;hyphens: none;">
            <strong>Además tu amigo o familiar</strong>
        </h1>
        <p style="font-size: 1.1em;text-align: justify;">
            que complete el formulario de tarjeta de crédito, quedará participando en la rifa de un iPhone 8 Plus o un Apple Watch.
        </p>
    </columns>
</row>
<row>
    <columns>
        <p>Si tenés dudas o consultas escribinos un WhatsApp al 8742-9595.</p>
    </columns>
</row>
<row style="background-color: #f5f6f8;">
  <columns>
    <spacer size="60"></spacer>
    <center>
      <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    <spacer size="20"></spacer>
  </columns>
</row>
