---
subject: "Ganá hasta $50* con tus amigos"
header: "Ganá hasta $50* por recomendarle a tus amigos tu tarjeta de crédito CashBack"
preheader: "Ganá hasta $50* con tus amigos"
version_web: "https://archivos.baccredomatic.com/email/es-cr/tink/tink-clientes-cashback-nov-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "EMPEZÁ A GANAR"
cta_link: "https://referidos.baccredomatic.com/cashback?utm_source=Email&utm_campaign=referidos-cashback/"
disclaimer: "* Aplican restricciones, ver reglamento en: referidos.baccredomatic.com/cashback"
layout: ventas-agosto
---
<row class="collapse">
      <a href="{{cta_link}}">
        <img src="/images/cr-tink-cashback-nov-2018.png" alt="">
      </a>
</row>
<row style="background-color: #E4002B;">
  <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;font-weight: 500;hyphens: none;text-align: center;">{{ header }}</h1>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="">
        <p>Te queremos dar una regalía por cada amigo que le recomendés tu tarjeta de crédito CashBack. Por cada amigo que obtenga la tarjeta de crédito y una cuenta de ahorros podrás ganar hasta $50*.</p>
        <p>¡Dale click a empezá a ganar y participá en la promoción!</p>
    </columns>
</row>
<spacer size="10"></spacer>
<row>
  <columns small="12" large="6">
    <center>
    <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>

<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <h2 style="color: #E4002B; font-size: 1.6em;">¡Compartí y ganá!</h2>
        <p>Es muy fácil ganarte hasta $50*, primero te registrás en la campaña y luego empezás a compartir con todos tu amigos lo mucho que disfrutás de los beneficios de tu tarjeta de crédito y cuenta de ahorros de BAC Credomatic.</p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tink-icono-amigo.png" alt="Por cada amigo">
            </a>
        </columns>
        <columns small="12" large="9" style="padding-top: 5px;" class="">
            <h2>Por cada amigo que obtenga una tarjeta de crédito te ganás:</h2>
            <p>por tu recomendación, vos obtendrás una acción para quedar participando en la rifa de 3 viajes.</p>
            <p>
                <strong>$15</strong> si obtiene una tarjeta de crédito clásica
            </p>
            <p>
                <strong>$25</strong> una dorada
            </p>
            <p>
                <strong>$45</strong> una tarjeta plátino o black.
            </p>
            <p>
                ¡Y además si abre una cuenta de ahorro te ganás <strong>$5 extra</strong>!
            </p>
            <p>
                El pago se te aplicará a tu tarjeta de crédito.
            </p>
        </columns>
    </center>
</row>
<row>
    <columns>
        <p>Si tenés dudas o consultas escribinos un WhatsApp al 8742-9595.</p>
    </columns>
</row>
<row style="background-color: #f5f6f8;">
  <columns>
    <spacer size="60"></spacer>
    <center>
      <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    <spacer size="20"></spacer>
  </columns>
</row>
