---
subject: "Ganá hasta $50* con tus amigos"
header: "Ganá hasta $50* por cada amigo o familiar que reciba una tarjeta o cuenta de ahorros gracias a tu recomendación"
preheader: "Ganá hasta $50* con tus amigos"
version_web: "https://archivos.baccredomatic.com/email/es-cr/tink/tink-clientes-cashback-dic-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "REGISTRATE Y COMPARTÍ"
cta_link: "https://referidos.baccredomatic.com/cashback?utm_source=Email&utm_campaign=referidos-cashback/"
disclaimer: "* Aplican restricciones, ver reglamento en: referidos.baccredomatic.com/cashback"
layout: ventas-agosto-web
---
<row class="collapse">
      <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-referidos-cashback-hero-img-dic.png" alt="">
      </a>
</row>
<row style="background-color: #E4002B;">
  <columns>
        <center>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;font-weight: 500;hyphens: none;text-align: center;" class="center">{{ header }}</h1>
        </center>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
  <columns small="12" large="6">
    <center>
    <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>

<spacer size="20"></spacer>

<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="color: #E4002B;font-size: 1.5em;text-align: center;">Estás a 3 pasos de ganar hasta $50*</h2>
        </center>
       
    </columns>
</row>
<row>
    <columns small="12" large="2">
        <a href="{{cta_link}}">
            <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-1.png" alt="Obtené otros beneficios">
        </a>
        <p class="text-tink" style="color: rgb(0, 0, 0);">
            Ingresá al link y <strong>registrate</strong>
        </p>
    </columns>
    <columns small="12" large="2">
            <a href="{{cta_link}}">
                <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-2.png" alt="Mantené el mismo límite">
            </a>
            <p class="text-tink" style="color: rgb(0, 0, 0);">
                Compartí con amigos <strong>en redes sociales</strong>
            </p>
    </columns>
    <columns small="12" large="2">
            <a href="{{cta_link}}">
                <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-3.png" alt="Registrate">
            </a>
            <p class="text-tink" style="color: rgb(0, 0, 0);">
                Ganá acciones <strong>por cada amigo</strong>
            </p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="4">
        <a href="{{cta_link}}">
            <img class="img-tink-cash" src="/images/cr-tarjetas-referidos-cashback-icono-4.png" alt="Registrate">
        </a>
    </columns>
    <columns small="12" large="8">
        <h1 style="color: #E4002B;font-size: 18px;font-weight: 500;hyphens: none;">
            <strong>Además tu amigo o familiar</strong>
        </h1>
        <p>
            que obtenga una tarjeta o cuenta de ahorros, quedará participando en la rifa de un iPhone 8 Plus o un Apple Watch.
        </p>
    </columns>
</row>
<row>
    <columns>
        <p>Si tenés dudas o consultas escribinos un WhatsApp al 8742-9595.</p>
    </columns>
</row>
<row style="background-color: #f5f6f8;">
  <columns>
    <spacer size="60"></spacer>
    <center>
      <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    <spacer size="20"></spacer>
  </columns>
</row>
