---
subject: ¡Lo bueno se comparte!
header: ¡Lo bueno se comparte!
preheader: ¡Lo bueno se comparte!
description:
version_web: "#"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: ¡REGISTRATE AQUÍ!
cta_link: "https://referidos.baccredomatic.com"
disclaimer: "* Aplican restricciones, ver reglamento en: referidos.baccredomatic.com"
layout: ventas-agosto-web
---
<row class="collapse">
      <a href="{{cta_link}}">
        <img src="https://res.cloudinary.com/baccredomaticcr/image/upload/v1537831338/baccredomaticemails/regional-plantilla-tres-hero-img.png" alt="">
      </a>
</row>
<row style="background-color: #E4002B;">
  <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;">{{ header }}</h1>
  </columns>
</row>
<spacer size="30"></spacer>
<row>
  <columns small="12" large="6">
    <center>
    <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
    </center>
  </columns>
</row>

<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <h2 style="color: #E4002B; font-size: 1.6em;">¡Referí y ganá!</h2>
        <p>Es muy fácil, le das click a los íconos de las Redes Sociales y recomendale a tus amigos una Tarjeta de Crédito y una Cuenta de Ahorros BAC Credomatic.</p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tink-icono-compu.png" alt="Registrate">
            </a>
        </columns>
        <columns small="12" large="9" style="padding-top: 5px;" class="">
            <h2>Registrate en la plataforma y compartí</h2>
            <p>con todos tus amigos lo mucho que te gusta ser parte de BAC Credomatic para que ellos obtengan una Tarjeta de Crédito y Cuenta de Ahorro.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="4" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tink-icono-amigo.png" alt="Por cada amigo">
            </a>
        </columns>
        <columns small="12" large="9" style="padding-top: 5px;" class="">
            <h2>Por cada amigo que obtenga una Tarjeta de Crédito</h2>
            <p>por tu recomendación, vos obtendrás una acción para quedar participando en la rifa de 3 viajes.</p>
        </columns>
    </center>
</row>

<row>
    <center>
        <columns small="4" large="3" class="columnscards">
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tink-icono-avion.png" alt="Tres viajes">
            </a>
        </columns>
        <columns small="12" large="9" style="padding-top: 5px;" class="">
            <h2>Participá en la rifa de 3 Viajes</h2>
            <ul>
                <li>
                1 viaje a <strong>Las Vegas</strong> de 5 días y 4 noches para 2 personas
                </li>
                <li>
                1 viaje a <strong>Cancún</strong> de 4 días y 3 noches para 2 personas
                </li>
                <li>
                1 estadía en el <strong>Hotel Dreams Las Mareas</strong> de 3 días y 2 noches para 2 personas con todo incluido.
                </li>
            </ul>
        </columns>
    </center>
</row>

<row style="background-color: #f5f6f8;">
  <columns>
    <spacer size="60"></spacer>
    <center>
      <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    <spacer size="20"></spacer>
  </columns>
</row>
