---
subject: Ya estamos elaborando tu tarjeta, confirmá la dirección de entrega
header: Hola [First Name], ya estamos elaborando tu tarjeta, confirmá la dirección de entrega
preheader: Ya estamos elaborando tu tarjeta, confirmá la dirección para la entrega
root: "https://archivos.baccredomatic.com/email/es-cr/"
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-2-produccion-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta1_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/actualizacion-direccion-entrega?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-correo-produccion&utm_content=cr_notificame_email_actualizacion_direccion"
cta1_title: "Actualizar Dirección"
cta2_link: "tel:2295-9589"
cta2_title: "Llamá al 2295-9589"
img1_link: "/images/bienvenida-2-produccion-feb-2019-main.png"
img1_title: "Proceso de Entrega"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida-web
---
<!-- replace -->
{{> headerone }}
<!-- replace -->
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Te informamos que tu tarjeta será entregada en la siguiente dirección:</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            Dirección:  
        </p>
        <p>
            Otras señas:  
        </p>
    </columns>
</row>
<!-- replace -->
<row>
    <columns small="12" large="12">
        <center>
        <p><strong>Si deseás cambiarla o actualizarla por favor hacé click en el siguiente botón:</strong></p>
        <!-- <spacer size="20"></spacer> -->
        <!-- <button href="{{cta_link}}" class="secondary button center" title="{{cta_title}}">{{cta_text}}</button> -->
        </center>
    </columns>
</row>
<!-- new cta -->
{{> ctaone }}
<!-- new cta -->
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-2-produccion-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverdebold">
                   Elaborando tu tarjeta
                </p>
                <p class="statusgris">
                    En proceso de entrega                 
                </p>
                <p class="statusgris">
                    Activación de Tarjeta
                </p>
                <p class="statusgrislast">
                    Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                    Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>
<spacer size="20"></spacer>
{{> beneficiosbienvenida }}
<!-- new cta -->
{{> ctatwo }}
<!-- new cta -->

