---
subject: Con tu tarjeta podés acceder a un mundo de promociones exclusivas
firstname: "[First Name]"
header: Con tu tarjeta podés acceder a un mundo de promociones exclusivas
preheader: Con tu tarjeta podés acceder a un mundo de promociones exclusivas
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-6-activacion-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_adresslink: "https://www.mipromo.com/cr"
cta_encuesta: "Hacé Click AQUÍ"
cta_encuesta_link: "_blank"
cta_cuenta_link: "https://www.baccredomatic.com/es-cr/cuentas/ahorro-e-inversion/bac-ahorros/solicitud?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-cuentas-marzo-2019&utm_content=cr_notificame_email_cuentas"
cta_cuenta_title: Solicitar
cta_oma_link: "https://productos.baccredomatic.com/es-cr/landing/omas?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-omas-marzo-2019&utm_content=cr_notificame_email_omas"
cta_oma_title: Solicitar
cta_viajero_link: "https://comercio.baccredomatic.com/es-cr/seguro-viajero-cr?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-viajero-marzo-2019&utm_content=cr_notificame_email_viajero"
cta_viajero_title: Solicitar
cta_adicional_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/adicional?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-adicional-marzo-2019&utm_content=cr_notificame_email_adicionales"
cta_adicional_title: Solicitar
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-6-activacion-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Te damos la llave a un sin fin de nuevas experiencias</h2>
        </center>
    </columns>
</row>
<!-- replace -->
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
        <p>
            Su tarjeta ha sido activada y está lista para ser utilizada.
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-6-activacion-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada 
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverde">
                    En proceso de entrega               
                </p>
                <p class="statusverde">
                    Tarjeta entregada               
                </p>
                <p class="statusverdebold">
                    <strong>Activación de Tarjeta</strong>
               <p class="statusgrislast">
                    Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                     Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>
<spacer size="20"></spacer>
{{> bienvenida-encuesta }}
<spacer size="22"></spacer>
{{> bienvenida-cross-selling }}