---
subject: Tu tarjeta de crédito ya va en camino
header: "Hola [First Name], tu tarjeta de crédito ya va en camino"
preheader: Tu tarjeta de crédito ya va en camino
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-3-distribucion-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta2_title: "Ingresá Aquí"
cta2_link: "https://aprendiendo.baccredomatic.com/sobre/tarjeta-de-credito-como-medio-de-pago?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-correo-distribucion&utm_content=cr_notificame_email_aprendiendo"
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-3-distribucion-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Nuestro formalizador [firstname] [lastname] te estará contactando para entregarte la tarjeta.</h2>
        </center>
    </columns>
</row>
<!-- replace -->
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-3-distribucion-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverdebold">
                    En proceso de entrega               
                </p>
                <p class="statusgris">
                    Activación de Tarjeta
                </p>
                <p class="statusgrislast">
                   Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                    Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Te informamos que tu tarjeta será entregada en la siguiente dirección:</strong>
        </p>
        <p>
            Dirección:
        </p>
        <p>
            Otras señas:
        </p>
    </columns>
</row>

<row>
    <columns small="12" large="6">
        <h2 style="color: #e4002b">En BAC Credomatic nos interesa tu salud financiera</h2>
        <p>
            Descubrí como usar responsablemente tu tarjeta, en nuestro sitio web.
        </p>
    </columns>
</row>
<!-- New CTA -->
{{> ctatwo }}
<!-- New CTA -->