---
subject: Conocé los distintos medios de pago que te ofrecemos
header: Hola [First Name], sabemos que tu tiempo es importante, conocé los distintos medios de pago que ofrecemos
preheader: Conocé los distintos medios de pago que te ofrecemos
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-8-medios-pago-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_adresslink: "https://www.baccredomatic.com/es-cr/red-de-pagos?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-correo-medios-de-pago&utm_content=cr_notificame_email_medios_pago"
cta_addresstext: RED DE PAGOS
cta_addresstitle: RED DE PAGOS
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC
Credomatic."
layout: bienvenida
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-8-medios-pago-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Aprovechá mejor tu tiempo realizando pagos, reposiciones de tarjeta, solicitudes y transferencias desde la comodidad de tu casa</h2>
        </center>
    </columns>
</row>
<!-- replace -->
 {{> bienvenida-medios }}
 <row>
     <columns>
        <spacer size="20"></spacer>
        <p>
            <strong>
                Red de pagos
            </strong>
        </p>
    </columns>
 </row>
 <spacer size="20"></spacer>
 <row>
     <columns small="12" large="4" class="ulcolumns-first">
        <ul>
            <li>AMPM</li>
            <li>Bolpa Supermercados</li>
            <li>Compre Bien Supermercados</li>
            <li>Costa Rica Country Club</li>
        </ul>
    </columns>
    <columns small="12" large="4" class="ulcolumns-middle">
        <ul>
            <li>Farmacias Fischel</li>
            <li>FreshMarket</li>
            <li>Mas x Menos</li>
            <li>MegaSuper</li>
        </ul>
    </columns>
    <columns small="12" large="4" class="ulcolumns-last">
        <ul>
            <li>Peri</li>
            <li>Servimás</li>
            <li>Tienda Chayfer</li>
            <li>Universal</li>
            <li>Walmart</li>
        </ul>
    </columns>
 </row>
<row>
    <columns>
        <center>
            <button href="{{cta_adresslink}}" class="cta-rojo" title="{{cta_addresstitle}}">
                {{cta_addresstext}}
            </button>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-8-medios-pago-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverde">
                    En proceso de entrega               
                </p>
                <p class="statusverde">
                    Tarjeta entregada               
                </p>
                <p class="statusverde">
                    Activación de Tarjeta
                </p>
                <p class="statusverde">
                    Banca en línea
                </p>
                <p class="statusrojo">
                    <strong>Conocé nuestros medios de pago</strong>
                </p>
            </center>
        </columns>
    </center>
</row>


