---
subject: Tu tarjeta está lista y va de camino a la surcursal
header: Hola [First Name], tu tarjeta está lista y va de camino a la surcursal
preheader: Tu tarjeta está lista y va de camino a la surcursal
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-5-entrega-sucursal-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
call_text: "Llamá al 2295-9589"
call_title: "Llamá al 2295-9589"
call_number: "tel:2295-9589"
cta_adresslink: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/actualizacion-direccion-entrega"
cta_addresstext: Actualizar Dirección
cta_addresstitle: Actualizar Dirección
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-5-entrega-sucursal-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<!-- replace -->
<row>
    <columns small="12" large="12">
        <center>
            <button href="{{call_number}}" class="secondary button" title="{{cta_title}}">{{call_text}}</button>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-5-entrega-sucursal-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverdebold">
                    En proceso de entrega        
                </p>
                <p class="statusgris">
                    Activación de Tarjeta
                </p>
                <p class="statusgrislast">
                    Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                     Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Tu tarjeta será entregada a la siguiente sucursal:</strong>
        </p>
        <p>
             Sucursal: Avenida Segunda, Diagonal al Parque Central. San José.
        </p>
    </columns>
</row>
<row>
    <columns>
            <center>
                <button
                    href="{{call_number}}"
                    class="cta-rojo"
                    title="{{call_text}}">
                    {{call_text}}
                </button>
            </center>
    </columns>
</row>

<row>
    <columns small="12" large="6">
        <h2>Dudas generales sobre la solicitud</h2>
        <p>
            Para mayor información sobre tu trámite podes contactarnos llamando al: 2295 9589, horario de atención: Lunes a Viernes de 8am a 5:30 pm.
        </p>
    </columns>
</row>

