---
subject: Requerimos tu ayuda para entregarte la tarjeta
header: "Hola [First Name], requerimos tu ayuda para entregarte la tarjeta"
preheader: Requerimos tu ayuda para entregarte la tarjeta
root: "https://archivos.baccredomatic.com/email/es-cr/"
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-4-reproceso-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_acttext: "Actualizar Datos"
cta_acttitle: "Actualizar Datos"
cta_actlink: "https://www.baccredomatic.com/es-cr/tarjetas/credito/solicitud/actualizacion-direccion-entrega?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-correo-reproceso&utm_content=cr_notificame_email_actualizacion_direccion"
call_text: "Llamá al 2295-9589"
call_number: "tel:2295-9589"
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-4-reproceso-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Por favor confirmá esta dirección o dale clic al botón para actualizar tus datos:</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12">
        <p>
            Teléfono: [0000-0000]
        </p>
        <p>
            Dirección:
        </p>
        <p>
            Otras señas:
        </p>
    </columns>
</row>
<!-- replace -->
<row>
    <columns>
            <center>
                <button
                    href="{{cta_actlink}}"
                    class="cta-rojo"
                    title="{{cta_acttitle}}">
                    {{cta_acttext}}
                </button>
            </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
        <p>No pudimos contactarte para realizar la entrega, actualizá tus datos.</p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-4-reproceso-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverde">
                    En proceso de entrega               
                </p>
                <p class="statusrojobold">
                    <strong>Requerimos tu ayuda</strong>
                </p>
                <p class="statusgris">
                    Activación de Tarjeta
                </p>
                <p class="statusgrislast">
                    Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                    Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>


<row>
    <columns small="12" large="6">
        <h2>Dudas generales sobre la solicitud</h2>
        <p>
            Para mayor información sobre tu trámite podés contactarnos llamando al [Número de Teléfono], horario de atención: lunes a viernes de 8 a.m. a 5:30 p.m.
        </p>
    </columns>
</row>

<row>
    <columns>
        <p style="text-align: center;">
        </p>
        <spacer size="10"></spacer>
        <center>
            <button
                href="{{call_number}}"
                class="cta-red"
                title="{{cta_title}}">
                {{call_text}}
            </button>
        </center>
    </columns>
</row>