---
subject: Ahora podés darle seguimiento a la solicitud tu tarjeta
header: Hola, [First Name] Ahora podés darle seguimiento a la solicitud de tu tarjeta
preheader: Ahora podés darle seguimiento a la solicitud de tu tarjeta
version_web: "https://archivos.baccredomatic.com/email/es-cr/pages/preaprobadas/cr-bienvenida-1-aprobacion-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta2_title: "Llamá al 2295-9589"
cta2_link: "tel:2295-9589"
cta1_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/programas-de-lealtad?utm_source=email&utm_medium=eloqua&utm_campaign=cr-correos-notificame-correo-aprobacion&utm_content=cr_notificame_email_programas_lealtad"
cta1_title: Beneficios de Tarjeta
img1_link: "/images/bienvenida-1-aprobacion-feb-2019-main.png"
img1_title: "Main image"
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida-web
---
<!-- replace -->
{{> headerone }}
<!-- replace -->
<spacer size="20"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Disfrutá de todo lo que te ofrece tu tarjeta para hacer de cada día una experiencia inolvidable.</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
             BAC Credomatic, líderes en emisión de tarjetas de crédito, te da la más cordial bienvenida al grupo de tarjetahabientes,
            con la cual podrás disfrutar de beneficios del plan de lealtad: [Plan Lealtad del cliente].
        </p>
    </columns>
</row>
<!-- new cta -->
{{> ctaone }}
<!-- new cta -->
<row>
    <columns small="12" large="6">
        <p>Cada vez que tu solicitud presente un avance, te estaremos enviando una notificación para que te mantengás informado.</p>
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-1-aprobacion-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
            <center>
                <p class="statusverdefirst">
                    <strong>Solicitud aprobada</strong>
                </p>
                <p class="statusgris">
                    Elaborando tu tarjeta
                </p>
                <p class="statusgris">
                    En proceso de entrega                 
                </p>
                <p class="statusgris">
                    Activación de Tarjeta
                </p>
                <p class="statusgrislast">
                    Recordá crear tu usuario en Banca en línea
                </p>
                <p class="statusgrislast">
                     Conocé nuestros medios de pago
                </p>
            </center>
        </columns>
    </center>
</row>
<row>
    <columns small="12" large="6">
        <p>
            Para mayor información sobre tu trámite podés contactarnos llamando al número de teléfono: 2295-9589, horario de atención: lunes a viernes de 8 a.m. a 5:30 p.m.
        </p>
    </columns>
</row>
<!-- new cta -->
{{> ctatwo }}
<!-- new cta -->