---
subject: Realizá tus trámites sin salir de casa
header: Hola [First Name], realizá tus trámites sin salir de casa
preheader: Realizá tus trámites sin salir de casa
version_web: "https://archivos.baccredomatic.com/email/es-cr/bienvenida/cr-bienvenida-7-post-activacion-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_adresslink: "https://www.sucursalelectronica.com/ebac/module/createUser/showCreateUserForm.go?selectedCountry=CR"
cta_addresstext: Registrate en línea
cta_addresstitle: Registrate en líneas
disclaimer: "La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: bienvenida-web
---
<!-- replace -->
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/bienvenida-7-post-activacion-feb-2019-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
            <spacer size="20"></spacer>
            <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="">
        <center>
                <h2 style="font-size: 1.4em;text-align: center;">Aprovechá mejor tu tiempo realizando pagos, reposiciones de tarjeta, solicitudes y transferencias desde la comodidad de tu casa</h2>
        </center>
    </columns>
</row>
<!-- replace -->
<row>
    <columns small="12" large="12">
        <center>
            <spacer size="20"></spacer>
            <button href="{{cta_adresslink}}" class="secondary button" title="{{cta_addresstitle}}">{{cta_addresstext}}</button>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="6">
        <p>
            <strong>Estado de la Solicitud:</strong>
        </p>
    </columns>
</row>
<row>
    <center>
        <columns small="4" large="2" class="bienvenida-left">
            <center>
                <a>
                    <img class="emailImage" src="/images/bienvenida-7-post-activacion-julio-2018-status-bar.png" alt="">
                </a>
            </center>
        </columns>
        <columns small="8" large="10" class="bienvenida-right">
                <p class="statusverdefirst">
                    Solicitud aprobada
                </p>
                <p class="statusverde">
                    Elaborando tu tarjeta
                </p>
                <p class="statusverde">
                    En proceso de entrega               
                </p>
                <p class="statusverde">
                    Tarjeta entregada               
                </p>
                <p class="statusverde">
                    Activación de Tarjeta
                </p>
                <p class="statusrojolast">
                    <strong>Recordá crear tu usuario en Banca en línea</strong>
                </p>
                <p class="statusgrislast">
                     Conocé nuestros medios de pago
                </p>
        </columns>
    </center>
</row>


<row>
    <columns small="12" large="6">
        <p>
            <strong>Ahórrate más tiempo para momentos importantes mediante las solicitudes en línea.</strong>
        </p>
    </columns>
</row>
<row>
    <columns>
            <center>
                <button
                    href="{{cta_adresslink}}"
                    class="cta-rojo"
                    title="{{cta_addresstitle}}">
                    {{cta_addresstext}}
                </button>
            </center>
    </columns>
</row>
