---
subject: Digital Marketing Lab 2018
description: Digital Marketing Lab 2018
version_web: "https://baccredomatic.com"
charset: ISO-8859-1
replyto: mvenegasg@baccredomatic.com
layout: regional
cta_link: https://baccredomatic.zoom.us/j/5218848095
cta_text: baccredomatic.zoom.us/j/5218848095
---

<row>
  <columns>
    <p>Queremos fortalecer nuestra estrategia de Mercadeo Digital por esto la dirección de Trasformación Digital te invita al:</p>
    <h1>¡Digital Marketing Lab 2018!</h1>
    <h2>Recuerda participar de los laboratorios virtuales de Mercadeo Digital.</h2>
    
  </columns>
</row>
<row>
    <columns>
      <img src="https://www.baccredomatic.com/sites/default/files/marketing-digital.jpg"/>
    </columns>
</row>
<row>
    <columns>

    </columns>
</row>
<row>
    <columns>
      <p>En estos espacios podrás reforzar y desarrollar las competencias y destrezas necesarias para un buen desempeño en la construcción y entendimiento de una estrategia digital.</p>
    </columns>
  </row>

<row>
    <columns>
      <center><h2>Fechas y horarios de los cursos:</h2></center>
    </columns>  
</row>

  <row>
    <columns>
      <table style="border: 0; font-size: 1em;">
          <thead style="border: 0">
            <tr>
              <th width="23%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">Temas</th>
              <th width="20%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">¿Quienes deberían asistir?</th>
              <th width="15%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">Fechas</th>
              <th width="10%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">Hora</th>

              <th width="17%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">Expositor</th>

              <th width="17%" style="border: 1px solid white; background-color: #6D6E71;
              color: white; padding: 5px 10px; font-size: 0.8em; font-weight: bold;">Material</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;"><strong>Experiencia de usuario en Transformación Digital</strong> </td>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;">Diseñadores, áreas de mercadeo, administradores de sitio web, líderes de proyectos</td>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;">Miércoles 14 de Marzo</td>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;">2:30 p.m a 4:00 p.m. </td>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 0px 0; text-align:left;"><ul style="list-style-type: none;
                margin: 0; padding: 5px;"><li>Rosa Isela Quesada</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_rosa.png"/></li>
                </ul></td>
                <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;"><a style="color: black;" href="url">Descargar</a></td>
            </tr>
            <tr>
              <td style="border: 1px solid white; background-color: #E6E6E6;
              color: black; padding: 5px 5px;"><strong>Copywriting, Cómo construir mensajes enfocados en ventas </strong></td>
              <td style="border: 1px solid white; background-color: #E6E6E6;
              color: black; padding: 5px 5px;">Community Managers, áreas de mercadeo y ventas, creadores de contenido</td>
              <td style="border: 1px solid white; background-color: #E6E6E6;
              color: black; padding: 5px 5px;">Viernes 16 Marzo</td>
              <td style="border: 1px solid white; background-color: #E6E6E6;
              color: black; padding: 5px 5px;">2:30 p.m. a 4:00 p.m. </td>
              <td style="border: 1px solid white; background-color: #E6E6E6;
              color: black; padding: 0px 0; text-align:left;"><ul style="list-style-type: none;
              margin: 0; padding: 5px;"><li>Geovanny Alpizar</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_geovanny.png"/></li>
               </ul></td>
              <td style="border: 1px solid white; background-color: #E6E6E6;
                color: black; padding: 5px 5px;"><a style="color: black;" href="url">Descargar</a></td>
            </tr>
            <tr>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 5px 5px;"><strong>Facebook - Playbook para campañas digitales</strong></td>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 5px 5px;">Áreas de mercadeo y ventas, diseñadores, community managers.</td>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 5px 5px;">Lunes 19 de Marzo</td>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 5px 5px;">10:30 a.m. a 12:00 p.m.</td>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 0px 0; text-align:left;"><ul style="list-style-type: none;
                margin: 0; padding: 5px;"><li>Lorena Argueta</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_lore.png"/></li>
                 </ul></td>
                <td style="border: 1px solid white; background-color: #6EBF5D;
                color: black; padding: 5px 5px;"><a style="color: black;" href="url">Descargar</a></td>
            </tr>
            <tr>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 5px 5px;"><strong>¿Cómo construir reportes de Google Analytics para campañas?</strong></td>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 5px 5px;">Áreas de mercadeo y ventas, líderes de proyectos.</td>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 5px 5px;">Miércoles 21 de Marzo </td>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 5px 5px;">2:30 p.m. a 4:00 p.m.</td>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 0px 0; text-align:left;"><ul style="list-style-type: none;
                margin: 0; padding: 5px;"><li>Oscar Martínez</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_oscar.png"/></li>
                 </ul></td>
                <td style="border: 1px solid white; background-color: #2DA74B;
                color: black; padding: 5px 5px;"><a style="color: black;" href="url">Descargar</a></td>
            </tr>
            <tr>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 5px 5px;"><strong>Google - Optimización campañas y nuevos funcionalidades</strong></td>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 5px 5px;">Áreas de mercadeo y ventas.</td>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 5px 5px;">Viernes 6 de Abril</td>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 5px 5px;">10: 00 a.m a 12:00 m.d.</td>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 0px 0; text-align:left;"><ul style="list-style-type: none;
                margin: 0; padding: 5px;"><li>Maggie Segura</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_maggie.png"/></li><li>Sergio Pájaro</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_sergio.png"/></li><li>Alejandro Rico</li><li><img style="width:70%;" src="https://www.baccredomatic.com/sites/default/files/expo_alejandro.png"/></li>
                </ul></td>
                <td style="border: 1px solid white; background-color: #2A9446;
                color: black; padding: 5px 5px;"><a style="color: black;" href="url">Descargar</a></td>
                </tr>
          </tbody>
        </table>
  </row>

</row>

<row>
    <columns>
      <center>
      <h2 style="text-align: center">¡Compartamos el conocimiento!</h2>
      <p>Los laboratorios están abiertos a cualquiera que quiera participar, comparte esta convocatoria con tus compañeros.</p>
      <h3>Ingresa al siguiente enlance para participar del curso.</h3>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
    </center>
    </columns>  
</row>