.recuadro-rojo {
  background: $rojo-bac;
  color: $blanco;
  border-top: solid $global-padding*2 $rojo-bac;
  border-right: solid $global-padding $rojo-bac;
  border-bottom: solid $global-padding $rojo-bac;
  border-left: solid $global-padding $rojo-bac;

  p {
    color: $blanco;
  }

  .big {
    font-size: 6em;
    clear: both;
    font-weight: bold;
    line-height: 1;
  }

  sup {
    font-size: 0.5em;
  }
}
