<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset={{charset}}">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td style="max-width: 580px;" class="center" valign="top">
        <wrapper>
            <container>
                {{> header-maxwidth }}
                {{> pre-encabezado }}
                {{> body }}
                {{> footer-socialmedia }}
            </container>
          </wrapper>
        </td>
      </tr>
    </table>
      <!-- prevent Gmail on iOS font size manipulation -->
      <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </div>
      <!-- 
        Method #2
        <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
      -->
      <span class="preheader" style="color:transparent; display:none !important; height:0; opacity:0; visibility:hidden; width:0">[Response: Read Receipt]</span>
  </body>
</html>
