---
subject: Tenés un préstamo pre-aprobado
header:  Efectivo inmediato, sin trámites, con Crédito 24/7
preheader: Efectivo inmediato, sin trámites, con Crédito 24/7
description:
charset: ISO-8859-1
replyto: prestamospersonales@baccredomatic.com
version_web: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/cr-prestamos-credito247-ene-18-web.html"
cta_text: Ingresá y solicitalo
cta_link: "https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_agosto_2018"
cta_title: "Click para descubrir como"
layout: ventas
---

  <row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p>Con solo tu tarjeta de crédito podés obtener un préstamo personal inmediato al acceder a tu cuenta.</p>
    </columns>
      <columns small="12" large="12" class="">
          <a href="https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_01_2018&utm_content=img_main">
            <img class="emailImage" src="/images/cr-prestamos-credito-247-main" alt="Crédito 24/7">
          </a>
      </columns>
    </row>
<row>
    <columns small="12" large="12" class="">
          <p><strong>Pasos para completar la solicitud:</strong></p>
    </columns>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>

          <a href="https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_01_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-1.jpg" alt="Paso 1"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 1</strong></p>
          <p>Indicá la tarjeta de crédito a utilizar.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_01_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-2.jpg" alt="Paso 2"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 2</strong></p>
          <p>Elegí entre dos opciones: Adelanto de Efectivo ó Efectivo a Plazo.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_01_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-3.jpg" alt="Paso 3"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 3</strong></p>
          <p>Escogé la moneda (colones o dólares), el monto y las condiciones.</p>
        </center>
      </columns>
  </center>
</row>

<row>
    <center>
      <columns small="3" large="2" class="columnscards">
        <center>
          <a href="https://www.baccredomatic.com/es-cr/content/credito-247?utm_source=email&utm_medium=eloqua&utm_campaign=cr_prestamos_credito247_email_01_2018&utm_content=iconos">
            <img class="emailImage" src="/images/cr-prestamos-credito247-icono-4.jpg" alt="Paso 4"></a>
        </center>
      </columns>
      <columns small="9" large="10" class="">
        <center>
          <p><strong>Paso 4</strong></p>
          <p>Seleccioná la cuenta para depositar el dinero.</p>
        </center>
      </columns>
  </center>
</row>

<row>
  <columns>
    <p style="text-align: center;">
    </p>
    <spacer size="10"></spacer>
    <center>
      <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
          <spacer size="10"></spacer>
        {{> contact}}
    </center>
  </columns>
</row>
