---
subject: Tenés una tarjeta pre aprobada, solicitala en línea
header: Tenés una tarjeta pre aprobada, solicitala en línea
preheader: Tenés una tarjeta pre aprobada, solicitala en línea
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "Llená el formulario"
cta_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito?utm_source=email&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_julio_2018&utm_content=supermercados"
super_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/supermercados-clubes-y-tiendas&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_julio_2018&utm_content=supermercados"
acumula_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/acumula-puntos&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_julio_2018&utm_content=supermercados"
viajes_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/beneficios-para-viajes&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_julio_2018&utm_content=supermercados"
cash_link: "https://www.baccredomatic.com/es-cr/tarjetas/credito/personas/cashback&utm_medium=eloqua&utm_campaign=cr_tarjetas_credito_preaprobadas_email_julio_2018&utm_content=supermercados"
version_web: "https://content.baccredomatic.com/es-cr/mailing/com/2x16/cr-tarjetas-preaprobadas-julio-2018-web.html"
disclaimer: "* Aplican restricciones, ver reglamento en baccredomatic.com. La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas
---
<row>
    <columns small="12" large="6">
      <h1>{{ header }}</h1>
      <button href="{{cta_link}}" class="secondary button button-right" title="{{cta_title}}">{{cta_text}}</button>
      <p>Elegí la tarjeta que mejor se adapte a tus necesidades y aprovechá todos los beneficios BAC Credomatic.</p>
    </columns>
    <columns small="12" large="6">
      <row>
        <a href="{{cta_link}}"><img src="/images/cr-tarjetas-preaprobadas-clasicas-main-1" /></a>
        
      </row>
    </columns>
  </row>
  <spacer size="10"></spacer>
  {{> beneficiosclasicosjulio }}
  <spacer size="10"></spacer>
  <row>
          <columns small="12" large="12" class="columnscards">
              <a href="{{cash_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-julio-2018-cashback.png" alt="Tarjeta para Viajes"></a>
        </columns>
  </row>
  <row>
        <columns small="12" large="4" class="columnscards">
              <spacer size="20"></spacer>
              <h2 style="color: #4D4D4F;"><strong>Tarjetas CashBack</strong></h2>
              <p>Con este tipo de tarjetas, te devolvemos dinero por las compras que hagás.</p>
        </columns>
  
        <columns small="12" large="8" class="columnscards">
              <a href="{{cash_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-cashback-1" alt="Tarjeta para Viajes"></a>
              <spacer size="20"></spacer>
        </columns>
  </row>
   <row>
          <columns small="12" large="12" class="columnscards">
              <a href="{{super_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-julio-2018-supermercados.png" alt="Tarjeta para Supermercados"></a>
        </columns>
  </row>
  <row>
                <columns small="12" large="4" class="columnscards">
                  <spacer size="20"></spacer>
                  <h2 style="color: #4D4D4F;">
                    <strong>Tarjetas para Supermercados</strong>
                  </h2>
                  <p>Beneficios y privilegios para ahorrar en sus compras en supermercados y tiendas.</p>
                </columns>
                
                <columns small="12" large="8" class="columnscards">
                  <a href="{{super_link}}">
                    <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-supermercados-1" alt="Tarjeta para Viajes">
                  </a>
                  <spacer size="20"></spacer>
                </columns>
  </row>
   <row>
          <columns small="12" large="12" class="columnscards">
              <a href="{{acumula_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-julio-2018-acumulapuntos.png" alt="Tarjeta para Acumula Puntos"></a>
        </columns>
  </row>
  <row>
                <columns small="12" large="4" class="columnscards">
                  <spacer size="20"></spacer>
                  <h2 style="color: #4D4D4F;">
                    <strong>Tarjetas Acumula Puntos</strong>
                  </h2>
                  <p>Aprovechá ofertas, promociones y redimí tus puntos por pasajes aéreos y comercios afiliados.</p>
                </columns>
                
                <columns small="12" large="8" class="columnscards">
                  <a href="{{acumula_link}}">
                    <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-acumulapuntos-1" alt="Tarjeta para Viajes">
                  </a>
                  <spacer size="20"></spacer>
                </columns>
  </row>
   <row>
          <columns small="12" large="12" class="columnscards">
              <a href="{{viajes_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-viajes-1.png" alt="Tarjeta para Viajes"></a>
        </columns>
  </row>
  <row>
                <columns small="12" large="4" class="columnscards">
                  <spacer size="20"></spacer>
                  <h2 style="color: #4D4D4F;">
                    <strong>Tarjeta para Viajes</strong>
                  </h2>
                  <p>Beneficios que viajan con vos.</p>
                </columns>
                
                <columns small="12" large="8" class="columnscards">
                  <a href="{{viajes_link}}">
                    <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-clasicas-viajes-1" alt="Tarjeta para Viajes">
                  </a>
                  <spacer size="20"></spacer>
                </columns>
  </row>
  
  <row>
    <columns>
      <center>
        <spacer size="10"></spacer>
        <button href="{{cta_link}}" class="cta-rojo" title="{{cta_title}}">{{cta_text}}</button>
      </center>
    </columns>
  </row>
  