---
subject: "Vos elegís a donde ganar"
header: "Vos elegís a donde ganar"
preheader: "Vos elegís a donde ganar"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitá la tuya aquí
cta_link: "https://productos.baccredomatic.com/es-cr/landing/blue/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-amex-blue&utm_content=email-blue-nov-2018"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: blue-amex
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjeta-blue-nov-26.jpg" alt="">
    </a>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="12" large="7">
            <a style="width: 140%; height: auto;" href="{{cta_link}}">
                <img src="/images/cr-tarjeta-blue-plastico.png" alt="Tarjeta Amex BLUE">
            </a>
        </columns>
        <columns small="12" large="5">
                <spacer size="10"></spacer>
                <center>
                    <h2 class="title-blue" style="color: #3e6ebe; font-size: 1.6em;text-align: left;">VOS ELEGÍS A DONDE GANAR</h2>
                    <p class="subtitle-blue">Con la Tarjeta Blue American Express&reg; BAC Credomatic</p>
                    <spacer size="10"></spacer>
                    <button class="blue" style="padding-left: 5px;padding-right: 5px;" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
                </center>
        </columns>
</row>
<spacer size="10"></spacer>
<row>
    <columns small="12" large="3">
        <center>
        <a class="iconos-blue" href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-tarjeta-blue-icono-1.png" alt="Acumulá hasta 5% en la idustría que vos querás">
        </a>
        <spacer size="12"></spacer>
        <h2 style="color: #545659;text-align: left;">
            ACUMULÁ HASTA 5% EN LA INDUSTRIA QUE VOS QUERÁS
        </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-2.png" alt="Elegí dos industrías para ganar">
            </a>
            <spacer size="12"></spacer>
            <h2 style="color: #545659;text-align: left;">
                ELEGÍ 2 DE 10 INDUSTRIAS PARA GANAR
            </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-3.png" alt="El porcentaje de CashBack aumenta según tu consumo">
            </a>
            <spacer size="12"></spacer>
            <h2 style="color: #545659;text-align: left;">
                EL PORCENTAJE DE CASHBACK AUMENTA SEGÚN TU CONSUMO

            </h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="3">
        <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-4.png" alt="Canjeá tu CashBack Blue en línea">
            </a>
            <spacer size="12"></spacer>
            <h2 style="color: #545659;text-align: left;">
                PODÉS CANJEAR TUS COLONES CASHBACK BLUE EN LÍNEA
            </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-5.png" alt="Beneficios exclusivos">
            </a>
            <spacer size="12"></spacer>
            <h2 style="color: #545659;text-align: left;">
                BENEFICIOS EXCLUSIVOS:
                <ul style="padding-left: 10px;">
                    <li>Zonas BLUE</li>
                    <li>Conciertos</li>
                    <li>Festivales</li>
                </ul>

            </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a class="iconos-blue" href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjeta-blue-icono-6.png" alt="Registrate">
            </a>
            <spacer size="12"></spacer>
            <h2 style="color: #545659;text-align: left;">
                ALIANZA EXCLUSIVA CON AEROPOST PARA COMPRAS EN LÍNEA
            </h2>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color: #3e6ebe; font-size: 1.6em;text-align: center;">Elegí en que tipo de comercios ganar CashBack con tu Tarjeta BLUE</h2>
            <spacer size="30"></spacer>
            <button class="blue" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>