---
subject: "Sacale mayor valor a tu dinero, solicitá otra tarjeta manteniendo la actual y disfrutá de los mejores planes de lealtad"
header: "Sacale mayor valor a tu dinero, solicitá otra tarjeta manteniendo la actual y disfrutá de los mejores planes de lealtad"
preheader: "Sacale mayor valor a tu dinero, solicitá otra tarjeta manteniendo la actual y disfrutá de los mejores planes de lealtad."
version_web: "https://archivos.baccredomatic.com/email/es-cr/preaprobadas/cr-tarjetas-omas-febrero-2019-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITÁ LA TUYA HOY
cta_link: "https://productos.baccredomatic.com/es-cr/landing/omas/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-credito-omas-email-febrero-2019&utm_content=omas-email-feb-8"
disclaimer: "* Aplican restricciones. Ver beneficios y condiciones de las tarjetas en baccredomatic.com"
disclaimer2: "** La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-omas-febrero-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
        <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;padding: 30px;">Nuestros planes de lealtad están diseñados para sacarle el mayor valor a tu dinero</h2> 
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12" class="">
        <p style="text-align: justify;padding-left: 20px;padding-right: 20px;">Al obtener una nueva tarjeta podrás disfrutar de nuevos beneficios que complementan de manera ideal con tu actual tarjeta.</p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-omas-febrero-icono-1.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="color: #E4002B;text-align: center;">
            WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-omas-febrero-icono-2.png" alt="Llamada">
            </a>
            <spacer size="15"></spacer>
            <h2 style="color: #E4002B;text-align: center;">
                Llamada
            </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-omas-febrero-icono-3.png" alt="Formulario">
            </a>
            <spacer size="15"></spacer>
            <h2 style="color: #E4002B;text-align: center;">
                Formulario
            </h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="10"></spacer>
<row>
    <columns small="12" large="12" class="">
        <p>Solicitá otra tarjeta de crédito en minutos y disfrutá de los beneficios que tenemos para vos. Podés disfrutar desde viajes hasta compras en los supermercados de tu preferencia.</p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
        <h2 style="color: #E4002B;font-size: 1.6em;text-align: center;">Solicitá otra tarjeta</h2> 
        <h2 style="font-size: 1.6em;text-align: center;">manteniendo la actual</h2> 
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="6" large="6">
            <a  href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-4.png" alt="CashBack">
            </a>
        </columns>
        <columns small="6" large="6">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-5.png" alt="GanePremios">
            </a>
        </columns>
</row>
<row>
        <columns small="6" large="6">
            <a  href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-7.png" alt="Vivi Blue">
            </a>
        </columns>
        <columns small="6" large="6">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-6.png" alt="Millas Plus">
            </a>
        </columns>
</row>
<spacer size="40"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
            <h2 style="font-size: 1.6em;hyphens: none;text-align: center;">Facilidades de pago a plazos</h2>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-8.png" alt="Tasa Cero">
            </a>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-febrero-icono-9.png" alt="Mini Cuotas">
            </a>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
            <h2 style="color: #E4002B;font-size: 16px;text-align: center;padding-left: 20px;padding-right: 20px;">Solicitá otra tarjeta mantendiendo la actual y aprovechá todos los beneficios</h2>
            <spacer size="15"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>