---
subject: "Solicitá otra tarjeta, manteniendo la actual"
header: "Solicitá otra tarjeta, manteniendo la actual"
preheader: Solicitá otra tarjeta, manteniendo la actual
description:
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: Solicitá la tuya aquí
cta_link: "https://tarjetas.baccredomatic.com/es-cr/landing/omas/?utm_source=email&utm_medium=eloqua&utm_campaign=cr_core_tjc_credito_omas_email_setiembre_2018&utm_content=omas_13_set"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-omas-set-main-img.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;">Solicitá otra tarjeta,<br> manteniendo la actual</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-omas-set-main-icono-1.png" alt="Diversificá tus beneficios">
        </a>
        <h2 style="color: #E4002B;text-align: center;">
            Diversificá tus beneficios
        </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-omas-set-main-icono-2.png" alt="Mantené el mismo límite">
            </a>
            <h2 style="color: #E4002B;text-align: center;">
                Mantené el mismo límite
            </h2>
        </center>
    </columns>
    <columns small="12" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-omas-set-main-icono-3.png" alt="Registrate">
            </a>
            <h2 style="color: #E4002B;text-align: center;">
                Tené otra tarjeta de respaldo
            </h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="10"></spacer>
<row>
    <columns small="12" large="12" class="">
        <p>Solicitá otra tarjeta de crédito en minutos y disfrutá de los beneficios que tenemos para vos. Podés disfrutar desde viajes hasta compras en los supermercados de tu preferencia.</p>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
        <h2 style="color: #E4002B; font-size: 1.6em;">Vos elegís el emisor</h2> 
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="4" large="4">
            <a  href="{{cta_link}}">
                <img src="/images/cr-omas-set-amex.png" alt="Amex">
            </a>
        </columns>
        <columns small="4" large="4">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-set-mc.png" alt="Master Card">
            </a>
        </columns>
        <columns small="4" large="4">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-set-visa.png" alt="Visa">
            </a>
        </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;hyphens: none;">Vos elegís el plan para acumular</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-aadvantage.png" alt="AAdvantage">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-automercado.png" alt="Automercado">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-cashback.png" alt="CashBaack">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-connectmiles.png" alt="ConnectMiles">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-ganepremios.png" alt="Gane Premios">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-lifemiles.png" alt="LifeMiles">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-millasplus.png" alt="MillasPlus">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-puntos.png" alt="ConnectMiles">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-pricesmart.png" alt="PriceSmart">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-walmart.png" alt="Walmart">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
        </center>
    </columns>
</row>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Vos elegís el lugar para la entrega</h2>
            <spacer size="30"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>