---
subject: "Hola [first_name], tenés una tarjeta pre-aprobada, solicitala 24/7 por el medio que más te guste"
header: "Hola [first_name], tenés una tarjeta pre-aprobada, solicitala 24/7 por el medio que más te guste"
preheader: "Hola, tenés una tarjeta pre-aprobada, solicitala 24/7 por el medio que más te guste"
version_web: "https://archivos.baccredomatic.com/email/es-cr/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-enero-2019-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITÁ LA TUYA HOY
cta_link: "https://productos.baccredomatic.com/es-cr/landing/tarjetas/ahora-podes-decidir-como-solicitar-tu-tarjeta/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-multicanalidad-25enero&utm_content=cr_tjc_email_25ene_multicanalidad"
disclaimer: "* Aplican restricciones ver reglamento en baccredomatic.com. La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-preaprobadas-nuevas-main-img.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="40"></spacer>
<row>
<center>
    <columns small="12" large="12" class="columnscards">
        <h2 style="font-size: 1.6em;text-align: center;">Elegí el medio que más te guste</h2>  
    </columns>
    </center>
</row>
<spacer size="30"></spacer>
<row>
  <center>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-icono-whatsapp.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="text-align: center;">
             Solicitá por<br>WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-icono-llamada.png" alt="Mantené el mismo límite">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center;">
                Solicitá por<br>Llamada
            </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-icono-formulario.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center;">
               Solicitá por<br>Formulario web
            </h2>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="font-size: 1.6em;hyphens: none;text-align: center;">Vos elegís el plan para acumular</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12" class="">
        <p style="hyphens: none;text-align: justify;">Solicitá una tarjeta de crédito en minutos y disfrutá de los beneficios que tenemos para vos. Podés disfrutar desde viajes hasta compras en los supermercados de tu preferencia.*</p>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-logo-cashback.png" alt="CashBack">
            </a>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-logo-millasplus.png" alt="MillasPlus">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-logo-ganepremios.png" alt="GanePremios">
            </a>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-logo-viviblue.png" alt="Viví BLUE">
            </a>
        </center>
    </columns>
</row>
<spacer size="50"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="font-size: 1.6em;hyphens: none;text-align: center;">Facilidades de pago a plazos</h2>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
  <center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-logo-tasacero.png" alt="Tasa Cero">
            </a>
        </center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-logo-minicuotas.png" alt="Minicuotas">
            </a>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="40"></spacer>
        <center>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">Conocé más aquí</p>
            <spacer size="20"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer ize="20"></spacer>
    </columns>
</row>
