---
subject: "Tenés una tarjeta de crédito pre aprobada, sólo falta que vos la solicités"
header: "Tenés una tarjeta de crédito pre aprobada, sólo falta que vos la solicités"
preheader: "Tenés una tarjeta de crédito pre aprobada, sólo falta que vos la solicités."
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: "LLENÁ EL FORMULARIO"
cta_link: "https://productos.baccredomatic.com/es-cr/landing/preaprobadas/?utm_source=eloqua&utm_medium=email&utm_campaign=cr-tjc-credito-preaprobadas-dic-2018&utm_content=correo-nuevas-dic-2018"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-preaprobadas-dic-2018-main-img.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<row>
        <columns small="12" large="12" class="columnscards">
            <center>
            <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Solicitá la tuya hoy haciendo click en el botón y llenando el formulario.</h2>
            </center>
        </columns>
</row>
<spacer size="30"></spacer>
<row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-cashback-10-2017.gif" alt="CashBack"></a>
                  <spacer size="20"></spacer>
                  <h3 style="color: #4D4D4F;"><strong>CashBack</strong></h3>
                  <h4>
                  <ul style="color: #4D4D4F">
                  <li>Te devolvemos hasta un 5% de CashBack.</li>
                  <li>Redimible en banca en línea.</li>
                  <li>Aplicable al saldo de su tarjeta.</li>
                  <li>Obtené hasta 5% CashBack*.</li>
                  </ul>
                  </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-viajes-10-2017.gif" alt="Viajes"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Viajes</strong></h3>
              <h4>
              <ul style="color: #4D4D4F;">
                <li>Acumulá millas por cada compra.</li>
                <li>Canjeables por boletos aéreos.</li>
                <li>Acceso a salas VIP y Valet parking.</li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-supermercados-10-2017.gif" alt="Supermercados"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Supermercados</strong></h3>
              <h4>
              <ul style="color: ##4D4D4F;">
                <li>Acumulá Puntos por tus compras.</li>
                <li>Financiamiento de compras a plazo.</li>
              </ul>
              </h4>
          </center>
        </columns>
  
        <columns small="12" large="2" class="columnscards">
          <center>
              <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-puntos-10-2017-copy.gif" alt="Puntos"></a>
              <spacer size="20"></spacer>
              <h3 style="color: #4D4D4F;"><strong>Puntos</strong></h3>
              <h4>
              <ul style="color: #4D4D4F;margin-right:20px">
                <li>Rendención de Puntos y Millas.</li>
                <li>Promociones exclusivas.</li>
              </ul>
              </h4>
          </center>
        </columns>
  </row>
  <row>
        <columns small="12" large="12" class="columnscards">
            <center>
            <h2 style="color: #E4002B; font-size: 1.6em;">Vos elegís el emisor</h2> 
            <p>Completando la solicitud vas a poder elegir entre American Express, Visa y MasterCard. </p>
            </center>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
            <columns small="4" large="4">
                <a  href="{{cta_link}}">
                    <img src="/images/cr-omas-set-amex.png" alt="Amex">
                </a>
            </columns>
            <columns small="4" large="4">
                <a class="collapse" href="{{cta_link}}">
                    <img src="/images/cr-omas-set-mc.png" alt="Master Card">
                </a>
            </columns>
            <columns small="4" large="4">
                <a class="collapse" href="{{cta_link}}">
                    <img src="/images/cr-omas-set-visa.png" alt="Visa">
                </a>
            </columns>
    </row>
<spacer size="30"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Te la llevamos a tu casa o lugar de trabajo</h2>
            <spacer size="30"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>