---
subject: "Solicitá tu tarjeta 24/7 por el medio que más se ajuste a tus necesidades"
header: "Solicitá tu tarjeta 24/7 por el medio que más se ajuste a tus necesidades"
preheader: "Solicitá tu tarjeta 24/7 por el medio que más se ajuste a tus necesidades."
version_web: "https://archivos.baccredomatic.com/email/es-cr/nuevas/cr-tarjetas-nuevas-ppas-multicanalidad-febrero-web-2019.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITALA 24/7
cta_two: SOLICITÁ LA TUYA HOY
cta_link: "https://productos.baccredomatic.com/es-cr/landing/tarjetas/ahora-podes-decidir-como-solicitar-tu-tarjeta/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-multicanalidad-febrero-15-web&utm_content=cr_tjc_email_web_feb_15_multicanalidad"
disclaimer: "* Aplican restricciones ver reglamento en baccredomatic.com. La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto-web
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-main.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
  <center>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-1.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="text-align: center; hyphens: none;">
             WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-2.png" alt="Llamada">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center; hyphens: none;">
                Llamada
            </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-icono-3.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center; hyphens: none;">
               Formulario web
            </h2>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
            <spacer size="2"></spacer>
            <p class="ctatwo">100% EN LÍNEA</p>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
<center>
    <columns small="12" large="12" class="columnscards">
        <h2 class="nuevastitle">Elegí el plan para acumular</h2>  
        <p class="plasticop">Al solicitar otra tarjeta podés acumular en otra categoría, por ejemplo, si tenés una tarjeta CashBack podés complementarla con una de viaje y de supermercados.</p>
    </columns>
    </center>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 class="nuevastitle">Elegí una tarjeta que se adapte a tus hábitos de consumo</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-1.png" alt="Amex BLUE">
            </a>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-2.png" alt="CashBack">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-3.png" alt="GanePremios">
            </a>
        </center>
    </columns>
    <columns small="6" large="5" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-tarjetas-preaprobadas-nuevas-feb-plastico-4.png" alt="MillasPlus">
            </a>
        </center>
    </columns>
</row>
<spacer size="50"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <p style="font-size: 1.6em;hyphens: none;text-align: center;">Facilidades de pago a plazos</p>
        </center>
    </columns>
</row>
<spacer size="20"></spacer>
<row>
  <center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-logo-1.png" alt="Tasa Cero">
            </a>
        </center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/cr-tarjetas-preaprobadas-nuevas-feb-logo-2.png" alt="Minicuotas">
            </a>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="40"></spacer>
        <center>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_two}}</button>
            <spacer size="20"></spacer>
            <p style="color: #E4002B; font-size: 1.2em;text-align: center;">Vos elegís el lugar para la entrega</p>
        </center>
        <spacer ize="20"></spacer>
    </columns>
</row>
