---
subject: "Con BAC Credomatic podés solicitar tu tarjeta 24/7 en el medio que más se ajuste a tus necesidades"
header: "Con BAC Credomatic podés solicitar tu tarjeta 24/7 en el medio que más se ajuste a tus necesidades"
preheader: "Con BAC Credomatic podés solicitar tu tarjeta 24/7 en el medio que más se ajuste a tus necesidades"
version_web: "https://archivos.baccredomatic.com/email/es-cr/preaprobadas/cr-tarjetas-omas-diciembre-2018-web.html"
charset: ISO-8859-1
replyto: tarjetas@baccredomatic.com
cta_text: SOLICITÁ LA TUYA HOY
cta_link: "https://productos.baccredomatic.com/es-cr/landing/tarjetas/ahora-podes-decidir-como-solicitar-tu-tarjeta/?utm_source=email&utm_medium=eloqua&utm_campaign=cr-core-tjc-pr-em-multicanalidad-15enero&utm_content=cr_tjc_email_15ene_multicanalidad"
disclaimer: "* La activación de la tarjeta de crédito solicitada está sujeta a las políticas y regulaciones internas de BAC Credomatic."
layout: ventas-agosto
---
<row class="collapse">
    <a href="{{cta_link}}">
        <img src="/images/correo-tarjetas-nuevas-ppas-enero-2019.png" alt="">
    </a>
</row>
<row style="background-color: #E4002B;">
    <columns>
        <spacer size="20"></spacer>
        <h1 style="color: white;font-size: 26px;hyphens: none;text-align: center;font-weight: 500;">{{header}}</h1>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
  <center>
    <columns small="4" large="3">
        <center>
        <a href="{{cta_link}}">
            <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-icono-whatsapp.png" alt="WhatsApp">
        </a>
        <spacer size="15"></spacer>
        <h2 style="text-align: center;">
            WhatsApp
        </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-icono-llamada.png" alt="Mantené el mismo límite">
            </a>
            <spacer size="20"></spacer>
            <h2 style="text-align: center;">
                Llamada
            </h2>
        </center>
    </columns>
    <columns small="4" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-icono-formulario.png" alt="Registrate">
            </a>
            <spacer size="15"></spacer>
            <h2 style="text-align: center;">
                Formulario web
            </h2>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="12" large="6">
        <center>
            <button href="{{cta_link}}" class="button secondary sec-background" title="{{cta_title}}">{{cta_text}}</button>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
<center>
    <columns small="12" large="12" class="columnscards">
        <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Vos elegís el emisor</h2>  
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row>
        <columns small="4" large="4">
            <a  href="{{cta_link}}">
                <img src="/images/cr-omas-set-amex.png" alt="Amex">
            </a>
        </columns>
        <columns small="4" large="4">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-set-mc.png" alt="Master Card">
            </a>
        </columns>
        <columns small="4" large="4">
            <a class="collapse" href="{{cta_link}}">
                <img src="/images/cr-omas-set-visa.png" alt="Visa">
            </a>
        </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <h2 style="color: #E4002B;font-size: 1.6em;hyphens: none;text-align: center;">Vos elegís el plan para acumular</h2>
        </center>
    </columns>
</row>
<row>
    <columns small="12" large="12" class="">
        <p style="hyphens: none;text-align: justify;">Solicitá otra tarjeta de crédito en minutos y disfrutá de los beneficios que tenemos para vos. Podés disfrutar desde viajes hasta compras en los supermercados de tu preferencia.</p>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-aadvantage.png" alt="AAdvantage">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-automercado.png" alt="Automercado">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-nov-cashback.png" alt="CashBaack">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-connectmiles.png" alt="ConnectMiles">
            </a>
        </center>
    </columns>
</row>
<row>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-nov-ganepremios.png" alt="Gane Premios">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-lifemiles.png" alt="LifeMiles">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-nov-millasplus.png" alt="MillasPlus">
            </a>
        </center>
    </columns>
    <columns small="6" large="4" class="columnscards">
        <center>
            <a href="{{cta_link}}">
                <img src="/images/cr-omas-set-pricesmart.png" alt="PriceSmart">
            </a>
        </center>
    </columns>
</row>
<spacer size="30"></spacer>
<row>
    <columns small="12" large="12" class="columnscards">
        <center>
            <p style="font-size: 1.6em;hyphens: none;text-align: center;">Facilidades de pago a plazos</p>
        </center>
    </columns>
</row>
<row>
  <center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-logo-tasacero.png" alt="Tasa Cero">
            </a>
        </center>
    </columns>
    <columns small="6" large="3">
        <center>
            <a href="{{cta_link}}">
                <img class="emailImage" src="/images/correo-tarjetas-nuevas-ppas-enero-2019-logo-minicuotas.png" alt="Minicuotas">
            </a>
        </center>
    </columns>
    </center>
</row>
<spacer size="20"></spacer>
<row style="background-color: #f5f6f8;">
    <columns>
        <spacer size="60"></spacer>
        <center>
            <h2 style="color: #E4002B; font-size: 1.6em;text-align: center;">Vos elegís el lugar para la entrega</h2>
            <spacer size="30"></spacer>
            <button class="button-background cta-rojo" href="{{cta_link}}" title="{{cta_title}}">{{cta_text}}</button>
        </center>
        <spacer size="20"></spacer>
    </columns>
</row>
